<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4bd9adcf-aaef-43fd-82ae-e22834fd1d75" Alias="Content Picker (0, 1)" Level="2">
  <Info>
    <Name>Content Picker (0, 1)</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ContentPicker</EditorUIAlias>
    <Folder>Pickers</Folder>
  </Info>
  <Config><![CDATA[{
  "filter": null,
  "ignoreUserStartNodes": true,
  "maxNumber": 1,
  "minNumber": 0,
  "showOpen": false,
  "treeSource": {
    "dynamicRoot": null,
    "id": null,
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>