<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8c99b235-1b8c-4b55-a6b5-990fa5a8e819" Alias="CSS Code Editor" Level="2">
  <Info>
    <Name>CSS Code Editor</Name>
    <EditorAlias>Umbraco.Plain.String</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.CodeEditor</EditorUIAlias>
    <Folder>Code+Editors</Folder>
  </Info>
  <Config><![CDATA[{
  "language": "css"
}]]></Config>
</DataType>