<?xml version="1.0" encoding="utf-8"?>
<DataType Key="de5e64ad-1c96-4620-96f2-ca071fe7a5de" Alias="HTML Editor" Level="2">
  <Info>
    <Name>HTML Editor</Name>
    <EditorAlias>Umbraco.RichText</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Tiptap</EditorUIAlias>
    <Folder>Other</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": null,
  "dimensions": {
    "width": null,
    "height": 350
  },
  "extensions": [
    "Umb.Tiptap.RichTextEssentials",
    "Umb.Tiptap.Anchor",
    "Umb.Tiptap.Blockquote",
    "Umb.Tiptap.Bold",
    "Umb.Tiptap.BulletList",
    "Umb.Tiptap.CodeBlock",
    "Umb.Tiptap.Embed",
    "Umb.Tiptap.Figure",
    "Umb.Tiptap.Heading",
    "Umb.Tiptap.HorizontalRule",
    "Umb.Tiptap.HtmlAttributeClass",
    "Umb.Tiptap.HtmlAttributeDataset",
    "Umb.Tiptap.HtmlAttributeId",
    "Umb.Tiptap.HtmlAttributeStyle",
    "Umb.Tiptap.HtmlTagDiv",
    "Umb.Tiptap.HtmlTagSpan",
    "Umb.Tiptap.Image",
    "Umb.Tiptap.Italic",
    "Umb.Tiptap.Link",
    "Umb.Tiptap.MediaUpload",
    "Umb.Tiptap.OrderedList",
    "Umb.Tiptap.Strike",
    "Umb.Tiptap.Subscript",
    "Umb.Tiptap.Superscript",
    "Umb.Tiptap.Table",
    "Umb.Tiptap.TextAlign",
    "Umb.Tiptap.TextDirection",
    "Umb.Tiptap.TextIndent",
    "Umb.Tiptap.TrailingNode",
    "Umb.Tiptap.Underline",
    "Umb.Tiptap.WordCount"
  ],
  "ignoreUserStartNodes": false,
  "maxImageSize": 500,
  "mediaParentId": null,
  "overlaySize": "small",
  "stylesheets": [
    "/css/html-editor-styles.css"
  ],
  "toolbar": [
    [
      [
        "Umb.Tiptap.Toolbar.ClearFormatting",
        "Umb.Tiptap.Toolbar.Undo",
        "Umb.Tiptap.Toolbar.Redo",
        "Umb.Tiptap.Toolbar.Bold",
        "Umb.Tiptap.Toolbar.Italic",
        "Umb.Tiptap.Toolbar.TextAlignLeft",
        "Umb.Tiptap.Toolbar.TextAlignCenter",
        "Umb.Tiptap.Toolbar.TextAlignRight",
        "Umb.Tiptap.Toolbar.BulletList",
        "Umb.Tiptap.Toolbar.OrderedList",
        "Umb.Tiptap.Toolbar.Link",
        "Umb.Tiptap.Toolbar.MediaPicker"
      ]
    ]
  ],
  "useLiveEditing": false
}]]></Config>
</DataType>