<?xml version="1.0" encoding="utf-8"?>
<DataType Key="eae9cabd-d1cc-473a-9ba6-f0572600c833" Alias="Html Code Editor" Level="2">
  <Info>
    <Name>Html Code Editor</Name>
    <EditorAlias>Umbraco.Plain.String</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.CodeEditor</EditorUIAlias>
    <Folder>Code+Editors</Folder>
  </Info>
  <Config><![CDATA[{
  "language": "html"
}]]></Config>
</DataType>