<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5a42286c-5043-471a-a216-1965d48d9509" Alias="Image Opacity" Level="2">
  <Info>
    <Name>Image Opacity</Name>
    <EditorAlias>Umbraco.Integer</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
    <Folder>Other</Folder>
  </Info>
  <Config><![CDATA[{
  "min": 0,
  "step": 0.05,
  "max": 1
}]]></Config>
</DataType>