<?xml version="1.0" encoding="utf-8"?>
<DataType Key="82e6dce1-34cf-466d-b038-93b4e703660c" Alias="JavaScript Code Editor" Level="2">
  <Info>
    <Name>JavaScript Code Editor</Name>
    <EditorAlias>Umbraco.Community.Contentment.CodeEditor</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Code+Editors</Folder>
  </Info>
  <Config><![CDATA[{
  "mode": "javascript",
  "theme": "chrome",
  "fontSize": "small",
  "useWrapMode": "0",
  "minLines": 12,
  "maxLines": 30
}]]></Config>
</DataType>