<?xml version="1.0" encoding="utf-8"?>
<DataType Key="82e6dce1-34cf-466d-b038-93b4e703660c" Alias="JavaScript Code Editor" Level="2">
  <Info>
    <Name>JavaScript Code Editor</Name>
    <EditorAlias>Umbraco.Plain.String</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.CodeEditor</EditorUIAlias>
    <Folder>Code+Editors</Folder>
  </Info>
  <Config><![CDATA[{
  "language": "javascript"
}]]></Config>
</DataType>