<?xml version="1.0" encoding="utf-8"?>
<DataType Key="11f6712e-01d5-4658-b157-5ed5ec3afa9b" Alias="Member Picker (0, 1)" Level="2">
  <Info>
    <Name>Member Picker (0, 1)</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Pickers</Folder>
  </Info>
  <Config><![CDATA[{
  "Filter": "Member",
  "IgnoreUserStartNodes": true,
  "MaxNumber": 1,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "dynamicRoot": null,
    "id": null,
    "query": "",
    "type": "member"
  }
}]]></Config>
</DataType>