<?xml version="1.0" encoding="utf-8"?>
<DataType Key="11f6712e-01d5-4658-b157-5ed5ec3afa9b" Alias="Member Picker (0, 1)" Level="2">
  <Info>
    <Name>Member Picker (0, 1)</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ContentPicker</EditorUIAlias>
    <Folder>Pickers</Folder>
  </Info>
  <Config><![CDATA[{
  "filter": "d59be02f-1df9-4228-aa1e-01917d806cda",
  "ignoreUserStartNodes": true,
  "maxNumber": 1,
  "minNumber": 0,
  "showOpen": false,
  "treeSource": {
    "dynamicRoot": null,
    "id": null,
    "query": "",
    "type": "member"
  }
}]]></Config>
</DataType>