<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b579b081-0e71-4d8a-b628-d5b073f30144" Alias="Multi URL Picker (0, 1)" Level="2">
  <Info>
    <Name>Multi URL Picker (0, 1)</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Other</Folder>
  </Info>
  <Config><![CDATA[{
  "HideAnchor": false,
  "IgnoreUserStartNodes": false,
  "MaxNumber": 1,
  "MinNumber": 0,
  "OverlaySize": "small"
}]]></Config>
</DataType>