<?xml version="1.0" encoding="utf-8"?>
<DataType Key="df4a7588-babb-4754-9662-d59d453aef13" Alias="Nested Webhook (0, n)" Level="2">
  <Info>
    <Name>Nested Webhook (0, n)</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>Nested</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "754b6ea7-47d1-4ffb-8453-59d063f6ebe8"
    }
  ],
  "validationLimit": {
    "min": null,
    "max": null
  }
}]]></Config>
</DataType>