<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b26bd503-51b4-4571-b4bc-0d5eb0f7c655" Alias="Nested Firewall Rule (0, n)" Level="2">
  <Info>
    <Name>Nested Firewall Rule (0, n)</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>Nested</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "72352406-be04-4e0b-aa39-3d4007e4c9dc"
    }
  ],
  "validationLimit": {
    "min": null,
    "max": null
  }
}]]></Config>
</DataType>