<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4cb144ca-7419-41f6-9b4f-f791f46beedf" Alias="Nested Template Asset Item (0, n)" Level="2">
  <Info>
    <Name>Nested Template Asset Item (0, n)</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>Nested</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "63c9ce3c-acf1-415e-9520-40e3a006be33"
    }
  ],
  "validationLimit": {
    "min": null,
    "max": null
  }
}]]></Config>
</DataType>