<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b26bd503-51b4-4571-b4bc-0d5eb0f7c655" Alias="Nested Firewall Rule (0, n)" Level="2">
  <Info>
    <Name>Nested Firewall Rule (0, n)</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Nested</Folder>
  </Info>
  <Config><![CDATA[{
  "ConfirmDeletes": true,
  "ContentTypes": [
    {
      "nameTemplate": "{{ruleName}} ({{ruleIpAddress}})",
      "ncAlias": "firewallRule",
      "ncTabAlias": "General"
    }
  ],
  "ExpandsOnLoad": true,
  "HideLabel": false,
  "MaxItems": null,
  "MinItems": null,
  "ShowIcons": false
}]]></Config>
</DataType>