<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a252c49d-a3a1-4512-83ee-06f767700455" Alias="Nested Page Asset Item (0, n)" Level="2">
  <Info>
    <Name>Nested Page Asset Item (0, n)</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>Nested</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "b963ddc4-00f9-45ab-844c-efd74e18a02e"
    }
  ],
  "validationLimit": {
    "min": null,
    "max": null
  }
}]]></Config>
</DataType>