<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4670f1a2-cb6d-484a-9cb9-a1876c58b005" Alias="Nested Link (1, n)" Level="2">
  <Info>
    <Name>Nested Link (1, n)</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>Nested</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "012d7f36-3e43-4ec7-a895-d3a14007733b"
    }
  ],
  "validationLimit": {
    "min": 1,
    "max": null
  }
}]]></Config>
</DataType>