<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bd0b5b07-e969-4aff-9c9b-7aa20a83877d" Alias="Percentage" Level="2">
  <Info>
    <Name>Percentage</Name>
    <EditorAlias>Umbraco.Community.Contentment.NumberInput</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
    <Folder>Other</Folder>
  </Info>
  <Config><![CDATA[{
  "size": "s"
}]]></Config>
</DataType>