<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a9121065-8da6-4629-adfb-01278f30c129" Alias="Template Asset Uploader" Level="2">
  <Info>
    <Name>Template Asset Uploader</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MediaPicker</EditorUIAlias>
    <Folder>Uploaders</Folder>
  </Info>
  <Config><![CDATA[{
  "crops": null,
  "enableLocalFocalPoint": false,
  "filter": "",
  "ignoreUserStartNodes": false,
  "multiple": false,
  "startNodeId": null,
  "validationLimit": {
    "min": 0,
    "max": 1
  }
}]]></Config>
</DataType>