<?xml version="1.0" encoding="utf-8"?>
<DataType Key="547728b4-a15e-45b9-ac54-57eef497b6d3" Alias="Webhook Event Data List (0, 1)" Level="2">
  <Info>
    <Name>Webhook Event Data List (0, 1)</Name>
    <EditorAlias>Umbraco.Community.Contentment.DataList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Data+Lists</Folder>
  </Info>
  <Config><![CDATA[{
  "dataSource": [
    {
      "key": "N3O.Umbraco.Webhooks.Lookups.WebhookEventsDataSource, N3O.Umbraco.Webhooks",
      "value": {}
    }
  ],
  "listEditor": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.ItemPickerDataListEditor, Umbraco.Community.Contentment",
      "value": {
        "overlaySize": "small",
        "defaultIcon": "icon-document",
        "listType": "list",
        "enableFilter": "1",
        "maxItems": 1,
        "allowClear": "0"
      }
    }
  ]
}]]></Config>
</DataType>