@model ICrowdfunderViewModel

<div class="hero__bg">
    <img src="@Model.Content.BackgroundImage.Crop.Src" alt="" n3o-editor="(Model, PropertyTypes.Cropper, nameof(Model.Content.BackgroundImage)">
</div>