@using Microsoft.AspNetCore.Mvc.TagHelpers
@using N3O.Umbraco.Accounts.Models
@using DataEntrySettings = DemoSite.Content.DataEntrySettings
@model (N3O.Umbraco.CrowdFunding.Models.CreateFundraiserViewModel FundraiserModel, N3O.Umbraco.Accounts.Models.IAccount Account)

@inject IContentCache ContentCache

<div class="modalsItem modall" id="updateAccount-modal">
    <div class="newAccount__wrapper" style="margin: auto; width: 90vw">
        <div class="newAccount" id="newAccount">
            <div class="newAccount__head">
                <h4>Confirm your details</h4>
                <div class="detail">
                    You can update or make any corrections below before continuing.
                </div>
            </div>
            <div class="newAccount__body">
                <form id="update-account-form" method="post" action="" autocomplete="on">
                    @foreach (var field in Model.FundraiserModel.DataEntrySettings.Name.GetFieldSettings().Where(x => x.Visible)) {
                     @await Html.PartialAsync($"/Views/Partials/Crowdfunding/Components/FormFields/{field.Type}.cshtml", (field, (object) Model.Account))
                    }

                    @await Html.PartialAsync("~/Views/Partials/Crowdfunding/Components/FormFields/Phone.cshtml", (Model.FundraiserModel.DataEntrySettings.Phone, Model.Account?.Telephone?.Number, Model.Account?.Telephone?.Country?.Iso2Code))

                    @await Html.PartialAsync("~/Views/Partials/Crowdfunding/Components/FormFields/Text.cshtml", ((FieldSettings) Model.FundraiserModel.DataEntrySettings.Email, (object) Model.Account))

                    @foreach (var field in Model.FundraiserModel.DataEntrySettings.Address.GetFieldSettings().Where(x => x.Visible)) {
                    @await Html.PartialAsync($"~/Views/Partials/Crowdfunding/Components/FormFields/{field.Type}.cshtml", (field, (object) Model.Account))
                    }

                    <button type="button" class="button primary" id="newAccountBtn">
                        Continue
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="/assets/js/newAccount.js"></script>

<script>
    @Html.Raw(ContentCache.Single<DataEntrySettings>().JavaScript);

</script>