@font-face {
  font-family: "West";
  src: url("WestTrial-ExtraBoldWeb.woff2") format("woff2"),
    url("WestTrial-ExtraBoldWeb.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "West";
  src: url("WestTrial-LightWeb.woff2") format("woff2"),
    url("WestTrial-LightWeb.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "West";
  src: url("WestTrial-MediumWeb.woff2") format("woff2"),
    url("WestTrial-MediumWeb.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
