@using Humanizer
@using N3O.Umbraco.Templates
@model N3O.Umbraco.CrowdFunding.Models.FundraisingPage.FundraisingContentPageViewModel

@inject IPartialText PartialText

@{
PartialText.SetPartialName("Description");
}

<div class="campaign">
    <div class="campaign__content" data-about-edit="edit-campaign-about">
        <div class="campaign__title big">
            <h2>@PartialText.Get("About This Campaign")</h2>
            <div id="about-description" data-type="textarea" data-property-alias="@nameof(Model.Content.AboutPage).Camelize()">
                @Html.Raw(Model.Content.AboutPage)
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function (){
        let images = document.querySelectorAll('#about-description img');

        images?.forEach(image => {
            let wrapperDiv = document.createElement("div");
            wrapperDiv.classList.add("campaign__image");

            const clonedImage = image.cloneNode(true);

            wrapperDiv.appendChild(clonedImage);

            image.parentNode.replaceChild(wrapperDiv, image);
        });
    });
</script>