<br />

<div class="ums-form__label" name="GoalIsSubscription">Trigger the goal for</div>
<div class="ums-form__switch ums-form__switch--autosize">
    <input type="radio" 
           name="ums-uf-goal-editor_mode"
           class="ums-form__switch__input"
           ng-value="$ctrl.MODE.ALL_FORMS"
           ng-model="$ctrl.config.mode"
           no-dirty-check
           id="ums-uf-goal-editor_mode_0" />

    <label class="ums-form__switch__label"
           for="ums-uf-goal-editor_mode_0">Any Umbraco Form</label>

    <input type="radio" 
           name="ums-uf-goal-editor_mode"
           class="ums-form__switch__input"
           ng-value="$ctrl.MODE.SPECIFIC_FORMS"
           ng-model="$ctrl.config.mode"
           no-dirty-check
           id="ums-uf-goal-editor_mode_1" />

    <label class="ums-form__switch__label"
           for="ums-uf-goal-editor_mode_1">These specific Umbraco Forms</label>
</div>

<div ng-show="$ctrl.config.mode === $ctrl.MODE.SPECIFIC_FORMS"
     style="margin-top:10px">
    <div class="ums-form__scroller" style="padding-right:5px;max-height: 300px">
        <div class="form-search" style="margin-right: 0;">
            <i class="icon-search" aria-hidden="true"></i>
            <input type="text"
                   class="-full-width-input"
                   ng-model="$ctrl.formNameFilter"
                   placeholder="Type to filter forms"
                   no-dirty-check />
        </div>

        <div ng-repeat="form in $ctrl.forms | filter: {name: $ctrl.formNameFilter}">
            <label class="ums-form__doctypeLabel">
                <span class="ums-form__doctypePicker">
                    <input type="checkbox" 
                           ng-checked="$ctrl.selectedForms[form.id]" 
                           ng-click="$ctrl.toggleSelect(form.id)" />
                    {{form.name}}
                </span>
            </label>
        </div>
    </div>
</div>
