<div ng-controller="N3O.Umbraco.Data.ImportFieldsEditor">
    <div class="n3o-import-fields-editor">

        <div ng-repeat="resource in model.value.fields track by $index" class="row-wrapper">
            <div class="row-1"><span class="text">{{model.value.fields[$index].name}}</span>
                <span class="sourceToolTip" data-tooltip="{{model.value.fields[$index].sourceValue}}">(Source value)</span>
            </div>
            <div class="row-2">
                <!-- TODO Should be more complex, e.g. if value has newlines needs to be a textarea etc -->
                <input type="text" ng-model="model.value.fields[$index].value" class="custom"/>
                <input type="file" id="zipFile" ngf-select="uploadResource(model.value.reference)" ng-if="model.value.fields[$index].isFile" ng-model="image" required/>
            </div>
            <a ng-click="uploadResource(model.value.reference)" style="cursor: pointer;">Exclude/Include</a>
        </div>
    </div>
</div>