<umb-editor-view>    
    <umb-editor-header name="model.title"
                       name-locked="true"
                       description-locked="true"
                       hide-alias="true"
                       hide-icon="true"
                       description="model.description"
                       hide-description="model.types.length ? true : false">
    </umb-editor-header>
    <umb-editor-container>
        <workflow-content-type-flow model="model"></workflow-content-type-flow>
    </umb-editor-container>
    <umb-editor-footer>
        <umb-editor-footer-content-right>
            <umb-button type="button"
                        button-style="link"
                        label-key="general_close"
                        action="model.close()">
            </umb-button>
            <umb-button type="button"
                        button-style="success"
                        label-key="general_submit"
                        action="model.submit(model)">
            </umb-button>
        </umb-editor-footer-content-right>
    </umb-editor-footer>
</umb-editor-view>