<umb-editor-view class="workflow-detail-overlay">
    <umb-editor-header name="model.title"
                       name-locked="true"
                       description-locked="true"
                       hide-alias="true"
                       hide-icon="true"
                       description="model.description">
    </umb-editor-header>
    <umb-editor-container>
        <div ng-if="model.readonly">
            <workflow-change-description item="model.instance"></workflow-change-description>
            <workflow-scheduling item="model.instance" 
                                 ng-if="model.instance.scheduledDate"></workflow-scheduling>
            <workflow-task-list instance-guid="model.instance.instanceGuid || model.instance.instance.guid"></workflow-task-list>
        </div>
        <div ng-if="!model.readonly">
            <workflow-action state="model.state" 
                             instance="model.instance" 
                             dashboard="true" 
                             ng-if="model.state.currentTask"></workflow-action>
            <umb-empty-state ng-if="!model.state.currentTask" position="center">
                <localize key="workflow_noActiveWorkflow">No active workflow found</localize>
            </umb-empty-state>
        </div>
    </umb-editor-container>
    <umb-editor-footer>
        <umb-editor-footer-content-left>
            <small style="opacity:0.5">Id: {{ model.instance.instanceGuid || model.instance.instance.guid }}</small>
        </umb-editor-footer-content-left>
        <umb-editor-footer-content-right>
            <umb-button type="button"
                        button-style="link"
                        label-key="general_close"
                        action="model.close()">
            </umb-button>
        </umb-editor-footer-content-right>
    </umb-editor-footer>
</umb-editor-view>
