@model N3O.Umbraco.CrowdFunding.Models.FundraisingPage.FundraisingContentPageViewModel

<body data-page-id="@Model.Content.Content().Key" data-page-mode="edit">
<link href="/assets/css/crowdfunding.css" rel="stylesheet"/>
<link href="/assets/css/crowdfunding-main.css" rel="stylesheet"/>

    <div class="main">
        @await Html.PartialAsync("~/Views/Partials/Crowdfunding/Components/FundraisingPage/FundraisingPageHeroImageBanner.cshtml", Model)
        <section class="info">
            <div class="auto__container">
                <div class="info__inner">
                    <div class="info__inner-row">
                        <div class="info__inner-col">
                            @await Html.PartialAsync("~/Views/Partials/Crowdfunding/Components/FundraisingPage/FundraisingPageOverView.cshtml", Model)
                            @await Html.PartialAsync("~/Views/Partials/Crowdfunding/Components/FundraisingPage/FundraisingPageAboutCampaign.cshtml", Model)
                        </div>
                        <div class="info__inner-col">
                            @await Html.PartialAsync("~/Views/Partials/Crowdfunding/Components/FundraisingPage/FundraisingPageDonationForm.cshtml", Model)
                            @await Html.PartialAsync("~/Views/Partials/Crowdfunding/Components/FundraisingPage/FundraisingPageContributions.cshtml", Model)
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div id="cf-container"></div>
        <script src="/assets/js/jquery.js"></script>
        <script src="/assets/js/slick.min.js"></script>
        <script src="/assets/js/crowdfunding-main.js"></script>
        <script src="/assets/js/tabs.js"></script>
        <script src="/assets/js/modals.js"></script>
        <script src="/assets/js/numberVal.js"></script>
        <script type="module" src="/assets/js/crowdfunding.min.js"></script>
    </div>
</body>