@page
@model N3O.Umbraco.Crowdfunding.StaticAssets.content.Views.Partials.Crowdfunding.FundraiserPage

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
    <div>
          
    </div>
</body>
</html>