<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9508495c-4e41-47ad-b164-15abade14914" Alias="Attribution Dimension Index" Level="2">
  <Info>
    <Name>Attribution Dimension Index</Name>
    <EditorAlias>Umbraco.Integer</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
    <Folder>Other</Folder>
  </Info>
  <Config><![CDATA[{
  "min": 0,
  "step": 1,
  "max": 11
}]]></Config>
</DataType>