<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a1f6263c-ad63-4c65-a53f-896974fabcf0" Alias="Badge Links Uploader" Level="2">
  <Info>
    <Name>Badge Links Uploader</Name>
    <EditorAlias>N3O.Umbraco.Uploader</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Uploaders</Folder>
  </Info>
  <Config><![CDATA[{
  "AllowedExtensions": ".png",
  "AltTextRequired": false,
  "ImagesOnly": true,
  "MaxFileSizeMb": "0.5",
  "MaxImageHeight": null,
  "MaxImageWidth": null,
  "MinImageHeight": null,
  "MinImageWidth": null
}]]></Config>
</DataType>