<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bf43d871-f02a-47a0-9441-0abe0f8c26a9" Alias="Blocks" Level="2">
  <Info>
    <Name>Blocks</Name>
    <EditorAlias>Perplex.ContentBlocks</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Blocks</Folder>
  </Info>
  <Config><![CDATA[{
  "AllowBlocksWithoutHeader": true,
  "DisablePreview": false,
  "HideLabel": true,
  "HidePropertyGroupContainer": false,
  "Structure": 1,
  "Version": 3
}]]></Config>
</DataType>