<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5ba72522-52e5-4da2-8546-01709f4e0518" Alias="Blog Category Picker (0, n)" Level="2">
  <Info>
    <Name>Blog Category Picker (0, n)</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Pickers</Folder>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": null,
    "id": "umb://document/db6bc49351ac4e7fb813184e67dbd591"
  },
  "Filter": "blogCategory",
  "MinNumber": 0,
  "MaxNumber": 0,
  "ShowOpen": false,
  "IgnoreUserStartNodes": true
}]]></Config>
</DataType>