<?xml version="1.0" encoding="utf-8"?>
<DataType Key="472e9ee1-63a8-4a4e-9447-ba33299b5d19" Alias="Capitalisation Data List (0, 1)" Level="2">
  <Info>
    <Name>Capitalisation Data List (0, 1)</Name>
    <EditorAlias>Umbraco.Community.Contentment.DataList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Data+Lists</Folder>
  </Info>
  <Config><![CDATA[{
  "dataSource": [
    {
      "key": "N3O.Umbraco.Lookups.CapitalisationDataSource, N3O.Umbraco.Extensions",
      "value": {}
    }
  ],
  "listEditor": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.ItemPickerDataListEditor, Umbraco.Community.Contentment",
      "value": {
        "overlaySize": "small",
        "defaultIcon": "icon-document",
        "listType": "list",
        "enableFilter": "1",
        "maxItems": 1,
        "allowClear": "0"
      }
    }
  ]
}]]></Config>
</DataType>