<?xml version="1.0" encoding="utf-8"?>
<DataType Key="95f30a54-0000-0000-0000-000000000000" Alias="Checkout Account Block" Level="3">
  <Info>
    <Name>Checkout Account Block</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Blocks/Advanced</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "checkoutAccountBlock",
      "ncTabAlias": "General",
      "nameTemplate": "Checkout Account"
    }
  ],
  "MinItems": 1,
  "MaxItems": 1,
  "ConfirmDeletes": false,
  "ShowIcons": false,
  "HideLabel": true
}]]></Config>
</DataType>