<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0db0cf54-8925-4692-baeb-5559d5050aed" Alias="Checkout Advert Content Image Uploader" Level="2">
  <Info>
    <Name>Checkout Advert Content Image Uploader</Name>
    <EditorAlias>N3O.Umbraco.Uploader</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Uploaders</Folder>
  </Info>
  <Config><![CDATA[{
  "AllowedExtensions": ".png, .jpg",
  "AltTextRequired": false,
  "ImagesOnly": true,
  "MaxFileSizeMb": "5",
  "MaxImageHeight": null,
  "MaxImageWidth": null,
  "MinImageHeight": null,
  "MinImageWidth": null
}]]></Config>
</DataType>