<?xml version="1.0" encoding="utf-8"?>
<DataType Key="87a779fc-0000-0000-0000-000000000000" Alias="Checkout Complete Block" Level="3">
  <Info>
    <Name>Checkout Complete Block</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Blocks/Advanced</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "checkoutCompleteBlock",
      "ncTabAlias": "General",
      "nameTemplate": "Checkout Complete"
    }
  ],
  "MinItems": 1,
  "MaxItems": 1,
  "ConfirmDeletes": false,
  "ShowIcons": false,
  "HideLabel": true
}]]></Config>
</DataType>