<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fed26d18-2175-4897-9953-51d8ef24f828" Alias="Consent Channels Data List (0, 1)" Level="2">
  <Info>
    <Name>Consent Channels Data List (0, 1)</Name>
    <EditorAlias>Umbraco.Community.Contentment.DataList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Other</Folder>
  </Info>
  <Config><![CDATA[{
  "dataSource": [
    {
      "key": "N3O.Umbraco.Accounts.Lookups.ConsentChannelDataSource, N3O.Umbraco.Accounts",
      "value": {}
    }
  ],
  "listEditor": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.ItemPickerDataListEditor, Umbraco.Community.Contentment",
      "value": {
        "overlaySize": "small",
        "defaultIcon": "icon-document",
        "listType": "list",
        "enableFilter": "1",
        "maxItems": 1,
        "allowClear": "0"
      }
    }
  ]
}]]></Config>
</DataType>