<?xml version="1.0" encoding="utf-8"?>
<DataType Key="cdcb8362-8598-4d93-9d2b-b72c737a3fa2" Alias="Consent Category Picker (0, n)" Level="2">
  <Info>
    <Name>Consent Category Picker (0, n)</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Pickers</Folder>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": null,
    "id": "umb://document/478642fa56294934b5ee915891690103"
  },
  "Filter": "consentCategory",
  "MinNumber": 0,
  "MaxNumber": 0,
  "ShowOpen": false,
  "IgnoreUserStartNodes": true
}]]></Config>
</DataType>