<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4bd9adcf-aaef-43fd-82ae-e22834fd1d75" Alias="Content Picker (0, 1)" Level="2">
  <Info>
    <Name>Content Picker (0, 1)</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Pickers</Folder>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": null,
    "id": null
  },
  "Filter": null,
  "MinNumber": 0,
  "MaxNumber": 1,
  "ShowOpen": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>