<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b9fc6b8e-f746-4bcc-b9a4-a11474c15f84" Alias="Country Picker (0, 1)" Level="2">
  <Info>
    <Name>Country Picker (0, 1)</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Pickers</Folder>
  </Info>
  <Config><![CDATA[{
  "Filter": "country",
  "IgnoreUserStartNodes": true,
  "MaxNumber": 1,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "id": "umb://document/910f8116b3b442c7aba4ea28f0040e21",
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>