<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b56622fe-0f6a-4153-8c5c-22c1550eec40" Alias="Crowdfunding Fundraiser Notification Email From Name Label" Level="2">
  <Info>
    <Name>Crowdfunding Fundraiser Notification Email From Name Label</Name>
    <EditorAlias>Umbraco.Label</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Labels</Folder>
  </Info>
  <Config><![CDATA[{
  "ValueType": "STRING"
}]]></Config>
</DataType>