<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f16e73ba-2649-482b-b3c9-84fc27e5049d" Alias="Crowdfunding Goals Editor Notes Label" Level="2">
  <Info>
    <Name>Crowdfunding Goals Editor Notes Label</Name>
    <EditorAlias>Umbraco.Community.Contentment.EditorNotes</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
    <Folder>Labels</Folder>
  </Info>
  <Config><![CDATA[{
  "alertType": "well",
  "message": "<p>These are the goals for the overall campaign that the organizers aim to raise by the end of the campaign period.</p>",
  "hideLabel": "1",
  "hidePropertyGroup": "0"
}]]></Config>
</DataType>