<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6f53e860-7ad2-4034-8587-d159b0974c0a" Alias="Crowdfunding Tag Category Svg Uploader" Level="2">
  <Info>
    <Name>Crowdfunding Tag Category Svg Uploader</Name>
    <EditorAlias>N3O.Umbraco.Uploader</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Uploaders</Folder>
  </Info>
  <Config><![CDATA[{
  "AllowedExtensions": ".svg",
  "AltTextRequired": false,
  "ImagesOnly": false,
  "MaxFileSizeMb": "1",
  "MaxImageHeight": null,
  "MaxImageWidth": null,
  "MinImageHeight": null,
  "MinImageWidth": null
}]]></Config>
</DataType>