<?xml version="1.0" encoding="utf-8"?>
<DataType Key="094c9351-564a-492e-9f18-15b973d5066f" Alias="Crowdfunding Banner Cropper" Level="2">
  <Info>
    <Name>Crowdfunding Banner Cropper</Name>
    <EditorAlias>N3O.Umbraco.Cropper</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Croppers</Folder>
  </Info>
  <Config><![CDATA[{
  "AltText": false,
  "CropDefinitions": [
    {
      "alias": "m",
      "filters": null,
      "height": 410,
      "label": "M",
      "width": 1500
    }
  ]
}]]></Config>
</DataType>