<?xml version="1.0" encoding="utf-8"?>
<DataType Key="614cc38e-e054-42b4-8b92-a3f67d409e90" Alias="Crowdfunding Status Label" Level="2">
  <Info>
    <Name>Crowdfunding Status Label</Name>
    <EditorAlias>Umbraco.Label</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Labels</Folder>
  </Info>
  <Config><![CDATA[{
  "ValueType": "STRING"
}]]></Config>
</DataType>