<?xml version="1.0" encoding="utf-8"?>
<DataType Key="12275763-77f4-422e-af71-bf8b0918ff91" Alias="Crowdfunder Status Toggle" Level="2">
  <Info>
    <Name>Crowdfunder Status Toggle</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
    <Folder>Other</Folder>
  </Info>
  <Config><![CDATA[{
  "Default": false,
  "LabelOff": null,
  "LabelOn": null,
  "ShowLabels": false
}]]></Config>
</DataType>