<?xml version="1.0" encoding="utf-8"?>
<DataType Key="80267970-bce4-461a-a76a-f74a91a45087" Alias="Crowdfunding Campaign Picker (0, 1)" Level="2">
  <Info>
    <Name>Crowdfunding Campaign Picker (0, 1)</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Pickers</Folder>
  </Info>
  <Config><![CDATA[{
  "Filter": null,
  "IgnoreUserStartNodes": true,
  "MaxNumber": 1,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "id": "umb://document/b0bc5dfc6a5f4248b04a37ad50e0e96b",
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>