<?xml version="1.0" encoding="utf-8"?>
<DataType Key="cf61b96a-87e9-4199-b1c4-af7ad1574bdf" Alias="Crowdfunding Guest Fundraiser Logo Cropper" Level="2">
  <Info>
    <Name>Crowdfunding Guest Fundraiser Logo Cropper</Name>
    <EditorAlias>N3O.Umbraco.Cropper</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Croppers</Folder>
  </Info>
  <Config><![CDATA[{
  "AltText": false,
  "CropDefinitions": [
    {
      "alias": "s",
      "filters": null,
      "height": 80,
      "label": "S",
      "width": 80
    }
  ]
}]]></Config>
</DataType>