<?xml version="1.0" encoding="utf-8"?>
<DataType Key="68ee7174-a018-4621-aaf5-3b96f41803a0" Alias="Crowdfunding Allowed Fundraisers Editor Notes Label" Level="2">
  <Info>
    <Name>Crowdfunding Allowed Fundraisers Editor Notes Label</Name>
    <EditorAlias>Umbraco.Community.Contentment.EditorNotes</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
    <Folder>Labels</Folder>
  </Info>
  <Config><![CDATA[{
  "alertType": "well",
  "message": "<p>These are the goals a fundraiser will be presented with when creating or editing a page.</p>",
  "hideLabel": "1",
  "hidePropertyGroup": "0"
}]]></Config>
</DataType>