<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2ce1b5d4-9f4e-45dc-ab06-14bec58c8b75" Alias="Crowdfunding Account Reference Label" Level="2">
  <Info>
    <Name>Crowdfunding Account Reference Label</Name>
    <EditorAlias>Umbraco.Label</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Labels</Folder>
  </Info>
  <Config><![CDATA[{
  "ValueType": "STRING"
}]]></Config>
</DataType>