<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e7e66db9-0b94-4535-99f2-cc5dfeb227c2" Alias="Crowdfunding Campaign Goal ID Label" Level="2">
  <Info>
    <Name>Crowdfunding Campaign Goal ID Label</Name>
    <EditorAlias>Umbraco.Label</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Labels</Folder>
  </Info>
  <Config><![CDATA[{
  "ValueType": "STRING"
}]]></Config>
</DataType>