<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5779fdb1-34ea-4f81-8811-247aef17f35f" Alias="Crowdfunder StatusLabel" Level="2">
  <Info>
    <Name>Crowdfunder StatusLabel</Name>
    <EditorAlias>Umbraco.Label</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Labels</Folder>
  </Info>
  <Config><![CDATA[{
  "ValueType": "STRING"
}]]></Config>
</DataType>