<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c03a6b19-5904-4fde-944d-ee6a1a372856" Alias="Crowdfunding Open Graph Image Path Label" Level="2">
  <Info>
    <Name>Crowdfunding Open Graph Image Path Label</Name>
    <EditorAlias>Umbraco.Label</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Labels</Folder>
  </Info>
  <Config><![CDATA[{
  "ValueType": "STRING"
}]]></Config>
</DataType>