<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1a46bb59-bb01-4bdb-83b0-d5d698e28270" Alias="Crowdfunding Hero Image Cropper" Level="2">
  <Info>
    <Name>Crowdfunding Hero Image Cropper</Name>
    <EditorAlias>N3O.Umbraco.Cropper</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Croppers</Folder>
  </Info>
  <Config><![CDATA[{
  "AltText": false,
  "CropDefinitions": [
    {
      "alias": "s",
      "filters": null,
      "height": 400,
      "label": "S",
      "width": 550
    }
  ]
}]]></Config>
</DataType>