<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a3055127-a865-4438-8779-fc91bb5868d2" Alias="Crowdfunding Fundraiser Notification Email Subject Label" Level="2">
  <Info>
    <Name>Crowdfunding Fundraiser Notification Email Subject Label</Name>
    <EditorAlias>Umbraco.Label</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Labels</Folder>
  </Info>
  <Config><![CDATA[{
  "ValueType": "STRING"
}]]></Config>
</DataType>