<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5e6a46fb-82a8-411c-8904-08ace888ec2d" Alias="Crowdfunding Fundraiser Notification Email Sent At Label" Level="2">
  <Info>
    <Name>Crowdfunding Fundraiser Notification Email Sent At Label</Name>
    <EditorAlias>Umbraco.Label</EditorAlias>
    <DatabaseType>Date</DatabaseType>
    <Folder>Labels</Folder>
  </Info>
  <Config><![CDATA[{
  "ValueType": "DATETIME"
}]]></Config>
</DataType>