<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f257c4bd-63b8-4e83-92da-b7d4e71b7c47" Alias="Crowdfunding Fundraiser Notification Email Type Label" Level="2">
  <Info>
    <Name>Crowdfunding Fundraiser Notification Email Type Label</Name>
    <EditorAlias>Umbraco.Label</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Labels</Folder>
  </Info>
  <Config><![CDATA[{
  "ValueType": "STRING"
}]]></Config>
</DataType>