<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b14cd61f-593c-4e69-a5b9-1f0678ca5cf1" Alias="Crowdfunding Allocations Hash Label" Level="2">
  <Info>
    <Name>Crowdfunding Allocations Hash Label</Name>
    <EditorAlias>Umbraco.Label</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Labels</Folder>
  </Info>
  <Config><![CDATA[{
  "ValueType": "STRING"
}]]></Config>
</DataType>