<?xml version="1.0" encoding="utf-8"?>
<DataType Key="69220d45-a8b7-4707-8d41-c9e307fd649f" Alias="Crowdfunding Goal Option ID Label" Level="2">
  <Info>
    <Name>Crowdfunding Goal Option ID Label</Name>
    <EditorAlias>Umbraco.Label</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Labels</Folder>
  </Info>
  <Config><![CDATA[{
  "ValueType": "STRING"
}]]></Config>
</DataType>