<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b529518b-7449-46ea-96c6-c5c4a1fe1b0d" Alias="Crowdfunding Image Uploader" Level="2">
  <Info>
    <Name>Crowdfunding Image Uploader</Name>
    <EditorAlias>N3O.Umbraco.Uploader</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Uploaders</Folder>
  </Info>
  <Config><![CDATA[{
  "AllowedExtensions": ".png, .jpg",
  "AltTextRequired": false,
  "ImagesOnly": true,
  "MaxFileSizeMb": "10",
  "MaxImageHeight": null,
  "MaxImageWidth": null,
  "MinImageHeight": null,
  "MinImageWidth": null
}]]></Config>
</DataType>