<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f6597c40-83d2-42c0-b897-8e9aa5370a84" Alias="Crowdfunding Fundraiser Notification Email From Email Label" Level="2">
  <Info>
    <Name>Crowdfunding Fundraiser Notification Email From Email Label</Name>
    <EditorAlias>Umbraco.Label</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Labels</Folder>
  </Info>
  <Config><![CDATA[{
  "ValueType": "STRING"
}]]></Config>
</DataType>