<?xml version="1.0" encoding="utf-8"?>
<DataType Key="25b56ddc-01f8-4b07-a10b-bdcda7abc26b" Alias="Crowdfunder Error Label" Level="2">
  <Info>
    <Name>Crowdfunder Error Label</Name>
    <EditorAlias>Umbraco.Community.Contentment.TemplatedLabel</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Labels</Folder>
  </Info>
  <Config><![CDATA[{
  "umbracoDataValueType": "JSON",
  "notes": "<p>{{model.value.Message}}</p>",
  "hideLabel": "0",
  "hidePropertyGroup": "0",
  "enableDevMode": "0"
}]]></Config>
</DataType>