<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a65137f8-93fb-4a95-bec8-91e45e5bfa47" Alias="Crowdfunding Tag Category Picker (0, 1)" Level="2">
  <Info>
    <Name>Crowdfunding Tag Category Picker (0, 1)</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Pickers</Folder>
  </Info>
  <Config><![CDATA[{
  "Filter": "campaignTagCategory",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 1,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "dynamicRoot": null,
    "id": "umb://document/1fd67f668bb24e32ae66678439ff760a",
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>