<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d8a4cc86-a71f-46db-8603-2e1c58bfda06" Alias="Crowdfunding Pledge Revision Id Label" Level="2">
  <Info>
    <Name>Crowdfunding Pledge Revision Id Label</Name>
    <EditorAlias>Umbraco.Label</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Labels</Folder>
  </Info>
  <Config><![CDATA[{
  "ValueType": "STRING"
}]]></Config>
</DataType>