<?xml version="1.0" encoding="utf-8"?>
<DataType Key="14a9cff0-6e8c-4a4a-87f5-73fefe3855df" Alias="Crowdfunding Fundraiser Notification Email Recipient Label" Level="2">
  <Info>
    <Name>Crowdfunding Fundraiser Notification Email Recipient Label</Name>
    <EditorAlias>Umbraco.Label</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Labels</Folder>
  </Info>
  <Config><![CDATA[{
  "ValueType": "STRING"
}]]></Config>
</DataType>