<?xml version="1.0" encoding="utf-8"?>
<DataType Key="11070d2e-c617-4584-9111-22098528100e" Alias="Crowdfunder Fundraiser Notification Type (0, 1)" Level="2">
  <Info>
    <Name>Crowdfunder Fundraiser Notification Type (0, 1)</Name>
    <EditorAlias>Umbraco.Community.Contentment.DataList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Data+Lists</Folder>
  </Info>
  <Config><![CDATA[{
  "dataSource": [
    {
      "key": "N3O.Umbraco.Crowdfunding.Lookups.FundraiserNotificationTypeSource, N3O.Umbraco.Crowdfunding",
      "value": {}
    }
  ],
  "listEditor": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.ItemPickerDataListEditor, Umbraco.Community.Contentment",
      "value": {
        "overlaySize": [
          "small"
        ],
        "listType": "list",
        "defaultIcon": "icon-document",
        "enableFilter": "1",
        "maxItems": 1,
        "allowClear": "0"
      }
    }
  ]
}]]></Config>
</DataType>