<?xml version="1.0" encoding="utf-8"?>
<DataType Key="23e0631a-e65f-48bc-80ca-9670abcbc734" Alias="Crowdfunding Display Name Label" Level="2">
  <Info>
    <Name>Crowdfunding Display Name Label</Name>
    <EditorAlias>Umbraco.Label</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Labels</Folder>
  </Info>
  <Config><![CDATA[{
  "ValueType": "STRING"
}]]></Config>
</DataType>