<?xml version="1.0" encoding="utf-8"?>
<DataType Key="17bc6733-9cc1-47e7-aaab-9fbea148bfd4" Alias="Crowdfunding Production URL Label" Level="2">
  <Info>
    <Name>Crowdfunding Production URL Label</Name>
    <EditorAlias>Umbraco.Community.Contentment.TemplatedLabel</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Labels</Folder>
  </Info>
  <Config><![CDATA[{
  "umbracoDataValueType": "STRING",
  "notes": "<p>\n    Production Url: <a href=\"{{model.value}}\">{{model.value}}</a>\n</p>\n\n",
  "hideLabel": "0",
  "hidePropertyGroup": "0",
  "enableDevMode": "0"
}]]></Config>
</DataType>