<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6387b5ed-727c-4a45-bacb-53e2996d1aaf" Alias="Currency Data List (0, 1)" Level="2">
  <Info>
    <Name>Currency Data List (0, 1)</Name>
    <EditorAlias>Umbraco.Community.Contentment.DataList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Data+Lists</Folder>
  </Info>
  <Config><![CDATA[{
  "dataSource": [
    {
      "key": "N3O.Umbraco.Financial.CurrencyDataSource, N3O.Umbraco.Extensions",
      "value": {}
    }
  ],
  "listEditor": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.ItemPickerDataListEditor, Umbraco.Community.Contentment",
      "value": {
        "overlaySize": [
          "small"
        ],
        "listType": "list",
        "defaultIcon": "icon-document",
        "enableFilter": "1",
        "maxItems": 1,
        "allowClear": "0"
      }
    }
  ]
}]]></Config>
</DataType>