<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ddc04e87-5a60-4b68-a060-2e073622ae20" Alias="Currency Picker (0, 1)" Level="2">
  <Info>
    <Name>Currency Picker (0, 1)</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Pickers</Folder>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": null,
    "id": "umb://document/f23e9e75f50d4f038ab4a2072f7f08c9"
  },
  "Filter": "currency",
  "MinNumber": 0,
  "MaxNumber": 1,
  "ShowOpen": false,
  "IgnoreUserStartNodes": true
}]]></Config>
</DataType>