<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9b52c7be-e447-4793-a1ad-63f6a26b923c" Alias="Day of Month Data List (0, n)" Level="2">
  <Info>
    <Name>Day of Month Data List (0, n)</Name>
    <EditorAlias>Umbraco.Community.Contentment.DataList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Data+Lists</Folder>
  </Info>
  <Config><![CDATA[{
  "dataSource": [
    {
      "key": "N3O.Umbraco.Lookups.DayOfMonthDataSource, N3O.Umbraco.Extensions",
      "value": {}
    }
  ],
  "listEditor": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.ItemPickerDataListEditor, Umbraco.Community.Contentment",
      "value": {
        "overlaySize": "small",
        "defaultIcon": "icon-document",
        "listType": "list",
        "enableFilter": "1",
        "maxItems": 0,
        "allowClear": "0",
        "enableMultiple": "1"
      }
    }
  ]
}]]></Config>
</DataType>