<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b74fadfb-4823-4c53-8d3d-8aececb99a98" Alias="Demo Cropper" Level="2">
  <Info>
    <Name>Demo Cropper</Name>
    <EditorAlias>N3O.Umbraco.Cropper</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Croppers</Folder>
  </Info>
  <Config><![CDATA[{
  "AltText": false,
  "CropDefinitions": [
    {
      "label": "M",
      "alias": "m",
      "width": 100,
      "height": 100,
      "filters": null
    }
  ]
}]]></Config>
</DataType>