<?xml version="1.0" encoding="utf-8"?>
<DataType Key="07ecfba4-0000-0000-0000-000000000000" Alias="Demo Block" Level="3">
  <Info>
    <Name>Demo Block</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Blocks/General</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "demoBlock",
      "ncTabAlias": "General",
      "nameTemplate": "Demo"
    }
  ],
  "MinItems": 1,
  "MaxItems": 1,
  "ConfirmDeletes": false,
  "ShowIcons": false,
  "ExpandsOnLoad": true,
  "HideLabel": true
}]]></Config>
</DataType>