<?xml version="1.0" encoding="utf-8"?>
<DataType Key="33c9040b-aa37-4490-b54f-23ad7079c18b" Alias="Donation Form Picker (0, 1)" Level="2">
  <Info>
    <Name>Donation Form Picker (0, 1)</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Pickers</Folder>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": null,
    "id": "umb://document/17d4828e3d6f4a4684627dd421d644a9"
  },
  "Filter": "donationForm",
  "MinNumber": 0,
  "MaxNumber": 1,
  "ShowOpen": false,
  "IgnoreUserStartNodes": true
}]]></Config>
</DataType>