<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b6a79eea-5841-4326-914a-0355f0542a45" Alias="Donation Item Picker (0, 1)" Level="2">
  <Info>
    <Name>Donation Item Picker (0, 1)</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Pickers</Folder>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": null,
    "id": "umb://document/5a3cf96fd4bb4b38a623d188135f3358"
  },
  "Filter": "donationItem",
  "MinNumber": 1,
  "MaxNumber": 1,
  "ShowOpen": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>