<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9c12a1ae-ec01-4885-9275-0da00988d0fa" Alias="Elements Features Configuration" Level="2">
  <Info>
    <Name>Elements Features Configuration</Name>
    <EditorAlias>Umbraco.CheckBoxList</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Other</Folder>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Sponsorship"
    },
    {
      "id": 2,
      "value": "Feedback"
    },
    {
      "id": 3,
      "value": "Scheduled Giving"
    }
  ]
}]]></Config>
</DataType>