<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2805a25d-dd4a-41fd-ba80-e34eafa2a04d" Alias="Email Address Label" Level="2">
  <Info>
    <Name>Email Address Label</Name>
    <EditorAlias>Umbraco.Label</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Labels</Folder>
  </Info>
  <Config><![CDATA[{
  "ValueType": "STRING"
}]]></Config>
</DataType>