<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0e69bf58-7256-4e9e-97b0-75ad74c68a81" Alias="Eye Dropper Color Picker" Level="2">
  <Info>
    <Name>Eye Dropper Color Picker</Name>
    <EditorAlias>Umbraco.ColorPicker.EyeDropper</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Other</Folder>
  </Info>
  <Config><![CDATA[{
  "ShowAlpha": false,
  "ShowPalette": false
}]]></Config>
</DataType>