<?xml version="1.0" encoding="utf-8"?>
<DataType Key="af8edb11-841e-4525-96c0-a81c752130c8" Alias="Feedback Custom Field Name Label" Level="2">
  <Info>
    <Name>Feedback Custom Field Name Label</Name>
    <EditorAlias>Umbraco.Label</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Labels</Folder>
  </Info>
  <Config><![CDATA[{
  "ValueType": "STRING"
}]]></Config>
</DataType>