<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f6c1b682-86a7-4ea5-a090-6c5a79933000" Alias="Feedback Custom Field Type Data List (0, 1)" Level="2">
  <Info>
    <Name>Feedback Custom Field Type Data List (0, 1)</Name>
    <EditorAlias>Umbraco.Community.Contentment.DataList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Data+Lists</Folder>
  </Info>
  <Config><![CDATA[{
  "dataSource": [
    {
      "key": "N3O.Umbraco.Giving.Lookups.FeedbackCustomFieldTypeDataSource, N3O.Umbraco.Giving",
      "value": {}
    }
  ],
  "listEditor": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.ItemPickerDataListEditor, Umbraco.Community.Contentment",
      "value": {
        "overlaySize": [
          "small"
        ],
        "listType": "list",
        "defaultIcon": "icon-document",
        "enableFilter": "1",
        "maxItems": 1,
        "allowClear": "0"
      }
    }
  ]
}]]></Config>
</DataType>