<?xml version="1.0" encoding="utf-8"?>
<DataType Key="15eebff9-31c5-4eca-93ad-ef130246ebc2" Alias="Feedback Scheme Picker (0, 1)" Level="2">
  <Info>
    <Name>Feedback Scheme Picker (0, 1)</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Pickers</Folder>
  </Info>
  <Config><![CDATA[{
  "Filter": "feedbackScheme",
  "IgnoreUserStartNodes": true,
  "MaxNumber": 1,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "dynamicRoot": null,
    "id": "umb://document/cde61017acfc40c79899b111351c1ac0",
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>