<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6112f565-3a62-4c25-904d-b0f955c5218c" Alias="Flow Payment Methods Picker (0, n)" Level="2">
  <Info>
    <Name>Flow Payment Methods Picker (0, n)</Name>
    <EditorAlias>Umbraco.Community.Contentment.DataPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Pickers</Folder>
  </Info>
  <Config><![CDATA[{
  "dataSource": [
    {
      "key": "N3O.Umbraco.Elements.Lookups.PaymentMethodsDataSource, N3O.Umbraco.Elements",
      "value": {}
    }
  ],
  "displayMode": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.ListDataPickerDisplayMode, Umbraco.Community.Contentment",
      "value": {}
    }
  ],
  "pageSize": 20,
  "overlaySize": [
    "small"
  ],
  "hideSearch": "0",
  "maxItems": 0,
  "enableDevMode": "0"
}]]></Config>
</DataType>