<?xml version="1.0" encoding="utf-8"?>
<DataType Key="af31b438-8be8-4a5f-b7c7-4b51771bd40c" Alias="Fundraiser Name Label" Level="2">
  <Info>
    <Name>Fundraiser Name Label</Name>
    <EditorAlias>Umbraco.Label</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Labels</Folder>
  </Info>
  <Config><![CDATA[{
  "ValueType": "STRING"
}]]></Config>
</DataType>