<?xml version="1.0" encoding="utf-8"?>
<DataType Key="367819f2-2aca-4fde-bae6-b0f6975030e9" Alias="Fund Dimension 4 Value Picker (0, 1)" Level="2">
  <Info>
    <Name>Fund Dimension 4 Value Picker (0, 1)</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Pickers</Folder>
  </Info>
  <Config><![CDATA[{
  "Filter": "fundDimension4Value",
  "IgnoreUserStartNodes": true,
  "MaxNumber": 1,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "id": "umb://document/cb9f2c272ef14c01ae065431a97292e2",
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>