<?xml version="1.0" encoding="utf-8"?>
<DataType Key="19f337d2-91b4-4c4b-a920-8d6e89a9fb8a" Alias="Fund Dimension 3 Value Picker (0, 1)" Level="2">
  <Info>
    <Name>Fund Dimension 3 Value Picker (0, 1)</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Pickers</Folder>
  </Info>
  <Config><![CDATA[{
  "Filter": "fundDimension3Value",
  "IgnoreUserStartNodes": true,
  "MaxNumber": 1,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "id": "umb://document/86c482330daf4b1c8570c52564489eb6",
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>