<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8fb3b500-9bfb-4f75-b193-06501c8c4c0d" Alias="Fund Dimension 2 Option Picker (0, 1)" Level="2">
  <Info>
    <Name>Fund Dimension 2 Option Picker (0, 1)</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Pickers</Folder>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": null,
    "id": "umb://document/b2492c81bf6a47658a1c911b4e023237"
  },
  "Filter": "fundDimension2Option",
  "MinNumber": 0,
  "MaxNumber": 1,
  "ShowOpen": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>