<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6f3c1e38-763a-4d82-b99a-520679d08bd5" Alias="Fund Dimension 3 Value Picker (0, n)" Level="2">
  <Info>
    <Name>Fund Dimension 3 Value Picker (0, n)</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Pickers</Folder>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": null,
    "id": "umb://document/86c482330daf4b1c8570c52564489eb6"
  },
  "Filter": "fundDimension3Value",
  "MinNumber": 0,
  "MaxNumber": 0,
  "ShowOpen": false,
  "IgnoreUserStartNodes": true
}]]></Config>
</DataType>