<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b80b0457-8d92-4e24-86d0-010a4efbc0da" Alias="Fund Dimension 4 Value Picker (0, n)" Level="2">
  <Info>
    <Name>Fund Dimension 4 Value Picker (0, n)</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Pickers</Folder>
  </Info>
  <Config><![CDATA[{
  "Filter": "fundDimension4Value",
  "IgnoreUserStartNodes": true,
  "MaxNumber": 0,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "dynamicRoot": null,
    "id": "umb://document/cb9f2c272ef14c01ae065431a97292e2",
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>