<?xml version="1.0" encoding="utf-8"?>
<DataType Key="eed05cea-de33-488c-a198-a73d8835c662" Alias="Fund Dimension 1 Option Picker (0, 1)" Level="2">
  <Info>
    <Name>Fund Dimension 1 Option Picker (0, 1)</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Pickers</Folder>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": null,
    "id": "umb://document/283986f782d6431a826a0c3e8648a95b"
  },
  "Filter": "fundDimension1Option",
  "MinNumber": 0,
  "MaxNumber": 1,
  "ShowOpen": false,
  "IgnoreUserStartNodes": true
}]]></Config>
</DataType>