<?xml version="1.0" encoding="utf-8"?>
<DataType Key="91138f95-ea59-431e-b725-e43ec731bc1f" Alias="Fund Dimension 2 Value Picker (0, n)" Level="2">
  <Info>
    <Name>Fund Dimension 2 Value Picker (0, n)</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Pickers</Folder>
  </Info>
  <Config><![CDATA[{
  "Filter": "fundDimension2Value",
  "IgnoreUserStartNodes": true,
  "MaxNumber": 0,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "id": "umb://document/b2492c81bf6a47658a1c911b4e023237",
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>