<?xml version="1.0" encoding="utf-8"?>
<DataType Key="847853ea-22b3-4be0-bf25-90c4061b10ab" Alias="Giving Type Data List (0, 1)" Level="2">
  <Info>
    <Name>Giving Type Data List (0, 1)</Name>
    <EditorAlias>Umbraco.Community.Contentment.DataList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Data+Lists</Folder>
  </Info>
  <Config><![CDATA[{
  "dataSource": [
    {
      "key": "N3O.Umbraco.Giving.Allocations.Lookups.GivingTypeDataSource, N3O.Umbraco.Giving.Allocations",
      "value": {}
    }
  ],
  "listEditor": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.ItemPickerDataListEditor, Umbraco.Community.Contentment",
      "value": {
        "overlaySize": "small",
        "defaultIcon": "icon-document",
        "listType": "list",
        "enableFilter": "1",
        "maxItems": 1,
        "allowClear": "0"
      }
    }
  ]
}]]></Config>
</DataType>