<?xml version="1.0" encoding="utf-8"?>
<DataType Key="861829ee-7031-467a-a0dd-498c36cac0d2" Alias="Giving Type Data List (0, n)" Level="2">
  <Info>
    <Name>Giving Type Data List (0, n)</Name>
    <EditorAlias>Umbraco.Community.Contentment.DataList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Data+Lists</Folder>
  </Info>
  <Config><![CDATA[{
  "dataSource": [
    {
      "key": "N3O.Umbraco.Giving.Lookups.GivingTypeDataSource, N3O.Umbraco.Giving",
      "value": {}
    }
  ],
  "listEditor": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.ItemPickerDataListEditor, Umbraco.Community.Contentment",
      "value": {
        "overlaySize": "small",
        "defaultIcon": "icon-document",
        "listType": "list",
        "enableFilter": "1",
        "maxItems": 0,
        "allowClear": "0",
        "enableMultiple": "1"
      }
    }
  ]
}]]></Config>
</DataType>