<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1ff4f026-2642-4a69-b32e-684bd6504d10" Alias="Guest Fundraiser - icon - N3O Uploader" Level="1">
  <Info>
    <Name>Guest Fundraiser - icon - N3O Uploader</Name>
    <EditorAlias>N3O.Umbraco.Uploader</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "AllowedExtensions": ".svg",
  "AltTextRequired": false,
  "ImagesOnly": false,
  "MaxFileSizeMb": "1",
  "MaxImageHeight": null,
  "MaxImageWidth": null,
  "MinImageHeight": null,
  "MinImageWidth": null
}]]></Config>
</DataType>