<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b61ed384-52a7-4596-b7e6-3f038dc9fe83" Alias="Handlebars Code Editor" Level="2">
  <Info>
    <Name>Handlebars Code Editor</Name>
    <EditorAlias>Umbraco.Community.Contentment.CodeEditor</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Code+Editors</Folder>
  </Info>
  <Config><![CDATA[{
  "mode": "handlebars",
  "theme": "chrome",
  "fontSize": "small",
  "useWrapMode": "0",
  "minLines": 12,
  "maxLines": 30
}]]></Config>
</DataType>