<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9fe14561-ff00-4b57-8674-a69fec569377" Alias="Html Label" Level="2">
  <Info>
    <Name>HTML Label</Name>
    <EditorAlias>Umbraco.Community.Contentment.TemplatedLabel</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Labels</Folder>
  </Info>
  <Config><![CDATA[{
  "umbracoDataValueType": "TEXT",
  "notes": "{{model.value}}",
  "hideLabel": "0",
  "hidePropertyGroup": "0",
  "enableDevMode": "0"
}]]></Config>
</DataType>