<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5c33bdad-ed42-46be-8df9-e1aa46315b56" Alias="ImageSharp Image Uploader" Level="2">
  <Info>
    <Name>ImageSharp Image Uploader</Name>
    <EditorAlias>N3O.Umbraco.Uploader</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Uploaders</Folder>
  </Info>
  <Config><![CDATA[{
  "AllowedExtensions": ".jpg,.png",
  "AltTextRequired": false,
  "ImagesOnly": false,
  "MaxFileSizeMb": "100",
  "MaxImageHeight": null,
  "MaxImageWidth": null,
  "MinImageHeight": null,
  "MinImageWidth": null
}]]></Config>
</DataType>