<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0b285643-48cd-442b-8343-48aa56f77c63" Alias="Integer" Level="2">
  <Info>
    <Name>Integer</Name>
    <EditorAlias>Umbraco.Integer</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
    <Folder>Other</Folder>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>