<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f575c0e0-d876-4b58-bcef-0a24a750f708" Alias="List View - fundDimension4" Level="1">
  <Info>
    <Name>List View - fundDimension4</Name>
    <EditorAlias>Umbraco.ListView</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "PageSize": 50,
  "OrderBy": "name",
  "OrderDirection": "asc",
  "IncludeProperties": [],
  "Layouts": [
    {
      "name": "List",
      "path": "views/propertyeditors/listview/layouts/list/list.html",
      "icon": "icon-list",
      "isSystem": 1,
      "selected": true
    },
    {
      "name": "Grid",
      "path": "views/propertyeditors/listview/layouts/grid/grid.html",
      "icon": "icon-thumbnails-small",
      "isSystem": 1,
      "selected": true
    }
  ],
  "BulkActionPermissions": {
    "allowBulkPublish": false,
    "allowBulkUnpublish": false,
    "allowBulkCopy": false,
    "allowBulkMove": false,
    "allowBulkDelete": false
  },
  "Icon": "icon-list",
  "TabName": null,
  "ShowContentFirst": false,
  "UseInfiniteEditor": false
}]]></Config>
</DataType>