<?xml version="1.0" encoding="utf-8"?>
<DataType Key="92a83d23-d812-4b88-b118-71e29e63ae64" Alias="List View - crowdfundingCampaignFolder" Level="1">
  <Info>
    <Name>List View - crowdfundingCampaignFolder</Name>
    <EditorAlias>Umbraco.ListView</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "BulkActionPermissions": {
    "allowBulkCopy": true,
    "allowBulkDelete": true,
    "allowBulkMove": true,
    "allowBulkPublish": true,
    "allowBulkUnpublish": true
  },
  "Icon": "icon-list",
  "IncludeProperties": [],
  "Layouts": [
    {
      "icon": "icon-list",
      "isSystem": 1,
      "name": "List",
      "path": "views/propertyeditors/listview/layouts/list/list.html",
      "selected": true
    },
    {
      "icon": "icon-thumbnails-small",
      "isSystem": 1,
      "name": "Grid",
      "path": "views/propertyeditors/listview/layouts/grid/grid.html",
      "selected": true
    }
  ],
  "OrderBy": "name",
  "OrderDirection": "asc",
  "PageSize": 25,
  "ShowContentFirst": false,
  "TabName": null,
  "UseInfiniteEditor": false
}]]></Config>
</DataType>