<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1bb695ed-0436-41fc-9fb1-c8f0b4eb9ec2" Alias="List View - redirects" Level="1">
  <Info>
    <Name>List View - redirects</Name>
    <EditorAlias>Umbraco.ListView</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "BulkActionPermissions": {
    "allowBulkCopy": false,
    "allowBulkDelete": true,
    "allowBulkMove": false,
    "allowBulkPublish": true,
    "allowBulkUnpublish": true
  },
  "Icon": "icon-list",
  "IncludeProperties": [
    {
      "alias": "linkContent",
      "header": "Content",
      "isSystem": 0,
      "nameTemplate": "{{value | ncNodeName }}"
    },
    {
      "alias": "linkExternalUrl",
      "header": "External URL",
      "isSystem": 0,
      "nameTemplate": null
    },
    {
      "alias": "hitCount",
      "header": "Hit Count",
      "isSystem": 0,
      "nameTemplate": null
    },
    {
      "alias": "lastHitDate",
      "header": "Last Hit",
      "isSystem": 0,
      "nameTemplate": null
    }
  ],
  "Layouts": [
    {
      "icon": "icon-list",
      "isSystem": 1,
      "name": "List",
      "path": "views/propertyeditors/listview/layouts/list/list.html",
      "selected": true
    },
    {
      "icon": "icon-thumbnails-small",
      "isSystem": 1,
      "name": "Grid",
      "path": "views/propertyeditors/listview/layouts/grid/grid.html",
      "selected": true
    }
  ],
  "OrderBy": "name",
  "OrderDirection": "asc",
  "PageSize": 50,
  "ShowContentFirst": false,
  "TabName": null,
  "UseInfiniteEditor": false
}]]></Config>
</DataType>