<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a86b8d38-f4ed-4086-a928-310471daebb1" Alias="Member Avatar Link Label" Level="2">
  <Info>
    <Name>Member Avatar Link Label</Name>
    <EditorAlias>Umbraco.Label</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Labels</Folder>
  </Info>
  <Config><![CDATA[{
  "ValueType": "STRING"
}]]></Config>
</DataType>