<?xml version="1.0" encoding="utf-8"?>
<DataType Key="11f6712e-01d5-4658-b157-5ed5ec3afa9b" Alias="Member Data List (0, 1)" Level="2">
  <Info>
    <Name>Member Data List (0, 1)</Name>
    <EditorAlias>Umbraco.Community.Contentment.DataList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Data+Lists</Folder>
  </Info>
  <Config><![CDATA[{
  "dataSource": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.UmbracoMembersDataListSource, Umbraco.Community.Contentment",
      "value": {
        "memberType": [
          "umb://member-type/d59be02f1df94228aa1e01917d806cda"
        ]
      }
    }
  ],
  "listEditor": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.ItemPickerDataListEditor, Umbraco.Community.Contentment",
      "value": {
        "overlaySize": [
          "small"
        ],
        "listType": "list",
        "defaultIcon": "icon-document",
        "enableFilter": "1",
        "maxItems": 1,
        "allowClear": "0",
        "enableMultiple": "1",
        "confirmRemoval": "1"
      }
    }
  ]
}]]></Config>
</DataType>