<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ed004d84-9097-4082-85dc-a911f3c16cab" Alias="Money" Level="2">
  <Info>
    <Name>Money</Name>
    <EditorAlias>Umbraco.Decimal</EditorAlias>
    <DatabaseType>Decimal</DatabaseType>
    <Folder>Other</Folder>
  </Info>
  <Config><![CDATA[{
  "min": 0,
  "step": 0.01,
  "max": 100000
}]]></Config>
</DataType>