<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a6bef6c6-5101-481c-b04b-56ef86945cfd" Alias="Multiple Text (0, n)" Level="2">
  <Info>
    <Name>Multiple Text (0, n)</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Other</Folder>
  </Info>
  <Config><![CDATA[{
  "Maximum": 0,
  "Minimum": 0
}]]></Config>
</DataType>