<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4d171a04-20fd-415f-a256-9412ae3b6c72" Alias="Multiple Text (0, 3)" Level="2">
  <Info>
    <Name>Multiple Text (0, 3)</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Other</Folder>
  </Info>
  <Config><![CDATA[{
  "Maximum": 3,
  "Minimum": 0
}]]></Config>
</DataType>