<?xml version="1.0" encoding="utf-8"?>
<DataType Key="08ef4c90-0000-0000-0000-000000000000" Alias="N3O Import Data Editor" Level="1">
  <Info>
    <Name>N3O Import Data Editor</Name>
    <EditorAlias>N3O.Umbraco.Data.ImportDataEditor</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>