<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4c57ee6c-07f0-4e6d-a983-46b4ec035e69" Alias="N3O Import Fields Editor" Level="1">
  <Info>
    <Name>N3O Import Fields Editor</Name>
    <EditorAlias>N3O.Umbraco.Data.ImportFieldsEditor</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>