<?xml version="1.0" encoding="utf-8"?>
<DataType Key="dabb6f1d-9a29-49ee-a7bc-bb549ab669a8" Alias="Nested Crowdfunding Campaign Goal (0, n)" Level="2">
  <Info>
    <Name>Nested Crowdfunding Campaign Goal (0, n)</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Nested</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "crowdfundingCampaignFundGoal",
      "ncTabAlias": "General",
      "nameTemplate": "Goal {{$index}}"
    },
    {
      "ncAlias": "crowdfundingCampaignFeedbackGoal",
      "ncTabAlias": "General",
      "nameTemplate": "Goal {{$index}}"
    },
    {
      "ncAlias": "crowdfundingCampaignSponsorshipGoal",
      "ncTabAlias": "General",
      "nameTemplate": "Goal {{$index}}"
    }
  ],
  "MinItems": 0,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": false,
  "ExpandsOnLoad": true,
  "HideLabel": true
}]]></Config>
</DataType>