<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d98d2876-63d9-4073-bff1-9d728ff524ae" Alias="Nested Template Header Menu (1, 6)" Level="2">
  <Info>
    <Name>Nested Template Header Menu (1, 6)</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Nested</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "templateHeaderMenu",
      "ncTabAlias": "General",
      "nameTemplate": "{{title}}"
    }
  ],
  "MinItems": 1,
  "MaxItems": 6,
  "ConfirmDeletes": true,
  "ShowIcons": false,
  "ExpandsOnLoad": true,
  "HideLabel": true
}]]></Config>
</DataType>