<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9ddc6b9f-be09-4242-8dff-e633c881cab0" Alias="Nested Crowdfunding Fundraiser Goal (0, 1)" Level="2">
  <Info>
    <Name>Nested Crowdfunding Fundraiser Goal (0, 1)</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Nested</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "crowdfundingCampaignFundGoal",
      "ncTabAlias": "General",
      "nameTemplate": "Goal {{$index}}"
    },
    {
      "ncAlias": "crowdfundingCampaignFeedbackGoal",
      "ncTabAlias": "General",
      "nameTemplate": "Goal {{$index}}"
    }
  ],
  "MinItems": 0,
  "MaxItems": 1,
  "ConfirmDeletes": true,
  "ShowIcons": false,
  "ExpandsOnLoad": true,
  "HideLabel": false
}]]></Config>
</DataType>