<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d7765740-36c2-47b0-bbc8-2b17b84a4ae8" Alias="Nested Price Handle (0, 5)" Level="2">
  <Info>
    <Name>Nested Price Handle (0, 5)</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Nested</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "priceHandle",
      "ncTabAlias": "General",
      "nameTemplate": "{{amount}} {{description}}"
    }
  ],
  "MinItems": 0,
  "MaxItems": 5,
  "ConfirmDeletes": true,
  "ShowIcons": false,
  "ExpandsOnLoad": true,
  "HideLabel": false
}]]></Config>
</DataType>