<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9cc29952-fd8f-4381-bffd-3a6a4308fe5e" Alias="Nested Advert Content (0, 10)" Level="2">
  <Info>
    <Name>Nested Advert Content (0, 10)</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Nested</Folder>
  </Info>
  <Config><![CDATA[{
  "ConfirmDeletes": true,
  "ContentTypes": [
    {
      "nameTemplate": "{{link}}",
      "ncAlias": "elementsAdvertContent",
      "ncTabAlias": "General"
    }
  ],
  "ExpandsOnLoad": true,
  "HideLabel": false,
  "MaxItems": null,
  "MinItems": null,
  "ShowIcons": false
}]]></Config>
</DataType>