<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4cb144ca-7419-41f6-9b4f-f791f46beedf" Alias="Nested Template Asset Item (0, n)" Level="2">
  <Info>
    <Name>Nested Template Asset Item (0, n)</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Nested</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "templateAssetItem",
      "ncTabAlias": "General",
      "nameTemplate": "{{file[\"urlPath\"]}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "ExpandsOnLoad": true,
  "HideLabel": false
}]]></Config>
</DataType>