<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a252c49d-a3a1-4512-83ee-06f767700455" Alias="Nested Page Asset Item (0, n)" Level="2">
  <Info>
    <Name>Nested Page Asset Item (0, n)</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Nested</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "pageAsset",
      "ncTabAlias": "General",
      "nameTemplate": "Item {{$index}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": false,
  "HideLabel": false
}]]></Config>
</DataType>