<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0bea1193-7304-412e-afd5-9d0dbe7d1ec0" Alias="Nested Crowdfunding Goal Options (0, n)" Level="2">
  <Info>
    <Name>Nested Crowdfunding Goal Options (0, n)</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Nested</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "crowdfundingCampaignFundGoalOption",
      "ncTabAlias": "General",
      "nameTemplate": "Goal {{$index}} (Fund)"
    },
    {
      "ncAlias": "crowdfundingCampaignFeedbackGoalOption",
      "ncTabAlias": "General",
      "nameTemplate": "Goal {{$index}} (Feedback)"
    }
  ],
  "MinItems": 0,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": false,
  "ExpandsOnLoad": true,
  "HideLabel": true
}]]></Config>
</DataType>