<?xml version="1.0" encoding="utf-8"?>
<DataType Key="59fcfd3f-4ca0-4dbd-8cc8-0f96208643c8" Alias="Nested Crowdfunding Fundraiser Notification Email (0, n)" Level="2">
  <Info>
    <Name>Nested Crowdfunding Fundraiser Notification Email (0, n)</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Nested</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "crowdfundingFundraiserNotificationEmail",
      "ncTabAlias": "Content",
      "nameTemplate": "{{type}} - {{subject}}"
    }
  ],
  "MinItems": 0,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": false,
  "ExpandsOnLoad": false,
  "HideLabel": true
}]]></Config>
</DataType>