<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b18f009b-a827-46f2-b31c-4153df7eeffe" Alias="Nested Feedback Custom Field (0, n)" Level="2">
  <Info>
    <Name>Nested Feedback Custom Field (0, n)</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Nested</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "FeedbackCustomField",
      "ncTabAlias": "General",
      "nameTemplate": "{{label}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": false,
  "ExpandsOnLoad": true,
  "HideLabel": false
}]]></Config>
</DataType>