<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2c3433e7-edb8-4171-b448-50a267970d4c" Alias="Nested Crowdfunding Sign In Modal Item (2, 3)" Level="2">
  <Info>
    <Name>Nested Crowdfunding Sign In Modal Item (2, 3)</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Nested</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "crowdfundingSignInModalItem",
      "ncTabAlias": "General",
      "nameTemplate": "{{title}}"
    }
  ],
  "MinItems": 2,
  "MaxItems": 3,
  "ConfirmDeletes": true,
  "ShowIcons": false,
  "ExpandsOnLoad": true,
  "HideLabel": false
}]]></Config>
</DataType>