<?xml version="1.0" encoding="utf-8"?>
<DataType Key="77ad93bb-abf7-4d4b-abb0-fa71f1a88def" Alias="Nested Pricing Rule (0, n)" Level="2">
  <Info>
    <Name>Nested Pricing Rule (0, n)</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Nested</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "pricingRule",
      "ncTabAlias": "General",
      "nameTemplate": "{{priceAmount}} - {{dimension1Options|ncNodeName}} {{dimension2Options|ncNodeName}} {{dimension3Options|ncNodeName}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": false,
  "ExpandsOnLoad": true,
  "HideLabel": false
}]]></Config>
</DataType>