<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4670f1a2-cb6d-484a-9cb9-a1876c58b005" Alias="Nested Link (1, n)" Level="2">
  <Info>
    <Name>Nested Link (1, n)</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Nested</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "link",
      "ncTabAlias": "General",
      "nameTemplate": "{{linkText}}"
    }
  ],
  "MinItems": 1,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": false,
  "ExpandsOnLoad": true,
  "HideLabel": false
}]]></Config>
</DataType>