<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5bcf5bcf-381f-4c78-8854-56cbb12d8a2a" Alias="Nested Crowdfunding Feedback Custom Field (0, 3)" Level="2">
  <Info>
    <Name>Nested Crowdfunding Feedback Custom Field (0, 3)</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Nested</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "crowdfundingFeedbackCustomField",
      "ncTabAlias": "General",
      "nameTemplate": "{{fieldName}}"
    }
  ],
  "MinItems": 0,
  "MaxItems": 3,
  "ConfirmDeletes": true,
  "ShowIcons": false,
  "ExpandsOnLoad": true,
  "HideLabel": false
}]]></Config>
</DataType>