<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a3dcf151-2d2a-49f6-b217-187317f9e603" Alias="Nested Crowdfunding Fundraiser Allocation (0, n)" Level="2">
  <Info>
    <Name>Nested Crowdfunding Fundraiser Allocation (0, n)</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Nested</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "crowdfundingFundraiserFundAllocation",
      "ncTabAlias": "General",
      "nameTemplate": "Fund Item {{$index}}"
    },
    {
      "ncAlias": "crowdfundingFundraiserFeedbackAllocation",
      "ncTabAlias": "General",
      "nameTemplate": "Feedback Item {{$index}}"
    }
  ],
  "MinItems": 0,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": false,
  "ExpandsOnLoad": true,
  "HideLabel": true
}]]></Config>
</DataType>