<?xml version="1.0" encoding="utf-8"?>
<DataType Key="df4a7588-babb-4754-9662-d59d453aef13" Alias="Nested Webhook (0, n)" Level="2">
  <Info>
    <Name>Nested Webhook (0, n)</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Nested</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "webhook",
      "ncTabAlias": "General",
      "nameTemplate": "{{event[0]}} - {{url}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": false,
  "HideLabel": true
}]]></Config>
</DataType>