<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8d702f9e-2bf5-4fa3-aad4-b0f4d1e9774b" Alias="Nested Price Handle (0, 3)" Level="2">
  <Info>
    <Name>Nested Price Handle (0, 3)</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Nested</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "priceHandle",
      "ncTabAlias": "General",
      "nameTemplate": "{{amount}} {{description}}"
    }
  ],
  "MinItems": 0,
  "MaxItems": 3,
  "ConfirmDeletes": true,
  "ShowIcons": false,
  "ExpandsOnLoad": true,
  "HideLabel": false
}]]></Config>
</DataType>