<?xml version="1.0" encoding="utf-8"?>
<DataType Key="430be086-af6f-4b22-bf72-6309725da1c9" Alias="Nested Crowdfunding Page Campaign Images (0, 5)" Level="2">
  <Info>
    <Name>Nested Crowdfunding Page Campaign Images (0, 5)</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Nested</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "crowdfundingPageCampaignImages",
      "ncTabAlias": "General",
      "nameTemplate": ""
    }
  ],
  "MinItems": 0,
  "MaxItems": 5,
  "ConfirmDeletes": true,
  "ShowIcons": false,
  "ExpandsOnLoad": false,
  "HideLabel": false
}]]></Config>
</DataType>