<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5bcf5bcf-381f-4c78-8854-56cbb12d8a2a" Alias="Nested Feedback Custom Field (0, n)" Level="2">
  <Info>
    <Name>Nested Feedback Custom Field (0, n)</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Nested</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "feedbackCustomField",
      "ncTabAlias": "General",
      "nameTemplate": "{{alias}}"
    }
  ],
  "MinItems": 0,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": false,
  "ExpandsOnLoad": true,
  "HideLabel": false
}]]></Config>
</DataType>