<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d1cb06c6-dd80-47ed-9a9e-45c57180b703" Alias="Organisation Data Entry Settings Logo Uploader" Level="2">
  <Info>
    <Name>Organisation Data Entry Settings Logo Uploader</Name>
    <EditorAlias>N3O.Umbraco.Uploader</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Uploaders</Folder>
  </Info>
  <Config><![CDATA[{
  "AllowedExtensions": ".png, .jpg",
  "AltTextRequired": false,
  "ImagesOnly": false,
  "MaxFileSizeMb": "5",
  "MaxImageHeight": null,
  "MaxImageWidth": null,
  "MinImageHeight": null,
  "MinImageWidth": null
}]]></Config>
</DataType>