<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c28fc702-886b-4496-8e66-0b415450a787" Alias="Page Slug Label" Level="2">
  <Info>
    <Name>Page Slug Label</Name>
    <EditorAlias>Umbraco.Label</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Labels</Folder>
  </Info>
  <Config><![CDATA[{
  "ValueType": "STRING"
}]]></Config>
</DataType>