<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e9679414-0916-4e7d-8263-24d2dda5f088" Alias="Page Owners (0, n)" Level="2">
  <Info>
    <Name>Page Owners (0, n)</Name>
    <EditorAlias>Umbraco.MemberPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Data+Lists</Folder>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>