<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2daf5195-1eea-4358-bcf6-1f78ff60435e" Alias="Page Fundraiser Name Label" Level="2">
  <Info>
    <Name>Page Fundraiser Name Label</Name>
    <EditorAlias>Umbraco.Label</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Labels</Folder>
  </Info>
  <Config><![CDATA[{
  "ValueType": "STRING"
}]]></Config>
</DataType>