<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f01c1b96-cb69-4ff2-9a8e-e9a4e3a4e152" Alias="Page Title Label" Level="2">
  <Info>
    <Name>Page Title Label</Name>
    <EditorAlias>Umbraco.Label</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Labels</Folder>
  </Info>
  <Config><![CDATA[{
  "ValueType": "STRING"
}]]></Config>
</DataType>