<?xml version="1.0" encoding="utf-8"?>
<DataType Key="64486cfd-3fd3-44ad-aa4a-53b713012c84" Alias="Page Asset Uploader" Level="2">
  <Info>
    <Name>Page Asset Uploader</Name>
    <EditorAlias>N3O.Umbraco.Uploader</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Uploaders</Folder>
  </Info>
  <Config><![CDATA[{
  "AllowedExtensions": ".pdf,.docx,.jpg,.png",
  "AltTextRequired": false,
  "ImagesOnly": false,
  "MaxFileSizeMb": "100",
  "MaxImageHeight": null,
  "MaxImageWidth": null,
  "MinImageHeight": null,
  "MinImageWidth": null
}]]></Config>
</DataType>