<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1e927306-2197-44eb-ae36-60262d463877" Alias="Partial Picker (0, 1)" Level="2">
  <Info>
    <Name>Partial Picker (0, 1)</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Pickers</Folder>
  </Info>
  <Config><![CDATA[{
  "Filter": "partial",
  "IgnoreUserStartNodes": true,
  "MaxNumber": 1,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "dynamicRoot": null,
    "id": "umb://document/af218e3a75bc4dc0988631f88e465bb9",
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>