<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2f9892e2-430c-43d2-9be5-3629513cbf82" Alias="Payment Method Picker (0, n)" Level="2">
  <Info>
    <Name>Payment Method Picker (0, n)</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Pickers</Folder>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": null,
    "id": "umb://document/ac70c8aea2404e879ff55a64466b5bfb"
  },
  "Filter": null,
  "MinNumber": 0,
  "MaxNumber": 0,
  "ShowOpen": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>