<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0d1a1eaf-ae55-4966-953f-48c7a6e80f0a" Alias="SERP Editor" Level="2">
  <Info>
    <Name>SERP Editor</Name>
    <EditorAlias>N3O.Umbraco.SerpEditor</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Other</Folder>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>