<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a1e002c2-c992-4aff-bd07-170db70eaaf3" Alias="Sponsorship Scheme Picker (0, 1)" Level="2">
  <Info>
    <Name>Sponsorship Scheme Picker (0, 1)</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Pickers</Folder>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": null,
    "id": "umb://document/9e6111e7615740aa8b991b28df64eb9d"
  },
  "Filter": "sponsorshipScheme",
  "MinNumber": 0,
  "MaxNumber": 1,
  "ShowOpen": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>