<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1dbd1d2e-05fc-4ff2-9955-e876207b8f2e" Alias="Tax Relief Scheme Data List (0, 1)" Level="2">
  <Info>
    <Name>Tax Relief Scheme Data List (0, 1)</Name>
    <EditorAlias>Umbraco.Community.Contentment.DataList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Data+Lists</Folder>
  </Info>
  <Config><![CDATA[{
  "dataSource": [
    {
      "key": "N3O.Umbraco.TaxRelief.Lookups.TaxReliefSchemeDataSource, N3O.Umbraco.TaxRelief",
      "value": {}
    }
  ],
  "listEditor": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.ItemPickerDataListEditor, Umbraco.Community.Contentment",
      "value": {
        "overlaySize": "small",
        "defaultIcon": "icon-document",
        "listType": "list",
        "enableFilter": "1",
        "maxItems": 1,
        "allowClear": "0"
      }
    }
  ]
}]]></Config>
</DataType>