<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a9121065-8da6-4629-adfb-01278f30c129" Alias="Template Asset Uploader" Level="2">
  <Info>
    <Name>Template Asset Uploader</Name>
    <EditorAlias>N3O.Umbraco.Uploader</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Uploaders</Folder>
  </Info>
  <Config><![CDATA[{
  "AllowedExtensions": ".png,.jpg,.gif,.pdf",
  "AltTextRequired": false,
  "ImagesOnly": false,
  "MaxFileSizeMb": "10",
  "MaxImageHeight": null,
  "MaxImageWidth": null,
  "MinImageHeight": null,
  "MinImageWidth": null
}]]></Config>
</DataType>