<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c84809ac-6bb0-4028-b989-fa2e9581f185" Alias="Text Resource Editor" Level="2">
  <Info>
    <Name>Text Resource Editor</Name>
    <EditorAlias>N3O.Umbraco.TemplateTextEditor</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Other</Folder>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>