<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3652c0a3-c1b6-4951-8bbf-1e3a884de517" Alias="TrueFalse Toggle" Level="2">
  <Info>
    <Name>TrueFalse Toggle</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
    <Folder>Other</Folder>
  </Info>
  <Config><![CDATA[{
  "Default": false,
  "ShowLabels": true,
  "LabelOn": "True",
  "LabelOff": "False"
}]]></Config>
</DataType>