<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d829c2f0-96d8-4525-860e-2a824d1bf298" Alias="YesNo Toggle" Level="2">
  <Info>
    <Name>YesNo Toggle</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
    <Folder>Other</Folder>
  </Info>
  <Config><![CDATA[{
  "Default": false,
  "LabelOff": "No",
  "LabelOn": "Yes",
  "ShowLabels": true
}]]></Config>
</DataType>