<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="15c3050c-b48f-48c7-bdf8-69f2d8dbcab3" Alias="blogSettings" Level="3">
  <Info>
    <Name>Blog Settings</Name>
    <Icon>icon-article color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Settings/Blog</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="b06013a0-3501-43b4-8cd5-0129ff70021d" SortOrder="0">blogCategories</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>