<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="97edda28-d8eb-4296-821a-05228211d22a" Alias="redirects" Level="2">
  <Info>
    <Name>Redirects</Name>
    <Icon>icon-link color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Redirects</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="b2f31f22-159d-403e-8e4a-8258907b5ac0" SortOrder="0">redirect</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>