@font-face {
    font-family: 'ums font';
    src: url('/App_Plugins/Umbraco.Engage/fonts/ums-font.eot');
    src: url('/App_Plugins/Umbraco.Engage/fonts/ums-font.eot?#iefix') format('embedded-opentype'),
         url('/App_Plugins/Umbraco.Engage/fonts/ums-font.woff') format('woff'),
         url('/App_Plugins/Umbraco.Engage/fonts/ums-font.ttf') format('truetype'),
         url('/App_Plugins/Umbraco.Engage/fonts/ums-font.svg#ums-font') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class*='ums-icon-']:before{
	display: inline-block;
   font-family: 'ums font';
   font-style: normal;
   font-weight: normal;
   line-height: 1;
   font-size: 20px;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale
}
.ums-icon-abtesting:before{content:'\0041';}
.ums-icon-analytics:before{content:'\0042';}
.ums-icon-automation:before{content:'\0043';}
.ums-icon-campaign:before{content:'\0044';}
.ums-icon-mail:before{content:'\0045';}
.ums-icon-personalization:before{content:'\0046';}
.ums-icon-profiles:before{content:'\0047';}
.ums-icon-start:before{content:'\0048';}
