<?xml version="1.0" encoding="utf-8"?>
<Content Key="e69f6f28-7538-43f5-9b99-78a73136c527" Alias="Assets" Level="2">
  <Info>
    <Parent Key="78da8a82-e8c5-41e3-95b0-66bbb715ac72">Template</Parent>
    <Path>/Template/Assets</Path>
    <Trashed>false</Trashed>
    <ContentType>templateAssets</ContentType>
    <CreateDate>2021-02-18T18:46:42</CreateDate>
    <NodeName Default="Assets" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>