<?xml version="1.0" encoding="utf-8"?>
<Content Key="850b63e1-249c-4723-8ed5-c551da66db8f" Alias="Footer" Level="2">
  <Info>
    <Parent Key="78da8a82-e8c5-41e3-95b0-66bbb715ac72">Template</Parent>
    <Path>/Template/Footer</Path>
    <Trashed>false</Trashed>
    <ContentType>templateFooter</ContentType>
    <CreateDate>2020-11-26T13:37:49</CreateDate>
    <NodeName Default="Footer" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <links>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "012d7f36-3e43-4ec7-a895-d3a14007733b",
      "key": "53c9c500-8bbf-445e-bb27-971d8c031607",
      "values": [
        {
          "alias": "linkContent",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "umb://document/1462bac84ce7428ebcea9cbbd4403a9a"
        },
        {
          "alias": "linkExternalUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "linkText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "About us"
        }
      ]
    },
    {
      "contentTypeKey": "012d7f36-3e43-4ec7-a895-d3a14007733b",
      "key": "ab2083da-0864-465a-8b38-6036a2477382",
      "values": [
        {
          "alias": "linkContent",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "umb://document/1cf9bf61cff74ed4b2429a3bcabeef97"
        },
        {
          "alias": "linkExternalUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "linkText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Contact us"
        }
      ]
    },
    {
      "contentTypeKey": "012d7f36-3e43-4ec7-a895-d3a14007733b",
      "key": "7ef654a8-a73b-44e2-aeab-285c567e0ab1",
      "values": [
        {
          "alias": "linkContent",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "umb://document/36f0eca0adde48eb9946f01e1d9c7780"
        },
        {
          "alias": "linkExternalUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "linkText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Privacy"
        }
      ]
    },
    {
      "contentTypeKey": "012d7f36-3e43-4ec7-a895-d3a14007733b",
      "key": "9d694a03-5074-4e6f-bd55-3fde4092b4d0",
      "values": [
        {
          "alias": "linkContent",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "umb://document/2834c61a899e449691f8ac2e19c2cbcd"
        },
        {
          "alias": "linkExternalUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "linkText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Terms of Use"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "53c9c500-8bbf-445e-bb27-971d8c031607",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "ab2083da-0864-465a-8b38-6036a2477382",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "7ef654a8-a73b-44e2-aeab-285c567e0ab1",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "9d694a03-5074-4e6f-bd55-3fde4092b4d0",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "53c9c500-8bbf-445e-bb27-971d8c031607",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "ab2083da-0864-465a-8b38-6036a2477382",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "7ef654a8-a73b-44e2-aeab-285c567e0ab1",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "9d694a03-5074-4e6f-bd55-3fde4092b4d0",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </links>
    <textLine1>
      <Value><![CDATA[Copyright © Demo Site | All Rights Reserved]]></Value>
    </textLine1>
    <textLine2>
      <Value><![CDATA[This is a demo site]]></Value>
    </textLine2>
  </Properties>
</Content>