<?xml version="1.0" encoding="utf-8"?>
<Content Key="02d2a33a-8368-4b10-9ecc-b58d8b44428c" Alias="General" Level="4">
  <Info>
    <Parent Key="f945789f-b61a-46eb-af80-8bc6ba9b0b66">Categories</Parent>
    <Path>/Settings/Blog/Categories/General</Path>
    <Trashed>false</Trashed>
    <ContentType>blogCategory</ContentType>
    <CreateDate>2022-01-10T17:10:40</CreateDate>
    <NodeName Default="General" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>