<?xml version="1.0" encoding="utf-8"?>
<Content Key="fb622af3-1137-4c2d-9d46-59638c94dc05" Alias="Google Tag Manager" Level="3">
  <Info>
    <Parent Key="69ffb6d1-df9b-4299-96dd-25f6f4b528ca">Analytics</Parent>
    <Path>/Settings/Analytics/GoogleTagManager</Path>
    <Trashed>false</Trashed>
    <ContentType>googleTagManagerSettings</ContentType>
    <CreateDate>2020-11-26T13:17:57</CreateDate>
    <NodeName Default="Google Tag Manager" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <containerId>
      <Value><![CDATA[ContainerId]]></Value>
    </containerId>
  </Properties>
</Content>