<?xml version="1.0" encoding="utf-8"?>
<Content Key="ddd154fd-55fc-498e-843a-4c93c2f86e5b" Alias="Instagram" Level="3">
  <Info>
    <Parent Key="cec4f34a-fb0e-45fc-b7cd-d932439561bb">Social Media</Parent>
    <Path>/Settings/SocialMedia/Instagram</Path>
    <Trashed>false</Trashed>
    <ContentType>instagramSettings</ContentType>
    <CreateDate>2020-11-26T13:35:07</CreateDate>
    <NodeName Default="Instagram" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <pageUrl>
      <Value><![CDATA[https://www.instagram.com/demosite/]]></Value>
    </pageUrl>
  </Properties>
</Content>