<?xml version="1.0" encoding="utf-8"?>
<Content Key="d1fe7c0e-da7a-4cba-bb62-5bddd2d5b9b9" Alias="Redirects" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Redirects</Path>
    <Trashed>false</Trashed>
    <ContentType>redirects</ContentType>
    <CreateDate>2022-01-10T17:02:29</CreateDate>
    <NodeName Default="Redirects" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>