<?xml version="1.0" encoding="utf-8"?>
<Content Key="2834c61a-899e-4496-91f8-ac2e19c2cbcd" Alias="Terms of Use" Level="2">
  <Info>
    <Parent Key="e767a426-1115-4436-8ee3-1350c1f87550">Home</Parent>
    <Path>/Home/TermsOfUse</Path>
    <Trashed>false</Trashed>
    <ContentType>termsPage</ContentType>
    <CreateDate>2022-01-01T15:52:00</CreateDate>
    <NodeName Default="Terms of Use" />
    <SortOrder>13</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4b0fc262-066a-4c77-a34d-c0d2fa79b45d">Page</Template>
  </Info>
  <Properties>
    <assets>
      <Value><![CDATA[]]></Value>
    </assets>
    <bodyHtml>
      <Value><![CDATA[]]></Value>
    </bodyHtml>
    <css>
      <Value><![CDATA[]]></Value>
    </css>
    <headHtml>
      <Value><![CDATA[]]></Value>
    </headHtml>
    <hidePage>
      <Value><![CDATA[0]]></Value>
    </hidePage>
    <javaScript>
      <Value><![CDATA[]]></Value>
    </javaScript>
    <titleMeta>
      <Value><![CDATA[{
  "title": "Terms of Use",
  "description": ""
}]]></Value>
    </titleMeta>
  </Properties>
</Content>