<?xml version="1.0" encoding="utf-8"?>
<Content Key="08aabd14-4bc6-48e4-9753-3ca7c3761472" Alias="YouTube" Level="3">
  <Info>
    <Parent Key="cec4f34a-fb0e-45fc-b7cd-d932439561bb">Social Media</Parent>
    <Path>/Settings/SocialMedia/YouTube</Path>
    <Trashed>false</Trashed>
    <ContentType>youTubeSettings</ContentType>
    <CreateDate>2020-11-26T13:35:18</CreateDate>
    <NodeName Default="YouTube" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <pageUrl>
      <Value><![CDATA[https://www.youtube.com/user/DemoSite]]></Value>
    </pageUrl>
  </Properties>
</Content>