<div ng-controller="Workflow.Groups.History.Controller as vm" class="workflow workflow-history">
    <umb-box>
        <umb-box-header>
            <div class="flex">
                <workflow-filter-picker filters="vm.filters"
                                        on-change="vm.onFilter(filters)"
                                        nodeView="vm.nodeView"></workflow-filter-picker>

                <workflow-page-size on-change="vm.fetch(perPage)"
                                    value="vm.perPage"></workflow-page-size>
            </div>
        </umb-box-header>
        <umb-box-content>
            <workflow-instances model="vm.model"></workflow-instances>
        </umb-box-content>
    </umb-box>
</div>
