<div class="flex-row form-horizontal">
    <div>
        <umb-box data-element="workflow-groups__users">
            <umb-box-header title-key="workflow_membership"></umb-box-header>
            <umb-box-content>
                <umb-user-preview ng-repeat="u in model.group.users | orderBy: 'name' | filter: { inherited: false }"
                                  name="u.name"
                                  allow-remove="true"
                                  on-remove="model.remove(u.userId)">
                </umb-user-preview>

                <button type="button"
                        style="max-width: 100%;"
                        class="umb-node-preview-add"
                        ng-click="model.openUserPicker()"
                        prevent-default>
                    <localize key="general_add">Add</localize>
                </button>
            </umb-box-content>
        </umb-box>
    </div>
    <div>
        <umb-box>
            <umb-box-header title-key="workflow_inheritedMembership" description-key="workflow_inheritedMembershipDescription"></umb-box-header>
            <umb-box-content>
                <umb-user-group-preview ng-repeat="g in model.inheritedGroups | orderBy: 'name'"
                                        icon="g.icon"
                                        name="g.name"
                                        hide-media-start-node="true"
                                        hide-content-start-node="true"
                                        allow-remove="true"
                                        on-remove="model.removeInherited(g.id)">
                </umb-user-group-preview>

                <button type="button"
                        style="max-width: 100%;"
                        class="umb-node-preview-add"
                        ng-click="model.openGroupPicker()"
                        prevent-default>
                    <localize key="general_add">Add</localize>
                </button>

                <div ng-if="model.group.inheritMembers.length" class="mt-2">
                    <umb-user-preview ng-repeat="u in model.group.users | orderBy: 'name' | filter: { inherited: true }"
                                      name="u.name"
                                      allow-remove="false">
                    </umb-user-preview>
                </div>

            </umb-box-content>
        </umb-box>
    </div>
</div>