<div>
    <umb-box class="workflow-settings-columns">
        <umb-box-header title-key="workflow_settings"></umb-box-header>
        <umb-box-content>

            <umb-property property="property" alias="{{ property.alias }}" ng-repeat="property in model.group.properties" licensed="{{ property.alias === 'offlineApproval' }}">
                <umb-property-editor model="property" ng-if="property.alias != 'language'"></umb-property-editor>
                <select ng-if="property.alias === 'language'"
                        ng-model="property.value"
                        ng-options="key as value for (key, value) in model.group.availableLanguages"
                        ng-disabled="!model.group.properties[0].value || model.group.availableLanguages.length === 1"
                        name="language"
                        val-server-field="language"></select>
            </umb-property>

        </umb-box-content>
    </umb-box>

    <umb-box ng-if="model.group.groupId > -1">
        <umb-box-header title-key="workflow_activity">
            <workflow-day-range on-change="model.updateChartRange(range)" value="28"></workflow-day-range>
        </umb-box-header>
        <umb-box-content>
            <workflow-chart group-id="model.group.groupId" range="model.chartRange"></workflow-chart>
        </umb-box-content>
    </umb-box>
</div>
