<div ng-controller="Workflow.App.Controller as vm" class="workflow" impersonation-banner>

    <umb-editor-sub-views sub-views="vm.subViews" model="vm"> 
    </umb-editor-sub-views>

    <umb-editor-sub-header> 
        <umb-editor-sub-header-content-right id="workflowAppHeader">
            <umb-button ng-if="vm.state.hasConfig"
                        id="activeWorkflowBtn"
                        action="vm.setActiveView($event, 'active')"
                        type="button"
                        button-style="action"
                        label-key="workflow_activeWorkflow"></umb-button>

            <umb-button ng-if="vm.state.isAdmin"
                        action="vm.setActiveView($event, 'config')" 
                        type="button"
                        button-style="action"
                        label-key="workflow_configuration"></umb-button>

            <umb-button action="vm.setActiveView($event, 'history')"
                        type="button"
                        button-style="action"
                        label-key="workflow_history"></umb-button>
        </umb-editor-sub-header-content-right>
    </umb-editor-sub-header>

    <!-- show submit component when no active workflow and the node has config -->
    <workflow-submit ng-if="vm.state && !vm.state.isActive"
                     ng-show="vm.state.hasConfig && vm.editorScope && vm.activeView === 'active'" 
                     state="vm.state" 
                     scope="vm.editorScope"></workflow-submit>

    <!-- show the action component when the node has an active workflow -->
    <workflow-action ng-if="vm.state && vm.state.isActive"
                     ng-show="vm.activeView === 'active'" 
                     state="vm.state"></workflow-action>

    <!-- show the config component when the user is a workflow admin
         component is disabled if an active workflow exists -->
    <workflow-config ng-if="vm.state && vm.state.isAdmin && vm.editorScope" 
                     ng-show="vm.activeView === 'config'" 
                     state="vm.state"
                     ng-disabled="vm.state.isActive"
                     node="vm.editorScope.content"></workflow-config> 

    <!-- show the history component for all users -->
    <workflow-history ng-if="vm.activeView === 'history'" 
                      disabled-filters="vm.disabledFilters"></workflow-history>
</div>