<?xml version="1.0" encoding="utf-8"?>
<Content Key="d2d6ad39-623e-4710-ad51-287f9bb2d8bb" Alias="2023" Level="3">
  <Info>
    <Parent Key="3b78c6eb-0b26-4c74-ba89-18d3941f268d">Pages</Parent>
    <Path>/CrowdFunding/Pages/</Path>
    <Trashed>false</Trashed>
    <ContentType>crowdfundingPageFolder</ContentType>
    <CreateDate>2023-12-12T11:34:24</CreateDate>
    <NodeName Default="2023" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>