<?xml version="1.0" encoding="utf-8"?>
<Content Key="1462bac8-4ce7-428e-bcea-9cbbd4403a9a" Alias="About Us" Level="2">
  <Info>
    <Parent Key="e767a426-1115-4436-8ee3-1350c1f87550">Home</Parent>
    <Path>/Home/AboutUs</Path>
    <Trashed>false</Trashed>
    <ContentType>aboutUsPage</ContentType>
    <CreateDate>2022-01-01T15:48:47</CreateDate>
    <NodeName Default="About Us" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4b0fc262-066a-4c77-a34d-c0d2fa79b45d">Page</Template>
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{"version":3,"header":null,"blocks":[]}]]></Value>
    </blocks>
    <hidePage>
      <Value><![CDATA[0]]></Value>
    </hidePage>
    <titleMeta>
      <Value><![CDATA[{
  "title": "About Us",
  "description": ""
}]]></Value>
    </titleMeta>
  </Properties>
</Content>