<?xml version="1.0" encoding="utf-8"?>
<Content Key="cb2deb9e-1a77-4bea-8be6-bc7817e857c4" Alias="Address" Level="3">
  <Info>
    <Parent Key="973dcae0-212d-4763-b3f6-5606d4440f85">Data Entry</Parent>
    <Path>/Settings/DataEntry/Address</Path>
    <Trashed>false</Trashed>
    <ContentType>addressDataEntrySettings</ContentType>
    <CreateDate>2020-11-26T13:36:12</CreateDate>
    <NodeName Default="Address" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <administrativeArea>
      <Value><![CDATA[[
  {
    "key": "46e42a63-ec78-449e-91f4-32f6953feeac",
    "name": "State/District",
    "ncContentTypeAlias": "addressField",
    "PropType": null,
    "visible": "1",
    "required": "0",
    "label": "State/District",
    "helpText": "",
    "order": "6"
  }
]]]></Value>
    </administrativeArea>
    <country>
      <Value><![CDATA[[
  {
    "key": "06adabe7-024a-490c-86db-926f00c4aed3",
    "name": "Item 1",
    "ncContentTypeAlias": "addressField",
    "PropType": null,
    "visible": "1",
    "required": "1",
    "label": "Country",
    "helpText": "",
    "order": "1"
  }
]]]></Value>
    </country>
    <defaultCountry>
      <Value><![CDATA[umb://document/0588c2fb516d429a9bfda54fec78853a]]></Value>
    </defaultCountry>
    <line1>
      <Value><![CDATA[[
  {
    "key": "d76bbe10-95ef-4944-a001-b5832e674724",
    "name": "Line 1",
    "ncContentTypeAlias": "addressField",
    "PropType": null,
    "visible": "1",
    "required": "1",
    "label": "Line 1",
    "helpText": "",
    "order": "2"
  }
]]]></Value>
    </line1>
    <line2>
      <Value><![CDATA[[
  {
    "key": "716b3668-cde8-4bc2-aece-4adf0432b239",
    "name": "Line 2",
    "ncContentTypeAlias": "addressField",
    "PropType": null,
    "visible": "1",
    "required": "0",
    "label": "Line 2",
    "helpText": "",
    "order": "3"
  }
]]]></Value>
    </line2>
    <line3>
      <Value><![CDATA[[
  {
    "key": "359f338f-0b82-4203-a7c9-2e864b855991",
    "name": "Line 3",
    "ncContentTypeAlias": "addressField",
    "PropType": null,
    "visible": "1",
    "required": "0",
    "label": "Line 3",
    "helpText": "",
    "order": "4"
  }
]]]></Value>
    </line3>
    <locality>
      <Value><![CDATA[[
  {
    "key": "e8eaa089-be08-4de3-a863-f391a35bed69",
    "name": "Town/City",
    "ncContentTypeAlias": "addressField",
    "PropType": null,
    "visible": "1",
    "required": "1",
    "label": "Town/City",
    "helpText": "",
    "order": "5"
  }
]]]></Value>
    </locality>
    <postalCode>
      <Value><![CDATA[[
  {
    "key": "485676ec-9b65-44ea-8413-a6ec584aa56c",
    "name": "Postcode",
    "ncContentTypeAlias": "addressField",
    "PropType": null,
    "visible": "1",
    "required": "1",
    "label": "Postcode",
    "helpText": "",
    "order": "7"
  }
]]]></Value>
    </postalCode>
  </Properties>
</Content>