<?xml version="1.0" encoding="utf-8"?>
<Content Key="cb2deb9e-1a77-4bea-8be6-bc7817e857c4" Alias="Address" Level="3">
  <Info>
    <Parent Key="973dcae0-212d-4763-b3f6-5606d4440f85">Validation</Parent>
    <Path>/Settings/Validation/Address</Path>
    <Trashed>false</Trashed>
    <ContentType>addressValidationSettings</ContentType>
    <CreateDate>2020-11-26T13:36:12</CreateDate>
    <NodeName Default="Address" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <defaultCountry>
      <Value><![CDATA[umb://document/0588c2fb516d429a9bfda54fec78853a]]></Value>
    </defaultCountry>
  </Properties>
</Content>