<?xml version="1.0" encoding="utf-8"?>
<Content Key="69ffb6d1-df9b-4299-96dd-25f6f4b528ca" Alias="Analytics" Level="2">
  <Info>
    <Parent Key="aa6f92e0-8445-40f2-993d-46cbdb66ac00">Settings</Parent>
    <Path>/Settings/Analytics</Path>
    <Trashed>false</Trashed>
    <ContentType>analyticsSettings</ContentType>
    <CreateDate>2020-11-26T12:59:13</CreateDate>
    <NodeName Default="Analytics" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>