<?xml version="1.0" encoding="utf-8"?>
<Content Key="ea26aadb-e0d3-4854-b071-a6f2e727909a" Alias="Attribution" Level="3">
  <Info>
    <Parent Key="69ffb6d1-df9b-4299-96dd-25f6f4b528ca">Analytics</Parent>
    <Path>/Settings/Analytics/Attribution</Path>
    <Trashed>false</Trashed>
    <ContentType>attributionSettings</ContentType>
    <CreateDate>2024-06-12T23:06:23</CreateDate>
    <NodeName Default="Attribution" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <utmCampaignDimensionIndex>
      <Value><![CDATA[]]></Value>
    </utmCampaignDimensionIndex>
    <utmMediumDimensionIndex>
      <Value><![CDATA[]]></Value>
    </utmMediumDimensionIndex>
    <utmSourceDimensionIndex>
      <Value><![CDATA[]]></Value>
    </utmSourceDimensionIndex>
  </Properties>
</Content>