<?xml version="1.0" encoding="utf-8"?>
<Content Key="0389e06c-4d6b-4f35-9379-d2619f4ce71d" Alias="Austria" Level="4">
  <Info>
    <Parent Key="910f8116-b3b4-42c7-aba4-ea28f0040e21">Countries</Parent>
    <Path>/Settings/System/Countries/Austria</Path>
    <Trashed>false</Trashed>
    <ContentType>country</ContentType>
    <CreateDate>2021-01-08T18:35:03</CreateDate>
    <NodeName Default="Austria" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <diallingCode>
      <Value><![CDATA[43]]></Value>
    </diallingCode>
    <iso2Code>
      <Value><![CDATA[AT]]></Value>
    </iso2Code>
    <iso3Code>
      <Value><![CDATA[AUT]]></Value>
    </iso3Code>
    <localityOptional>
      <Value><![CDATA[]]></Value>
    </localityOptional>
    <postalCodeOptional>
      <Value><![CDATA[]]></Value>
    </postalCodeOptional>
  </Properties>
</Content>