<?xml version="1.0" encoding="utf-8"?>
<Content Key="6b5c4843-7740-44bf-809c-199262db81ea" Alias="Bamobra" Level="3">
  <Info>
    <Parent Key="ac70c8ae-a240-4e87-9ff5-5a64466b5bfb">Payments</Parent>
    <Path>/Settings/Payments/Bamobra</Path>
    <Trashed>false</Trashed>
    <ContentType>bamboraSettings</ContentType>
    <CreateDate>2022-03-18T16:39:32</CreateDate>
    <NodeName Default="Bamobra" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <productionMerchantId>
      <Value><![CDATA[MerchantId]]></Value>
    </productionMerchantId>
    <productionPasscode>
      <Value><![CDATA[Passcode]]></Value>
    </productionPasscode>
    <stagingMerchantId>
      <Value><![CDATA[MerchantId]]></Value>
    </stagingMerchantId>
    <stagingPasscode>
      <Value><![CDATA[Passcode]]></Value>
    </stagingPasscode>
    <transactionDescription>
      <Value><![CDATA[Transaction Description]]></Value>
    </transactionDescription>
    <transactionId>
      <Value><![CDATA[{Prefix}-{Reference}-{IdempotencyKey}]]></Value>
    </transactionId>
  </Properties>
</Content>