<?xml version="1.0" encoding="utf-8"?>
<Content Key="94613ab7-aca8-4f8c-8c9c-d9a08274c3e8" Alias="Bangladesh" Level="5">
  <Info>
    <Parent Key="283986f7-82d6-431a-826a-0c3e8648a95b">Location</Parent>
    <Path>/Settings/Giving/FundDimensions/Location/Bangladesh</Path>
    <Trashed>false</Trashed>
    <ContentType>fundDimension1Value</ContentType>
    <CreateDate>2021-01-08T19:05:38</CreateDate>
    <NodeName Default="Bangladesh" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <isUnrestricted>
      <Value><![CDATA[]]></Value>
    </isUnrestricted>
  </Properties>
</Content>