<?xml version="1.0" encoding="utf-8"?>
<Content Key="b5e6cdfa-e775-412f-b8e9-33810a0b44b5" Alias="Blocks" Level="4">
  <Info>
    <Parent Key="ce8cbad0-fac9-45d8-91d5-f6bc05b3f966">Text</Parent>
    <Path>/Settings/Localization/Text/Blocks</Path>
    <Trashed>false</Trashed>
    <ContentType>textContainerFolder</ContentType>
    <CreateDate>2022-03-01T15:01:52</CreateDate>
    <NodeName Default="Blocks" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>