<?xml version="1.0" encoding="utf-8"?>
<Content Key="a819a19d-7c53-45e3-8cc6-bfa83978b796" Alias="Blog" Level="2">
  <Info>
    <Parent Key="e767a426-1115-4436-8ee3-1350c1f87550">Home</Parent>
    <Path>/Home/Blog</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPage</ContentType>
    <CreateDate>2022-01-16T18:15:58</CreateDate>
    <NodeName Default="Blog" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4b0fc262-066a-4c77-a34d-c0d2fa79b45d">Page</Template>
  </Info>
  <Properties>
    <assets>
      <Value><![CDATA[]]></Value>
    </assets>
    <blocks>
      <Value><![CDATA[{"version":3,"header":null,"blocks":[]}]]></Value>
    </blocks>
    <hidePage>
      <Value><![CDATA[0]]></Value>
    </hidePage>
    <titleMeta>
      <Value><![CDATA[{
  "title": "Blog",
  "description": ""
}]]></Value>
    </titleMeta>
  </Properties>
</Content>