<?xml version="1.0" encoding="utf-8"?>
<Content Key="eb68c8c0-6f9d-4477-8d67-10d27f49ce87" Alias="Blog" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Blog</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPosts</ContentType>
    <CreateDate>2022-01-10T17:15:08</CreateDate>
    <NodeName Default="Blog" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>