<?xml version="1.0" encoding="utf-8"?>
<Content Key="29eab28b-fbb9-4c5f-9a33-15b38031283b" Alias="Botswana" Level="4">
  <Info>
    <Parent Key="910f8116-b3b4-42c7-aba4-ea28f0040e21">Countries</Parent>
    <Path>/Settings/System/Countries/Botswana</Path>
    <Trashed>false</Trashed>
    <ContentType>country</ContentType>
    <CreateDate>2021-01-08T18:35:12</CreateDate>
    <NodeName Default="Botswana" />
    <SortOrder>20</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <diallingCode>
      <Value><![CDATA[267]]></Value>
    </diallingCode>
    <iso2Code>
      <Value><![CDATA[BW]]></Value>
    </iso2Code>
    <iso3Code>
      <Value><![CDATA[BWA]]></Value>
    </iso3Code>
    <localityOptional>
      <Value><![CDATA[1]]></Value>
    </localityOptional>
    <postalCodeOptional>
      <Value><![CDATA[1]]></Value>
    </postalCodeOptional>
  </Properties>
</Content>