<?xml version="1.0" encoding="utf-8"?>
<Content Key="b692d66c-5194-4443-9f5c-8b1c54a91d8c" Alias="Campaigns" Level="3">
  <Info>
    <Parent Key="b0bc5dfc-6a5f-4248-b04a-37ad50e0e96b">Campaigns</Parent>
    <Path>/Crowdfunding/Campaigns/Campaigns</Path>
    <Trashed>false</Trashed>
    <ContentType>crowdfundingCampaignFolder</ContentType>
    <CreateDate>2024-08-08T11:40:43</CreateDate>
    <NodeName Default="Campaigns" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>