<?xml version="1.0" encoding="utf-8"?>
<Content Key="b0bc5dfc-6a5f-4248-b04a-37ad50e0e96b" Alias="Campaigns" Level="2">
  <Info>
    <Parent Key="8daf77a1-79a2-4bc6-a424-597e28a42388">Crowdfunding</Parent>
    <Path>/Crowdfunding/Campaigns</Path>
    <Trashed>false</Trashed>
    <ContentType>crowdfundingCampaigns</ContentType>
    <CreateDate>2023-11-03T11:25:51</CreateDate>
    <NodeName Default="Campaigns" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>