<?xml version="1.0" encoding="utf-8"?>
<Content Key="f067e574-b254-4b79-9b51-fad1737abe40" Alias="Campaign Tags" Level="3">
  <Info>
    <Parent Key="2a9ab01f-aaf8-4ad0-944e-17d54f6917c8">Crowd Funding</Parent>
    <Path>/Settings/CrowdFunding/CampaignTags</Path>
    <Trashed>false</Trashed>
    <ContentType>crowdFundingCampaignTags</ContentType>
    <CreateDate>2023-11-03T11:44:08</CreateDate>
    <NodeName Default="Campaign Tags" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>