<?xml version="1.0" encoding="utf-8"?>
<Content Key="6202fa90-8554-4ff0-8947-e57e2ab19592" Alias="Cart" Level="2">
  <Info>
    <Parent Key="e767a426-1115-4436-8ee3-1350c1f87550">Home</Parent>
    <Path>/Home/Cart</Path>
    <Trashed>false</Trashed>
    <ContentType>cartPage</ContentType>
    <CreateDate>2022-01-14T07:52:17</CreateDate>
    <NodeName Default="Cart" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1e41f357-8ef0-44ee-8cd1-778889af3b27">Cart</Template>
  </Info>
  <Properties>
    <assets>
      <Value><![CDATA[]]></Value>
    </assets>
    <blocks>
      <Value><![CDATA[{"version":3,"header":null,"blocks":[]}]]></Value>
    </blocks>
    <hidePage>
      <Value><![CDATA[1]]></Value>
    </hidePage>
    <titleMeta>
      <Value><![CDATA[{
  "title": "Cart",
  "description": ""
}]]></Value>
    </titleMeta>
  </Properties>
</Content>