<?xml version="1.0" encoding="utf-8"?>
<Content Key="897e2241-e019-456d-ab18-7883d37dc49c" Alias="Categories" Level="3">
  <Info>
    <Parent Key="d3cf706d-92e3-4292-a6c9-02ecac69b280">Events</Parent>
    <Path>/Settings/Events/Categories</Path>
    <Trashed>false</Trashed>
    <ContentType>eventCategories</ContentType>
    <CreateDate>2022-01-16T17:35:26</CreateDate>
    <NodeName Default="Categories" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>