<?xml version="1.0" encoding="utf-8"?>
<Content Key="1fd67f66-8bb2-4e32-ae66-678439ff760a" Alias="Categories" Level="4">
  <Info>
    <Parent Key="9051bec5-c070-49ca-a5d3-d6be7c88a5c2">Tags</Parent>
    <Path>/Settings/Crowdfunding/Tags/Categories</Path>
    <Trashed>false</Trashed>
    <ContentType>crowdfundingTagCategories</ContentType>
    <CreateDate>2024-08-14T19:28:23</CreateDate>
    <NodeName Default="Categories" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>