<?xml version="1.0" encoding="utf-8"?>
<Content Key="478642fa-5629-4934-b5ee-915891690103" Alias="Categories" Level="3">
  <Info>
    <Parent Key="d8e49f8a-8e54-4623-b1c1-efaf0023ad0a">Consent</Parent>
    <Path>/Settings/Consent/Categories</Path>
    <Trashed>false</Trashed>
    <ContentType>consentCategories</ContentType>
    <CreateDate>2022-01-30T09:26:37</CreateDate>
    <NodeName Default="Categories" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>