<?xml version="1.0" encoding="utf-8"?>
<Content Key="af8fa136-4194-4cd8-a75d-b1c2cefd2213" Alias="Challenges and Events" Level="3">
  <Info>
    <Parent Key="151a3d76-4105-44e6-ac3d-35ace1bee459">Get Involved</Parent>
    <Path>/Home/GetInvolved/ChallengesAndEvents</Path>
    <Trashed>false</Trashed>
    <ContentType>eventsPage</ContentType>
    <CreateDate>2022-01-01T15:50:51</CreateDate>
    <NodeName Default="Challenges and Events" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4b0fc262-066a-4c77-a34d-c0d2fa79b45d">Page</Template>
  </Info>
  <Properties>
    <assets>
      <Value><![CDATA[]]></Value>
    </assets>
    <bodyHtml>
      <Value><![CDATA[]]></Value>
    </bodyHtml>
    <css>
      <Value><![CDATA[]]></Value>
    </css>
    <headHtml>
      <Value><![CDATA[]]></Value>
    </headHtml>
    <hidePage>
      <Value><![CDATA[0]]></Value>
    </hidePage>
    <javaScript>
      <Value><![CDATA[]]></Value>
    </javaScript>
    <titleMeta>
      <Value><![CDATA[{
  "title": "Challenges & Events",
  "description": ""
}]]></Value>
    </titleMeta>
  </Properties>
</Content>