<?xml version="1.0" encoding="utf-8"?>
<Content Key="abc6c6ff-1a4b-4586-8a3c-f16e0fe9e47e" Alias="Checkout" Level="2">
  <Info>
    <Parent Key="e767a426-1115-4436-8ee3-1350c1f87550">Home</Parent>
    <Path>/Home/Checkout</Path>
    <Trashed>false</Trashed>
    <ContentType>checkoutPage</ContentType>
    <CreateDate>2022-01-01T15:49:21</CreateDate>
    <NodeName Default="Checkout" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4b0fc262-066a-4c77-a34d-c0d2fa79b45d">Page</Template>
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{"version":3,"header":null,"blocks":[]}]]></Value>
    </blocks>
    <hidePage>
      <Value><![CDATA[0]]></Value>
    </hidePage>
    <titleMeta>
      <Value><![CDATA[{
  "title": "Checkout",
  "description": ""
}]]></Value>
    </titleMeta>
  </Properties>
</Content>