<?xml version="1.0" encoding="utf-8"?>
<Content Key="ef9ba430-d612-463b-bad9-50aba13f823f" Alias="Chile" Level="4">
  <Info>
    <Parent Key="910f8116-b3b4-42c7-aba4-ea28f0040e21">Countries</Parent>
    <Path>/Settings/System/Countries/Chile</Path>
    <Trashed>false</Trashed>
    <ContentType>country</ContentType>
    <CreateDate>2021-01-08T18:35:23</CreateDate>
    <NodeName Default="Chile" />
    <SortOrder>29</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <diallingCode>
      <Value><![CDATA[56]]></Value>
    </diallingCode>
    <iso2Code>
      <Value><![CDATA[CL]]></Value>
    </iso2Code>
    <iso3Code>
      <Value><![CDATA[CHL]]></Value>
    </iso3Code>
    <localityOptional>
      <Value><![CDATA[]]></Value>
    </localityOptional>
    <postalCodeOptional>
      <Value><![CDATA[]]></Value>
    </postalCodeOptional>
  </Properties>
</Content>