<?xml version="1.0" encoding="utf-8"?>
<Content Key="f5fb1a1c-0d6e-4f04-9e92-ad0dfbb25a5e" Alias="Children" Level="5">
  <Info>
    <Parent Key="b2492c81-bf6a-4765-8a1c-911b4e023237">Theme</Parent>
    <Path>/Settings/Giving/FundDimensions/Theme/Children</Path>
    <Trashed>false</Trashed>
    <ContentType>fundDimension2Value</ContentType>
    <CreateDate>2022-01-02T10:01:43</CreateDate>
    <NodeName Default="Children" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <isUnrestricted>
      <Value><![CDATA[0]]></Value>
    </isUnrestricted>
  </Properties>
</Content>