<?xml version="1.0" encoding="utf-8"?>
<Content Key="49aef817-0116-413d-96d0-4ec56b49c778" Alias="Child Sponsorship" Level="3">
  <Info>
    <Parent Key="9e6111e7-6157-40aa-8b99-1b28df64eb9d">Sponsorships</Parent>
    <Path>/Settings/Sponsorships/ChildSponsorship</Path>
    <Trashed>false</Trashed>
    <ContentType>sponsorshipScheme</ContentType>
    <CreateDate>2020-11-26T13:35:27</CreateDate>
    <NodeName Default="Child Sponsorship" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <allowRegularDonations>
      <Value><![CDATA[1]]></Value>
    </allowRegularDonations>
    <allowSingleDonations>
      <Value><![CDATA[1]]></Value>
    </allowSingleDonations>
    <dimension1>
      <Value><![CDATA[umb://document/a580c8b04f7f49778c20d36129fa2f3a]]></Value>
    </dimension1>
    <dimension3>
      <Value><![CDATA[umb://document/367d1c688d184251b81e93bbf126526c,umb://document/21bcccd8f9754000b8510fca769ce3d3,umb://document/c648754c2c7f4fa88d0ec308b0d3b153]]></Value>
    </dimension3>
    <price>
      <Value><![CDATA[30]]></Value>
    </price>
  </Properties>
</Content>