<?xml version="1.0" encoding="utf-8"?>
<Content Key="126b18ef-92f3-4101-a215-58c4eff9ee64" Alias="Cloudflare" Level="3">
  <Info>
    <Parent Key="23963105-efef-4026-9f29-a92710ce080f">CDN</Parent>
    <Path>/Settings/CDN/Cloudflare</Path>
    <Trashed>false</Trashed>
    <ContentType>cloudflareSettings</ContentType>
    <CreateDate>2020-11-26T13:35:38</CreateDate>
    <NodeName Default="Cloudflare" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <videoAccountId>
      <Value><![CDATA[accountId]]></Value>
    </videoAccountId>
    <videoToken>
      <Value><![CDATA[token]]></Value>
    </videoToken>
  </Properties>
</Content>