<?xml version="1.0" encoding="utf-8"?>
<Content Key="85587e49-3313-44b6-b669-5e634857f471" Alias="Code" Level="4">
  <Info>
    <Parent Key="ce8cbad0-fac9-45d8-91d5-f6bc05b3f966">Text</Parent>
    <Path>/Settings/Localization/Text/Code</Path>
    <Trashed>false</Trashed>
    <ContentType>textContainerFolder</ContentType>
    <CreateDate>2024-08-14T18:22:18</CreateDate>
    <NodeName Default="Code" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>