<?xml version="1.0" encoding="utf-8"?>
<Content Key="8daf77a1-79a2-4bc6-a424-597e28a42388" Alias="Crowdfunding" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Crowdfunding</Path>
    <Trashed>false</Trashed>
    <ContentType>crowdfunding</ContentType>
    <CreateDate>2023-11-03T11:18:43</CreateDate>
    <NodeName Default="Crowdfunding" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>