<?xml version="1.0" encoding="utf-8"?>
<Content Key="f23e9e75-f50d-4f03-8ab4-a2072f7f08c9" Alias="Currencies" Level="3">
  <Info>
    <Parent Key="ef4e9d05-c930-4619-9d73-694061f8b1f5">Giving</Parent>
    <Path>/Settings/Giving/Currencies</Path>
    <Trashed>false</Trashed>
    <ContentType>currencySettings</ContentType>
    <CreateDate>2020-11-26T13:00:09</CreateDate>
    <NodeName Default="Currencies" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>