<?xml version="1.0" encoding="utf-8"?>
<Content Key="f6eecb1d-4bb1-49a0-8d05-2622fec4e79c" Alias="Currencylayer" Level="3">
  <Info>
    <Parent Key="15e3c3e9-2e26-4b7f-85a0-bbe2848c2695">Forex</Parent>
    <Path>/Settings/Forex/Currencylayer</Path>
    <Trashed>false</Trashed>
    <ContentType>currencylayerSettings</ContentType>
    <CreateDate>2021-02-20T17:55:02</CreateDate>
    <NodeName Default="Currencylayer" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <apiKey>
      <Value><![CDATA[apiKey]]></Value>
    </apiKey>
    <marketRateAdjustment>
      <Value><![CDATA[5]]></Value>
    </marketRateAdjustment>
  </Properties>
</Content>