<?xml version="1.0" encoding="utf-8"?>
<Content Key="f23e9e75-f50d-4f03-8ab4-a2072f7f08c9" Alias="Currencies" Level="3">
  <Info>
    <Parent Key="23963105-efef-4026-9f29-a92710ce080f">System</Parent>
    <Path>/Settings/System/Currencies</Path>
    <Trashed>false</Trashed>
    <ContentType>currencySettings</ContentType>
    <CreateDate>2020-11-26T13:00:09</CreateDate>
    <NodeName Default="Currencies" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>