<?xml version="1.0" encoding="utf-8"?>
<Content Key="6d03cd39-7d10-434b-8adb-91a50fbcd4ca" Alias="Democratic Republic of the Congo" Level="4">
  <Info>
    <Parent Key="910f8116-b3b4-42c7-aba4-ea28f0040e21">Countries</Parent>
    <Path>/Settings/System/Countries/DemocraticRepublicOfTheCongo</Path>
    <Trashed>false</Trashed>
    <ContentType>country</ContentType>
    <CreateDate>2021-01-08T18:35:33</CreateDate>
    <NodeName Default="Democratic Republic of the Congo" />
    <SortOrder>36</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <iso2Code>
      <Value><![CDATA[CD]]></Value>
    </iso2Code>
    <iso3Code>
      <Value><![CDATA[COD]]></Value>
    </iso3Code>
    <localityOptional>
      <Value><![CDATA[]]></Value>
    </localityOptional>
    <postalCodeOptional>
      <Value><![CDATA[]]></Value>
    </postalCodeOptional>
  </Properties>
</Content>