<?xml version="1.0" encoding="utf-8"?>
<Content Key="cb9f2c27-2ef1-4c01-ae06-5431a97292e2" Alias="Dimension 4" Level="4">
  <Info>
    <Parent Key="35717f21-c868-484c-80d9-2c6b69009797">Fund Dimensions</Parent>
    <Path>/Settings/Giving/FundDimensions/Dimension4</Path>
    <Trashed>false</Trashed>
    <ContentType>fundDimension4</ContentType>
    <CreateDate>2020-11-26T13:20:30</CreateDate>
    <NodeName Default="Dimension 4" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <isActive>
      <Value><![CDATA[]]></Value>
    </isActive>
  </Properties>
</Content>