<?xml version="1.0" encoding="utf-8"?>
<Content Key="dd103d26-16a7-4cfb-ac69-4c31852bf32e" Alias="Direct Debit UK" Level="3">
  <Info>
    <Parent Key="ac70c8ae-a240-4e87-9ff5-5a64466b5bfb">Payments</Parent>
    <Path>/Settings/Payments/DirectDebitUK</Path>
    <Trashed>false</Trashed>
    <ContentType>directDebitUKSettings</ContentType>
    <CreateDate>2023-07-04T17:04:58</CreateDate>
    <NodeName Default="Direct Debit UK" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <loqateApiKey>
      <Value><![CDATA[]]></Value>
    </loqateApiKey>
    <restrictCollectionDaysTo>
      <Value><![CDATA[]]></Value>
    </restrictCollectionDaysTo>
    <transactionDescription>
      <Value><![CDATA[Transaction Description]]></Value>
    </transactionDescription>
    <transactionId>
      <Value><![CDATA[{Prefix}-{Reference}-{IdempotencyKey}]]></Value>
    </transactionId>
  </Properties>
</Content>