<?xml version="1.0" encoding="utf-8"?>
<Content Key="5a3cf96f-d4bb-4b38-a623-d188135f3358" Alias="Donation Items" Level="3">
  <Info>
    <Parent Key="ef4e9d05-c930-4619-9d73-694061f8b1f5">Giving</Parent>
    <Path>/Settings/Giving/DonationItems</Path>
    <Trashed>false</Trashed>
    <ContentType>donationItems</ContentType>
    <CreateDate>2020-11-26T13:18:25</CreateDate>
    <NodeName Default="Donation Items" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>