<?xml version="1.0" encoding="utf-8"?>
<Content Key="c87805e0-65ec-4ead-9ebc-30bfe95c3c2d" Alias="Email Marketing" Level="4">
  <Info>
    <Parent Key="22ca2a95-bfe7-46a8-a800-3989bfc7dd89">Options</Parent>
    <Path>/Settings/Consent/Options/EmailMarketing</Path>
    <Trashed>false</Trashed>
    <ContentType>consentOption</ContentType>
    <CreateDate>2022-01-30T09:47:40</CreateDate>
    <NodeName Default="Email Marketing" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <categories>
      <Value><![CDATA[umb://document/e09dfad54ece4991b328932fb070d99b]]></Value>
    </categories>
    <channel>
      <Value><![CDATA[[
  "email"
]]]></Value>
    </channel>
    <statement>
      <Value><![CDATA[Yes I'd like to hear from you by email]]></Value>
    </statement>
  </Properties>
</Content>