<?xml version="1.0" encoding="utf-8"?>
<Content Key="67102776-de7e-4c9e-ae02-ab15edbf72f2" Alias="Emails" Level="2">
  <Info>
    <Parent Key="78da8a82-e8c5-41e3-95b0-66bbb715ac72">Template</Parent>
    <Path>/Template/Emails</Path>
    <Trashed>false</Trashed>
    <ContentType>emailTemplates</ContentType>
    <CreateDate>2021-02-18T18:46:35</CreateDate>
    <NodeName Default="Emails" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>