<?xml version="1.0" encoding="utf-8"?>
<Content Key="6690be6f-a650-48ae-83b8-4e5e7b993460" Alias="Email" Level="3">
  <Info>
    <Parent Key="973dcae0-212d-4763-b3f6-5606d4440f85">Data Entry</Parent>
    <Path>/Settings/DataEntry/Email</Path>
    <Trashed>false</Trashed>
    <ContentType>emailDataEntrySettings</ContentType>
    <CreateDate>2020-11-26T13:36:18</CreateDate>
    <NodeName Default="Email" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <helpText>
      <Value><![CDATA[Please enter a valid email so we can send you a receipt]]></Value>
    </helpText>
    <label>
      <Value><![CDATA[Email]]></Value>
    </label>
    <required>
      <Value><![CDATA[1]]></Value>
    </required>
    <validate>
      <Value><![CDATA[1]]></Value>
    </validate>
  </Properties>
</Content>