<?xml version="1.0" encoding="utf-8"?>
<Content Key="6690be6f-a650-48ae-83b8-4e5e7b993460" Alias="Email" Level="3">
  <Info>
    <Parent Key="973dcae0-212d-4763-b3f6-5606d4440f85">Validation</Parent>
    <Path>/Settings/Validation/Email</Path>
    <Trashed>false</Trashed>
    <ContentType>emailValidationSettings</ContentType>
    <CreateDate>2020-11-26T13:36:18</CreateDate>
    <NodeName Default="Email" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <validateEmails>
      <Value><![CDATA[1]]></Value>
    </validateEmails>
  </Properties>
</Content>