<?xml version="1.0" encoding="utf-8"?>
<Content Key="fd3ca9fb-f061-41aa-956c-919a3e368318" Alias="Email" Level="2">
  <Info>
    <Parent Key="aa6f92e0-8445-40f2-993d-46cbdb66ac00">Settings</Parent>
    <Path>/Settings/Email</Path>
    <Trashed>false</Trashed>
    <ContentType>emailSettings</ContentType>
    <CreateDate>2020-11-26T12:59:50</CreateDate>
    <NodeName Default="Email" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactAddress>
      <Value><![CDATA[info@demosite.com]]></Value>
    </contactAddress>
  </Properties>
</Content>