<?xml version="1.0" encoding="utf-8"?>
<Content Key="e890b461-8032-4b90-813b-705840607db3" Alias="Emergency" Level="5">
  <Info>
    <Parent Key="b2492c81-bf6a-4765-8a1c-911b4e023237">Theme</Parent>
    <Path>/Settings/Giving/FundDimensions/Theme/Emergency</Path>
    <Trashed>false</Trashed>
    <ContentType>fundDimension2Value</ContentType>
    <CreateDate>2022-01-02T10:02:05</CreateDate>
    <NodeName Default="Emergency" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <isUnrestricted>
      <Value><![CDATA[0]]></Value>
    </isUnrestricted>
  </Properties>
</Content>