<?xml version="1.0" encoding="utf-8"?>
<Content Key="286be6ae-74a2-4f22-94a1-0ca72ea422a1" Alias="Emergency Fund" Level="4">
  <Info>
    <Parent Key="5a3cf96f-d4bb-4b38-a623-d188135f3358">Donation Items</Parent>
    <Path>/Settings/Giving/DonationItems/EmergencyFund</Path>
    <Trashed>false</Trashed>
    <ContentType>donationItem</ContentType>
    <CreateDate>2021-01-08T19:06:39</CreateDate>
    <NodeName Default="Emergency Fund" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <allowRegularDonations>
      <Value><![CDATA[1]]></Value>
    </allowRegularDonations>
    <allowSingleDonations>
      <Value><![CDATA[1]]></Value>
    </allowSingleDonations>
    <dimension1Options>
      <Value><![CDATA[umb://document/27ca3b8cebfb41209b40c134acefc78f,umb://document/1283a395c0294061a4ce2d034fe46864,umb://document/e9fe0f29f0a3476eb118649e80f4f704,umb://document/f1648706e0a246eca0d94fd0c9197983,umb://document/a580c8b04f7f49778c20d36129fa2f3a]]></Value>
    </dimension1Options>
    <dimension3Options>
      <Value><![CDATA[umb://document/56c5b8c69f1e483a911c45d7dcc54a08,umb://document/1173ded50cd74c32b6dbea08061152cc,umb://document/cdf2496dcbd6480bac30d9fb57736e27,umb://document/21bcccd8f9754000b8510fca769ce3d3,umb://document/c648754c2c7f4fa88d0ec308b0d3b153]]></Value>
    </dimension3Options>
    <free>
      <Value><![CDATA[0]]></Value>
    </free>
    <price>
      <Value><![CDATA[]]></Value>
    </price>
  </Properties>
</Content>