<?xml version="1.0" encoding="utf-8"?>
<Content Key="286be6ae-74a2-4f22-94a1-0ca72ea422a1" Alias="Emergency Fund" Level="4">
  <Info>
    <Parent Key="5a3cf96f-d4bb-4b38-a623-d188135f3358">Donation Items</Parent>
    <Path>/Settings/Giving/DonationItems/EmergencyFund</Path>
    <Trashed>false</Trashed>
    <ContentType>donationItem</ContentType>
    <CreateDate>2021-01-08T19:06:39</CreateDate>
    <NodeName Default="Emergency Fund" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <allowedGivingTypes>
      <Value><![CDATA[["donation","regularGiving"]]]></Value>
    </allowedGivingTypes>
    <dimension1Options>
      <Value><![CDATA[umb://document/61541e9804fd44919236957b6e580bd8,umb://document/a580c8b04f7f49778c20d36129fa2f3a]]></Value>
    </dimension1Options>
    <dimension2Options>
      <Value><![CDATA[umb://document/e890b46180324b90813b705840607db3]]></Value>
    </dimension2Options>
    <dimension3Options>
      <Value><![CDATA[umb://document/367d1c688d184251b81e93bbf126526c,umb://document/21bcccd8f9754000b8510fca769ce3d3,umb://document/c648754c2c7f4fa88d0ec308b0d3b153]]></Value>
    </dimension3Options>
    <priceAmount>
      <Value><![CDATA[]]></Value>
    </priceAmount>
    <priceLocked>
      <Value><![CDATA[0]]></Value>
    </priceLocked>
    <priceRules>
      <Value><![CDATA[]]></Value>
    </priceRules>
  </Properties>
</Content>