<?xml version="1.0" encoding="utf-8"?>
<Content Key="a2a1e5c7-9e62-49f3-9c92-427e67b45c1a" Alias="Emergency Fund" Level="3">
  <Info>
    <Parent Key="a8492d39-1455-4de4-bcb2-e4d014d9bfc5">Donate Page</Parent>
    <Path>/Giving/DonatePage/EmergencyFund</Path>
    <Trashed>false</Trashed>
    <ContentType>fundDonationOption</ContentType>
    <CreateDate>2021-01-09T10:38:45</CreateDate>
    <NodeName Default="Emergency Fund" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <defaultGivingType>
      <Value><![CDATA[]]></Value>
    </defaultGivingType>
    <dimension1>
      <Value><![CDATA[]]></Value>
    </dimension1>
    <dimension2>
      <Value><![CDATA[]]></Value>
    </dimension2>
    <dimension3>
      <Value><![CDATA[]]></Value>
    </dimension3>
    <donationItem>
      <Value><![CDATA[umb://document/286be6ae74a24f2294a10ca72ea422a1]]></Value>
    </donationItem>
    <donationPriceHandles>
      <Value><![CDATA[[
  {
    "key": "070ada3d-e175-4a1f-b572-f738458b97d1",
    "name": "50 Feed 1 Family",
    "ncContentTypeAlias": "priceHandle",
    "PropType": null,
    "amount": "50",
    "description": "Feed 1 Family"
  },
  {
    "key": "30aa2cbb-d025-4b8e-ad3e-448fb8f31724",
    "name": "100 Feed 2 Families",
    "ncContentTypeAlias": "priceHandle",
    "PropType": null,
    "amount": "100",
    "description": "Feed 2 Families"
  },
  {
    "key": "9dd8bc9a-0c67-4ccf-95f6-60a35a5e9b36",
    "name": "150 Feed 3 Families",
    "ncContentTypeAlias": "priceHandle",
    "PropType": null,
    "amount": "150",
    "description": "Feed 3 Families"
  }
]]]></Value>
    </donationPriceHandles>
    <hideDonation>
      <Value><![CDATA[]]></Value>
    </hideDonation>
    <hideQuantity>
      <Value><![CDATA[]]></Value>
    </hideQuantity>
    <hideRegularGiving>
      <Value><![CDATA[]]></Value>
    </hideRegularGiving>
    <regularGivingPriceHandles>
      <Value><![CDATA[[
  {
    "key": "9b9a6697-105a-48d0-a6a2-d38a51ed1ad5",
    "name": "5 Help 1 Person",
    "ncContentTypeAlias": "priceHandle",
    "PropType": null,
    "amount": "5",
    "description": "Help 1 Person"
  },
  {
    "key": "708e66b7-16e6-4aa9-9af6-e51df36d06e2",
    "name": "10 Help 2 People",
    "ncContentTypeAlias": "priceHandle",
    "PropType": null,
    "amount": "10",
    "description": "Help 2 People"
  },
  {
    "key": "bcb1903a-8003-4034-8c77-4f0a54367d6b",
    "name": "15 Help 3 People",
    "ncContentTypeAlias": "priceHandle",
    "PropType": null,
    "amount": "15",
    "description": "Help 3 People"
  }
]]]></Value>
    </regularGivingPriceHandles>
  </Properties>
</Content>