<?xml version="1.0" encoding="utf-8"?>
<Content Key="7a568f35-9d5d-469e-b82e-5306358d28db" Alias="Engage" Level="4">
  <Info>
    <Parent Key="387592d8-285b-4645-9283-082edfe36086">Services</Parent>
    <Path>/Settings/System/Services/Engage</Path>
    <Trashed>false</Trashed>
    <ContentType>engageSettings</ContentType>
    <CreateDate>2021-02-20T17:54:17</CreateDate>
    <NodeName Default="Engage" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <productionWebhook>
      <Value><![CDATA[webhook]]></Value>
    </productionWebhook>
    <sandboxWebhook>
      <Value><![CDATA[webhook]]></Value>
    </sandboxWebhook>
  </Properties>
</Content>