<?xml version="1.0" encoding="utf-8"?>
<Content Key="62a505c9-ae03-43fe-bf77-d1e82068af69" Alias="Error" Level="3">
  <Info>
    <Parent Key="abc6c6ff-1a4b-4586-8a3c-f16e0fe9e47e">Checkout</Parent>
    <Path>/Home/Checkout/Error</Path>
    <Trashed>false</Trashed>
    <ContentType>checkoutErrorPage</ContentType>
    <CreateDate>2022-03-01T15:00:14</CreateDate>
    <NodeName Default="Error" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <assets>
      <Value><![CDATA[]]></Value>
    </assets>
    <blocks>
      <Value><![CDATA[{
  "version": "3",
  "header": null,
  "blocks": [
    {
      "id": "3faa050b-c7d4-4bca-8cf3-223d79dd10a8",
      "definitionId": "9081bf67-0000-0000-0000-000000000000",
      "layoutId": "83a885ad-0000-0000-0000-000000000000",
      "presetId": null,
      "isDisabled": "False",
      "content": [
        {
          "key": "ad535969-667f-4b8f-a190-5c544ac053f3",
          "name": "Checkout Error",
          "ncContentTypeAlias": "checkoutErrorBlock",
          "PropType": null,
          "notes": null
        }
      ],
      "variants": []
    }
  ]
}]]></Value>
    </blocks>
    <bodyHtml>
      <Value><![CDATA[]]></Value>
    </bodyHtml>
    <css>
      <Value><![CDATA[]]></Value>
    </css>
    <headHtml>
      <Value><![CDATA[]]></Value>
    </headHtml>
    <hidePage>
      <Value><![CDATA[1]]></Value>
    </hidePage>
    <javaScript>
      <Value><![CDATA[]]></Value>
    </javaScript>
    <titleMeta>
      <Value><![CDATA[{
  "title": "Error",
  "description": ""
}]]></Value>
    </titleMeta>
  </Properties>
</Content>