<?xml version="1.0" encoding="utf-8"?>
<Content Key="9b65af77-ddc7-4a87-a62a-691a130a8f46" Alias="Estonia" Level="4">
  <Info>
    <Parent Key="910f8116-b3b4-42c7-aba4-ea28f0040e21">Countries</Parent>
    <Path>/Settings/System/Countries/Estonia</Path>
    <Trashed>false</Trashed>
    <ContentType>country</ContentType>
    <CreateDate>2021-01-08T18:35:44</CreateDate>
    <NodeName Default="Estonia" />
    <SortOrder>42</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <diallingCode>
      <Value><![CDATA[372]]></Value>
    </diallingCode>
    <iso2Code>
      <Value><![CDATA[EE]]></Value>
    </iso2Code>
    <iso3Code>
      <Value><![CDATA[EST]]></Value>
    </iso3Code>
    <localityOptional>
      <Value><![CDATA[]]></Value>
    </localityOptional>
    <postalCodeOptional>
      <Value><![CDATA[]]></Value>
    </postalCodeOptional>
  </Properties>
</Content>