<?xml version="1.0" encoding="utf-8"?>
<Content Key="38738d10-a2f6-4f39-a644-86faacaa94a5" Alias="EUR" Level="4">
  <Info>
    <Parent Key="f23e9e75-f50d-4f03-8ab4-a2072f7f08c9">Currencies</Parent>
    <Path>/Settings/System/Currencies/EUR</Path>
    <Trashed>false</Trashed>
    <ContentType>currency</ContentType>
    <CreateDate>2021-01-08T18:34:21</CreateDate>
    <NodeName Default="EUR" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <isBaseCurrency>
      <Value><![CDATA[0]]></Value>
    </isBaseCurrency>
    <symbol>
      <Value><![CDATA[€]]></Value>
    </symbol>
  </Properties>
</Content>