<?xml version="1.0" encoding="utf-8"?>
<Content Key="d3cf706d-92e3-4292-a6c9-02ecac69b280" Alias="Events" Level="2">
  <Info>
    <Parent Key="aa6f92e0-8445-40f2-993d-46cbdb66ac00">Settings</Parent>
    <Path>/Settings/Events</Path>
    <Trashed>false</Trashed>
    <ContentType>eventsSettings</ContentType>
    <CreateDate>2022-01-16T17:35:17</CreateDate>
    <NodeName Default="Events" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>