<?xml version="1.0" encoding="utf-8"?>
<Content Key="386d0163-3aba-40bc-bdbf-350dc3c1a39e" Alias="Events" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Events</Path>
    <Trashed>false</Trashed>
    <ContentType>events</ContentType>
    <CreateDate>2022-01-10T15:55:09</CreateDate>
    <NodeName Default="Events" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>