<?xml version="1.0" encoding="utf-8"?>
<Content Key="56d47af9-f6ed-4724-ad08-96d14757bd1e" Alias="Facebook" Level="3">
  <Info>
    <Parent Key="cec4f34a-fb0e-45fc-b7cd-d932439561bb">Social Media</Parent>
    <Path>/Settings/SocialMedia/Facebook</Path>
    <Trashed>false</Trashed>
    <ContentType>facebookSettings</ContentType>
    <CreateDate>2020-11-26T13:35:00</CreateDate>
    <NodeName Default="Facebook" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <pageUrl>
      <Value><![CDATA[https://en-gb.facebook.com/DemoSite]]></Value>
    </pageUrl>
  </Properties>
</Content>