<?xml version="1.0" encoding="utf-8"?>
<Content Key="cde61017-acfc-40c7-9899-b111351c1ac0" Alias="Feedbacks" Level="3">
  <Info>
    <Parent Key="ef4e9d05-c930-4619-9d73-694061f8b1f5">Giving</Parent>
    <Path>/Settings/Giving/Feedbacks</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackSchemes</ContentType>
    <CreateDate>2023-05-23T07:55:14</CreateDate>
    <NodeName Default="Feedbacks" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>