<?xml version="1.0" encoding="utf-8"?>
<Content Key="850b63e1-249c-4723-8ed5-c551da66db8f" Alias="Footer" Level="2">
  <Info>
    <Parent Key="78da8a82-e8c5-41e3-95b0-66bbb715ac72">Template</Parent>
    <Path>/Template/Footer</Path>
    <Trashed>false</Trashed>
    <ContentType>templateFooter</ContentType>
    <CreateDate>2020-11-26T13:37:49</CreateDate>
    <NodeName Default="Footer" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <links>
      <Value><![CDATA[[
  {
    "key": "53c9c500-8bbf-445e-bb27-971d8c031607",
    "name": "About us",
    "ncContentTypeAlias": "link",
    "PropType": null,
    "linkContent": "umb://document/1462bac84ce7428ebcea9cbbd4403a9a",
    "linkExternalUrl": "",
    "linkText": "About us"
  },
  {
    "key": "ab2083da-0864-465a-8b38-6036a2477382",
    "name": "Contact us",
    "ncContentTypeAlias": "link",
    "PropType": null,
    "linkContent": "umb://document/1cf9bf61cff74ed4b2429a3bcabeef97",
    "linkExternalUrl": "",
    "linkText": "Contact us"
  },
  {
    "key": "7ef654a8-a73b-44e2-aeab-285c567e0ab1",
    "name": "Privacy",
    "ncContentTypeAlias": "link",
    "PropType": null,
    "linkContent": "umb://document/36f0eca0adde48eb9946f01e1d9c7780",
    "linkExternalUrl": "",
    "linkText": "Privacy"
  },
  {
    "key": "9d694a03-5074-4e6f-bd55-3fde4092b4d0",
    "name": "Terms and conditions",
    "ncContentTypeAlias": "link",
    "PropType": null,
    "linkContent": "umb://document/2834c61a899e449691f8ac2e19c2cbcd",
    "linkExternalUrl": "",
    "linkText": "Terms of Use"
  }
]]]></Value>
    </links>
    <textLine1>
      <Value><![CDATA[Copyright © Demo Site | All Rights Reserved]]></Value>
    </textLine1>
    <textLine2>
      <Value><![CDATA[This is a demo site]]></Value>
    </textLine2>
  </Properties>
</Content>