<?xml version="1.0" encoding="utf-8"?>
<Content Key="15e3c3e9-2e26-4b7f-85a0-bbe2848c2695" Alias="Forex" Level="2">
  <Info>
    <Parent Key="aa6f92e0-8445-40f2-993d-46cbdb66ac00">Settings</Parent>
    <Path>/Settings/Forex</Path>
    <Trashed>false</Trashed>
    <ContentType>forexSettings</ContentType>
    <CreateDate>2022-02-04T21:59:15</CreateDate>
    <NodeName Default="Forex" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>