<?xml version="1.0" encoding="utf-8"?>
<Content Key="3b78c6eb-0b26-4c74-ba89-18d3941f268d" Alias="Fundraisers" Level="2">
  <Info>
    <Parent Key="8daf77a1-79a2-4bc6-a424-597e28a42388">Crowdfunding</Parent>
    <Path>/Crowdfunding/Fundraisers</Path>
    <Trashed>false</Trashed>
    <ContentType>crowdfundingFundraisers</ContentType>
    <CreateDate>2023-12-12T11:34:19</CreateDate>
    <NodeName Default="Fundraisers" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>