<?xml version="1.0" encoding="utf-8"?>
<Content Key="35717f21-c868-484c-80d9-2c6b69009797" Alias="Fund Dimensions" Level="3">
  <Info>
    <Parent Key="ef4e9d05-c930-4619-9d73-694061f8b1f5">Giving</Parent>
    <Path>/Settings/Giving/FundDimensions</Path>
    <Trashed>false</Trashed>
    <ContentType>fundDimensions</ContentType>
    <CreateDate>2020-11-26T13:19:37</CreateDate>
    <NodeName Default="Fund Dimensions" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>