<?xml version="1.0" encoding="utf-8"?>
<Content Key="5cd85599-a789-40fa-b606-4c58a32d56f6" Alias="Gambia" Level="5">
  <Info>
    <Parent Key="283986f7-82d6-431a-826a-0c3e8648a95b">Location</Parent>
    <Path>/Settings/Giving/FundDimensions/Location/Gambia</Path>
    <Trashed>false</Trashed>
    <ContentType>fundDimension1Value</ContentType>
    <CreateDate>2021-01-08T19:07:51</CreateDate>
    <NodeName Default="Gambia" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <isUnrestricted>
      <Value><![CDATA[]]></Value>
    </isUnrestricted>
  </Properties>
</Content>