<?xml version="1.0" encoding="utf-8"?>
<Content Key="598bc8b4-9a37-479c-8eb1-d72d3c11cc7d" Alias="Gambia" Level="4">
  <Info>
    <Parent Key="910f8116-b3b4-42c7-aba4-ea28f0040e21">Countries</Parent>
    <Path>/Settings/System/Countries/Gambia</Path>
    <Trashed>false</Trashed>
    <ContentType>country</ContentType>
    <CreateDate>2021-01-08T18:35:58</CreateDate>
    <NodeName Default="Gambia" />
    <SortOrder>49</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <iso2Code>
      <Value><![CDATA[GM]]></Value>
    </iso2Code>
    <iso3Code>
      <Value><![CDATA[GMB]]></Value>
    </iso3Code>
    <localityOptional>
      <Value><![CDATA[]]></Value>
    </localityOptional>
    <postalCodeOptional>
      <Value><![CDATA[]]></Value>
    </postalCodeOptional>
  </Properties>
</Content>