<?xml version="1.0" encoding="utf-8"?>
<Content Key="6528c0e1-a59e-4dd2-b294-71702c62ca5d" Alias="GBP" Level="4">
  <Info>
    <Parent Key="f23e9e75-f50d-4f03-8ab4-a2072f7f08c9">Currencies</Parent>
    <Path>/Settings/System/Currencies/GBP</Path>
    <Trashed>false</Trashed>
    <ContentType>currency</ContentType>
    <CreateDate>2020-11-26T13:00:34</CreateDate>
    <NodeName Default="GBP" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <isBaseCurrency>
      <Value><![CDATA[1]]></Value>
    </isBaseCurrency>
    <symbol>
      <Value><![CDATA[£]]></Value>
    </symbol>
  </Properties>
</Content>