<?xml version="1.0" encoding="utf-8"?>
<Content Key="4651a3e8-60df-4efd-ad73-9a87796df874" Alias="General Fund" Level="3">
  <Info>
    <Parent Key="a8492d39-1455-4de4-bcb2-e4d014d9bfc5">Donate Page</Parent>
    <Path>/Giving/DonatePage/GeneralFund</Path>
    <Trashed>false</Trashed>
    <ContentType>fundDonationOption</ContentType>
    <CreateDate>2021-01-09T10:37:22</CreateDate>
    <NodeName Default="General Fund" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <dimension1>
      <Value><![CDATA[]]></Value>
    </dimension1>
    <dimension2>
      <Value><![CDATA[]]></Value>
    </dimension2>
    <dimension3>
      <Value><![CDATA[]]></Value>
    </dimension3>
    <donationItem>
      <Value><![CDATA[umb://document/de5e1eb38c7d4076a22c8a17a0fd4750]]></Value>
    </donationItem>
    <donationPriceHandles>
      <Value><![CDATA[]]></Value>
    </donationPriceHandles>
    <hideDonation>
      <Value><![CDATA[]]></Value>
    </hideDonation>
    <hideRegularGiving>
      <Value><![CDATA[]]></Value>
    </hideRegularGiving>
    <regularGivingPriceHandles>
      <Value><![CDATA[]]></Value>
    </regularGivingPriceHandles>
    <showQuantity>
      <Value><![CDATA[]]></Value>
    </showQuantity>
  </Properties>
</Content>