<?xml version="1.0" encoding="utf-8"?>
<Content Key="f7197b89-0444-4162-af5c-fd3b9d591767" Alias="General" Level="5">
  <Info>
    <Parent Key="b2492c81-bf6a-4765-8a1c-911b4e023237">Theme</Parent>
    <Path>/Settings/Giving/FundDimensions/Theme/General</Path>
    <Trashed>false</Trashed>
    <ContentType>fundDimension2Option</ContentType>
    <CreateDate>2022-01-02T10:02:30</CreateDate>
    <NodeName Default="General" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <isUnrestricted>
      <Value><![CDATA[1]]></Value>
    </isUnrestricted>
  </Properties>
</Content>