<?xml version="1.0" encoding="utf-8"?>
<Content Key="4e353892-f091-41aa-b0ea-1546ef189bf0" Alias="Georgia" Level="4">
  <Info>
    <Parent Key="910f8116-b3b4-42c7-aba4-ea28f0040e21">Countries</Parent>
    <Path>/Settings/System/Countries/Georgia</Path>
    <Trashed>false</Trashed>
    <ContentType>country</ContentType>
    <CreateDate>2021-01-08T18:36:00</CreateDate>
    <NodeName Default="Georgia" />
    <SortOrder>50</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <diallingCode>
      <Value><![CDATA[995]]></Value>
    </diallingCode>
    <iso2Code>
      <Value><![CDATA[GE]]></Value>
    </iso2Code>
    <iso3Code>
      <Value><![CDATA[GEO]]></Value>
    </iso3Code>
    <localityOptional>
      <Value><![CDATA[]]></Value>
    </localityOptional>
    <postalCodeOptional>
      <Value><![CDATA[]]></Value>
    </postalCodeOptional>
  </Properties>
</Content>