<?xml version="1.0" encoding="utf-8"?>
<Content Key="799bf884-29dd-4e80-b57c-950622bd08a5" Alias="Gift Aid" Level="3">
  <Info>
    <Parent Key="ef4e9d05-c930-4619-9d73-694061f8b1f5">Giving</Parent>
    <Path>/Settings/Giving/GiftAid</Path>
    <Trashed>false</Trashed>
    <ContentType>giftAidSettings</ContentType>
    <CreateDate>2020-11-26T13:19:29</CreateDate>
    <NodeName Default="Gift Aid" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <declaration>
      <Value><![CDATA[I am a UK taxpayer and understand that if I pay less Income and/or Capital Gains Tax than the amount of Gift Aid claimed on all my donations in the relevant tax year, it is my responsibility to pay any difference. I understand that Gift Aid income is used towards the costs of the charity and/or the General Fund. Please notify us if you wish to cancel this declaration, change your name/address or no longer pay sufficient tax.]]></Value>
    </declaration>
  </Properties>
</Content>