<?xml version="1.0" encoding="utf-8"?>
<Content Key="ef4e9d05-c930-4619-9d73-694061f8b1f5" Alias="Giving" Level="2">
  <Info>
    <Parent Key="aa6f92e0-8445-40f2-993d-46cbdb66ac00">Settings</Parent>
    <Path>/Settings/Giving</Path>
    <Trashed>false</Trashed>
    <ContentType>givingSettings</ContentType>
    <CreateDate>2020-11-26T13:06:12</CreateDate>
    <NodeName Default="Giving" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <donationPaymentMethods>
      <Value><![CDATA[umb://document/d2bbfeeda5a94099912b581d20080756,umb://document/13c0064d66aa4bf0af41c1373f78b49d]]></Value>
    </donationPaymentMethods>
    <regularGivingPaymentMethods>
      <Value><![CDATA[umb://document/227b36ffc10f4129a2271e1c7ec23a0e,umb://document/d2bbfeeda5a94099912b581d20080756]]></Value>
    </regularGivingPaymentMethods>
  </Properties>
</Content>