<?xml version="1.0" encoding="utf-8"?>
<Content Key="17d4828e-3d6f-4a46-8462-7dd421d644a9" Alias="Giving" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Giving</Path>
    <Trashed>false</Trashed>
    <ContentType>donationForms</ContentType>
    <CreateDate>2020-11-26T13:38:38</CreateDate>
    <NodeName Default="Giving" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>