<?xml version="1.0" encoding="utf-8"?>
<Content Key="227b36ff-c10f-4129-a227-1e1c7ec23a0e" Alias="GoCardless" Level="3">
  <Info>
    <Parent Key="ac70c8ae-a240-4e87-9ff5-5a64466b5bfb">Payments</Parent>
    <Path>/Settings/Payments/GoCardless</Path>
    <Trashed>false</Trashed>
    <ContentType>goCardlessSettings</ContentType>
    <CreateDate>2020-11-26T13:28:58</CreateDate>
    <NodeName Default="GoCardless" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <productionAccessToken>
      <Value><![CDATA[accessToken]]></Value>
    </productionAccessToken>
    <restrictCollectionDaysTo>
      <Value><![CDATA[]]></Value>
    </restrictCollectionDaysTo>
    <stagingAccessToken>
      <Value><![CDATA[accessToken]]></Value>
    </stagingAccessToken>
    <transactionDescription>
      <Value><![CDATA[Transaction Description]]></Value>
    </transactionDescription>
    <transactionId>
      <Value><![CDATA["{Prefix}-{Reference}-{IdempotencyKey}"]]></Value>
    </transactionId>
  </Properties>
</Content>