<?xml version="1.0" encoding="utf-8"?>
<Content Key="572f0f9d-29c3-4547-9660-14bbfff4d302" Alias="Google" Level="3">
  <Info>
    <Parent Key="158165b6-29a2-4198-bb98-655296640f7f">Search</Parent>
    <Path>/Settings/Search/Google</Path>
    <Trashed>false</Trashed>
    <ContentType>googleSearchSettings</ContentType>
    <CreateDate>2021-01-09T15:32:24</CreateDate>
    <NodeName Default="Google" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <apiKey>
      <Value><![CDATA[apiKey]]></Value>
    </apiKey>
    <searchEngineId>
      <Value><![CDATA[searchEngineId]]></Value>
    </searchEngineId>
  </Properties>
</Content>