<?xml version="1.0" encoding="utf-8"?>
<Content Key="bfb1bfa9-c96e-4a93-8751-ca2e4adbedd4" Alias="Google Analytics" Level="3">
  <Info>
    <Parent Key="69ffb6d1-df9b-4299-96dd-25f6f4b528ca">Analytics</Parent>
    <Path>/Settings/Analytics/GoogleAnalytics</Path>
    <Trashed>false</Trashed>
    <ContentType>googleAnalytics4Settings</ContentType>
    <CreateDate>2022-04-05T14:14:55</CreateDate>
    <NodeName Default="Google Analytics" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <measurementId>
      <Value><![CDATA[MeasurementId]]></Value>
    </measurementId>
  </Properties>
</Content>