<?xml version="1.0" encoding="utf-8"?>
<Content Key="dda2ef10-ae68-4799-8a34-3fc14224bea4" Alias="Header" Level="2">
  <Info>
    <Parent Key="78da8a82-e8c5-41e3-95b0-66bbb715ac72">Template</Parent>
    <Path>/Template/Header</Path>
    <Trashed>false</Trashed>
    <ContentType>templateHeader</ContentType>
    <CreateDate>2020-11-26T13:37:37</CreateDate>
    <NodeName Default="Header" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callUsText>
      <Value><![CDATA[Call Us]]></Value>
    </callUsText>
    <menu>
      <Value><![CDATA[[
  {
    "key": "f3c17b19-d969-4db3-bb4e-8995bb08f843",
    "name": "Zakat",
    "ncContentTypeAlias": "templateHeaderMenu",
    "PropType": null,
    "title": "Title",
    "text": "Text",
    "links": [
      {
        "key": "2b8ea376-6a41-4814-aa97-303057ecdb77",
        "name": "Zakat calculator",
        "ncContentTypeAlias": "link",
        "PropType": null,
        "linkContent": "umb://document/e767a426111544368ee31350c1f87550",
        "linkExternalUrl": "",
        "linkText": "Home"
      }
    ]
  }
]]]></Value>
    </menu>
  </Properties>
</Content>