<?xml version="1.0" encoding="utf-8"?>
<Content Key="387c1990-7c59-4b5d-b8f0-de9bfe0ee3b1" Alias="Honduras" Level="4">
  <Info>
    <Parent Key="910f8116-b3b4-42c7-aba4-ea28f0040e21">Countries</Parent>
    <Path>/Settings/DataEntry/Countries/Honduras</Path>
    <Trashed>false</Trashed>
    <ContentType>country</ContentType>
    <CreateDate>2021-01-08T18:36:19</CreateDate>
    <NodeName Default="Honduras" />
    <SortOrder>58</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <diallingCode>
      <Value><![CDATA[504]]></Value>
    </diallingCode>
    <iso2Code>
      <Value><![CDATA[HN]]></Value>
    </iso2Code>
    <iso3Code>
      <Value><![CDATA[HND]]></Value>
    </iso3Code>
    <localityOptional>
      <Value><![CDATA[]]></Value>
    </localityOptional>
    <postalCodeOptional>
      <Value><![CDATA[]]></Value>
    </postalCodeOptional>
  </Properties>
</Content>