<?xml version="1.0" encoding="utf-8"?>
<Content Key="182295ac-8d07-4ed8-9165-4a439942b664" Alias="Hungary" Level="4">
  <Info>
    <Parent Key="910f8116-b3b4-42c7-aba4-ea28f0040e21">Countries</Parent>
    <Path>/Settings/System/Countries/Hungary</Path>
    <Trashed>false</Trashed>
    <ContentType>country</ContentType>
    <CreateDate>2021-01-08T18:36:25</CreateDate>
    <NodeName Default="Hungary" />
    <SortOrder>60</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <diallingCode>
      <Value><![CDATA[36]]></Value>
    </diallingCode>
    <iso2Code>
      <Value><![CDATA[HU]]></Value>
    </iso2Code>
    <iso3Code>
      <Value><![CDATA[HUN]]></Value>
    </iso3Code>
    <localityOptional>
      <Value><![CDATA[]]></Value>
    </localityOptional>
    <postalCodeOptional>
      <Value><![CDATA[]]></Value>
    </postalCodeOptional>
  </Properties>
</Content>