<?xml version="1.0" encoding="utf-8"?>
<Content Key="a378d483-866b-4ee8-a064-e531652ded5f" Alias="India" Level="4">
  <Info>
    <Parent Key="910f8116-b3b4-42c7-aba4-ea28f0040e21">Countries</Parent>
    <Path>/Settings/System/Countries/India</Path>
    <Trashed>false</Trashed>
    <ContentType>country</ContentType>
    <CreateDate>2021-01-08T18:36:30</CreateDate>
    <NodeName Default="India" />
    <SortOrder>62</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <diallingCode>
      <Value><![CDATA[91]]></Value>
    </diallingCode>
    <iso2Code>
      <Value><![CDATA[IN]]></Value>
    </iso2Code>
    <iso3Code>
      <Value><![CDATA[IND]]></Value>
    </iso3Code>
    <localityOptional>
      <Value><![CDATA[]]></Value>
    </localityOptional>
    <postalCodeOptional>
      <Value><![CDATA[]]></Value>
    </postalCodeOptional>
  </Properties>
</Content>