<?xml version="1.0" encoding="utf-8"?>
<Content Key="7493fe5f-b88d-44b0-b11d-3435fad4c0db" Alias="Iraq" Level="4">
  <Info>
    <Parent Key="910f8116-b3b4-42c7-aba4-ea28f0040e21">Countries</Parent>
    <Path>/Settings/System/Countries/Iraq</Path>
    <Trashed>false</Trashed>
    <ContentType>country</ContentType>
    <CreateDate>2021-01-08T18:36:38</CreateDate>
    <NodeName Default="Iraq" />
    <SortOrder>65</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <iso2Code>
      <Value><![CDATA[IQ]]></Value>
    </iso2Code>
    <iso3Code>
      <Value><![CDATA[IRQ]]></Value>
    </iso3Code>
    <localityOptional>
      <Value><![CDATA[1]]></Value>
    </localityOptional>
    <postalCodeOptional>
      <Value><![CDATA[1]]></Value>
    </postalCodeOptional>
  </Properties>
</Content>