<?xml version="1.0" encoding="utf-8"?>
<Content Key="f067e574-b254-4b79-9b51-fad1737abe40" Alias="Items" Level="4">
  <Info>
    <Parent Key="9051bec5-c070-49ca-a5d3-d6be7c88a5c2">Tags</Parent>
    <Path>/Settings/Crowdfunding/Tags/Items</Path>
    <Trashed>false</Trashed>
    <ContentType>crowdfundingTags</ContentType>
    <CreateDate>2023-11-03T11:44:08</CreateDate>
    <NodeName Default="Items" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>