<?xml version="1.0" encoding="utf-8"?>
<Content Key="680a9323-2956-4d85-9aa1-32ccc80f80d5" Alias="Korea" Level="4">
  <Info>
    <Parent Key="910f8116-b3b4-42c7-aba4-ea28f0040e21">Countries</Parent>
    <Path>/Settings/DataEntry/Countries/Korea</Path>
    <Trashed>false</Trashed>
    <ContentType>country</ContentType>
    <CreateDate>2021-01-08T18:37:08</CreateDate>
    <NodeName Default="Korea" />
    <SortOrder>74</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <diallingCode>
      <Value><![CDATA[82]]></Value>
    </diallingCode>
    <iso2Code>
      <Value><![CDATA[KR]]></Value>
    </iso2Code>
    <iso3Code>
      <Value><![CDATA[KOR]]></Value>
    </iso3Code>
    <localityOptional>
      <Value><![CDATA[]]></Value>
    </localityOptional>
    <postalCodeOptional>
      <Value><![CDATA[]]></Value>
    </postalCodeOptional>
  </Properties>
</Content>