<?xml version="1.0" encoding="utf-8"?>
<Content Key="59c99307-ff5b-4892-b81f-15fa72078681" Alias="Layout" Level="5">
  <Info>
    <Parent Key="5493d5cb-a8b1-4915-931a-3e0897a59ecd">Template</Parent>
    <Path>/Settings/Localization/Text/Template/Layout</Path>
    <Trashed>false</Trashed>
    <ContentType>textContainer</ContentType>
    <CreateDate>2022-01-18T20:54:31</CreateDate>
    <NodeName Default="Layout" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <resources>
      <Value><![CDATA[[
  {
    "source": "Hello World",
    "custom": null
  }
]]]></Value>
    </resources>
  </Properties>
</Content>