<?xml version="1.0" encoding="utf-8"?>
<Content Key="40cd7981-1ade-4a85-9833-11336ed20ad6" Alias="Layout" Level="5">
  <Info>
    <Parent Key="5938c9b4-2d85-4734-a6b1-2c4a2b8fe6ed">Template</Parent>
    <Path>/Settings/Localization/Text/Template/Layout</Path>
    <Trashed>false</Trashed>
    <ContentType>textContainer</ContentType>
    <CreateDate>2022-01-14T07:59:12</CreateDate>
    <NodeName Default="Layout" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <resources>
      <Value><![CDATA[[{"source":"Hello World","custom":null}]]]></Value>
    </resources>
  </Properties>
</Content>