<?xml version="1.0" encoding="utf-8"?>
<Content Key="e7237d1f-6a4a-4f57-b79b-d607c69b7aec" Alias="Liberia" Level="4">
  <Info>
    <Parent Key="910f8116-b3b4-42c7-aba4-ea28f0040e21">Countries</Parent>
    <Path>/Settings/DataEntry/Countries/Liberia</Path>
    <Trashed>false</Trashed>
    <ContentType>country</ContentType>
    <CreateDate>2021-01-08T18:37:27</CreateDate>
    <NodeName Default="Liberia" />
    <SortOrder>80</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <diallingCode>
      <Value><![CDATA[231]]></Value>
    </diallingCode>
    <iso2Code>
      <Value><![CDATA[LR]]></Value>
    </iso2Code>
    <iso3Code>
      <Value><![CDATA[LBR]]></Value>
    </iso3Code>
    <localityOptional>
      <Value><![CDATA[]]></Value>
    </localityOptional>
    <postalCodeOptional>
      <Value><![CDATA[]]></Value>
    </postalCodeOptional>
  </Properties>
</Content>