<?xml version="1.0" encoding="utf-8"?>
<Content Key="55e52913-c702-4f52-8b35-05eba4077cca" Alias="LinkedIn" Level="3">
  <Info>
    <Parent Key="cec4f34a-fb0e-45fc-b7cd-d932439561bb">Social Media</Parent>
    <Path>/Settings/SocialMedia/LinkedIn</Path>
    <Trashed>false</Trashed>
    <ContentType>linkedInSettings</ContentType>
    <CreateDate>2021-01-01T17:39:53</CreateDate>
    <NodeName Default="LinkedIn" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <pageUrl>
      <Value><![CDATA[https://www.linkedin.com/company/DemoSite/about/]]></Value>
    </pageUrl>
  </Properties>
</Content>