<?xml version="1.0" encoding="utf-8"?>
<Content Key="283986f7-82d6-431a-826a-0c3e8648a95b" Alias="Location" Level="4">
  <Info>
    <Parent Key="35717f21-c868-484c-80d9-2c6b69009797">Fund Dimensions</Parent>
    <Path>/Settings/Giving/FundDimensions/Location</Path>
    <Trashed>false</Trashed>
    <ContentType>fundDimension1</ContentType>
    <CreateDate>2020-11-26T13:19:57</CreateDate>
    <NodeName Default="Location" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <isActive>
      <Value><![CDATA[1]]></Value>
    </isActive>
  </Properties>
</Content>