<?xml version="1.0" encoding="utf-8"?>
<Content Key="0ad5cf18-5ca1-44d3-abbe-c132e6c9f732" Alias="Luxembourg" Level="4">
  <Info>
    <Parent Key="910f8116-b3b4-42c7-aba4-ea28f0040e21">Countries</Parent>
    <Path>/Settings/System/Countries/Luxembourg</Path>
    <Trashed>false</Trashed>
    <ContentType>country</ContentType>
    <CreateDate>2021-01-08T18:37:41</CreateDate>
    <NodeName Default="Luxembourg" />
    <SortOrder>84</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <diallingCode>
      <Value><![CDATA[352]]></Value>
    </diallingCode>
    <iso2Code>
      <Value><![CDATA[LU]]></Value>
    </iso2Code>
    <iso3Code>
      <Value><![CDATA[LUX]]></Value>
    </iso3Code>
    <localityOptional>
      <Value><![CDATA[]]></Value>
    </localityOptional>
    <postalCodeOptional>
      <Value><![CDATA[]]></Value>
    </postalCodeOptional>
  </Properties>
</Content>