<?xml version="1.0" encoding="utf-8"?>
<Content Key="ce841552-ecd8-4d39-a75b-b90467aec667" Alias="Maldives" Level="4">
  <Info>
    <Parent Key="910f8116-b3b4-42c7-aba4-ea28f0040e21">Countries</Parent>
    <Path>/Settings/System/Countries/Maldives</Path>
    <Trashed>false</Trashed>
    <ContentType>country</ContentType>
    <CreateDate>2021-01-08T18:38:01</CreateDate>
    <NodeName Default="Maldives" />
    <SortOrder>89</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <diallingCode>
      <Value><![CDATA[960]]></Value>
    </diallingCode>
    <iso2Code>
      <Value><![CDATA[MV]]></Value>
    </iso2Code>
    <iso3Code>
      <Value><![CDATA[MDV]]></Value>
    </iso3Code>
    <localityOptional>
      <Value><![CDATA[1]]></Value>
    </localityOptional>
    <postalCodeOptional>
      <Value><![CDATA[1]]></Value>
    </postalCodeOptional>
  </Properties>
</Content>