<?xml version="1.0" encoding="utf-8"?>
<Content Key="99a998fa-59f8-4f92-847e-0e71b8f1061b" Alias="Mali" Level="4">
  <Info>
    <Parent Key="910f8116-b3b4-42c7-aba4-ea28f0040e21">Countries</Parent>
    <Path>/Settings/DataEntry/Countries/Mali</Path>
    <Trashed>false</Trashed>
    <ContentType>country</ContentType>
    <CreateDate>2021-01-08T18:38:05</CreateDate>
    <NodeName Default="Mali" />
    <SortOrder>90</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <diallingCode>
      <Value><![CDATA[223]]></Value>
    </diallingCode>
    <iso2Code>
      <Value><![CDATA[ML]]></Value>
    </iso2Code>
    <iso3Code>
      <Value><![CDATA[MLI]]></Value>
    </iso3Code>
    <localityOptional>
      <Value><![CDATA[1]]></Value>
    </localityOptional>
    <postalCodeOptional>
      <Value><![CDATA[1]]></Value>
    </postalCodeOptional>
  </Properties>
</Content>