<?xml version="1.0" encoding="utf-8"?>
<Content Key="e09dfad5-4ece-4991-b328-932fb070d99b" Alias="Marketing" Level="4">
  <Info>
    <Parent Key="478642fa-5629-4934-b5ee-915891690103">Categories</Parent>
    <Path>/Settings/Consent/Categories/Marketing</Path>
    <Trashed>false</Trashed>
    <ContentType>consentCategory</ContentType>
    <CreateDate>2022-01-30T09:46:18</CreateDate>
    <NodeName Default="Marketing" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>