<?xml version="1.0" encoding="utf-8"?>
<Content Key="96c89576-6524-4e47-91ec-375c200a3628" Alias="Marshall Islands" Level="4">
  <Info>
    <Parent Key="910f8116-b3b4-42c7-aba4-ea28f0040e21">Countries</Parent>
    <Path>/Settings/DataEntry/Countries/MarshallIslands</Path>
    <Trashed>false</Trashed>
    <ContentType>country</ContentType>
    <CreateDate>2021-01-08T18:38:13</CreateDate>
    <NodeName Default="Marshall Islands" />
    <SortOrder>92</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <diallingCode>
      <Value><![CDATA[692]]></Value>
    </diallingCode>
    <iso2Code>
      <Value><![CDATA[MH]]></Value>
    </iso2Code>
    <iso3Code>
      <Value><![CDATA[MHL]]></Value>
    </iso3Code>
    <localityOptional>
      <Value><![CDATA[]]></Value>
    </localityOptional>
    <postalCodeOptional>
      <Value><![CDATA[]]></Value>
    </postalCodeOptional>
  </Properties>
</Content>