<?xml version="1.0" encoding="utf-8"?>
<Content Key="7b32f6c3-2f1c-493d-b060-ba5eea578ff2" Alias="Mauritius" Level="4">
  <Info>
    <Parent Key="910f8116-b3b4-42c7-aba4-ea28f0040e21">Countries</Parent>
    <Path>/Settings/System/Countries/Mauritius</Path>
    <Trashed>false</Trashed>
    <ContentType>country</ContentType>
    <CreateDate>2021-01-08T18:38:22</CreateDate>
    <NodeName Default="Mauritius" />
    <SortOrder>94</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <diallingCode>
      <Value><![CDATA[230]]></Value>
    </diallingCode>
    <iso2Code>
      <Value><![CDATA[MU]]></Value>
    </iso2Code>
    <iso3Code>
      <Value><![CDATA[MUS]]></Value>
    </iso3Code>
    <localityOptional>
      <Value><![CDATA[1]]></Value>
    </localityOptional>
    <postalCodeOptional>
      <Value><![CDATA[1]]></Value>
    </postalCodeOptional>
  </Properties>
</Content>