<?xml version="1.0" encoding="utf-8"?>
<Content Key="a07b5212-03db-4010-830e-07a5a108af72" Alias="Name" Level="3">
  <Info>
    <Parent Key="973dcae0-212d-4763-b3f6-5606d4440f85">Data Entry</Parent>
    <Path>/Settings/DataEntry/Name</Path>
    <Trashed>false</Trashed>
    <ContentType>nameDataEntrySettings</ContentType>
    <CreateDate>2022-02-01T19:24:26</CreateDate>
    <NodeName Default="Name" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <firstNameCapitalisation>
      <Value><![CDATA[[
  "title"
]]]></Value>
    </firstNameCapitalisation>
    <firstNameHelpText>
      <Value><![CDATA[]]></Value>
    </firstNameHelpText>
    <firstNameLabel>
      <Value><![CDATA[First Name]]></Value>
    </firstNameLabel>
    <firstNameOrder>
      <Value><![CDATA[2]]></Value>
    </firstNameOrder>
    <firstNameRequired>
      <Value><![CDATA[1]]></Value>
    </firstNameRequired>
    <lastNameCapitalisation>
      <Value><![CDATA[[
  "title"
]]]></Value>
    </lastNameCapitalisation>
    <lastNameHelpText>
      <Value><![CDATA[]]></Value>
    </lastNameHelpText>
    <lastNameLabel>
      <Value><![CDATA[Last Name]]></Value>
    </lastNameLabel>
    <lastNameOrder>
      <Value><![CDATA[3]]></Value>
    </lastNameOrder>
    <lastNameRequired>
      <Value><![CDATA[1]]></Value>
    </lastNameRequired>
    <titleHelpText>
      <Value><![CDATA[]]></Value>
    </titleHelpText>
    <titleLabel>
      <Value><![CDATA[Title]]></Value>
    </titleLabel>
    <titleOptions>
      <Value><![CDATA[Mr
Mrs
Miss
Ms
Dr]]></Value>
    </titleOptions>
    <titleOrder>
      <Value><![CDATA[1]]></Value>
    </titleOrder>
    <titleRequired>
      <Value><![CDATA[0]]></Value>
    </titleRequired>
  </Properties>
</Content>