<?xml version="1.0" encoding="utf-8"?>
<Content Key="6bedafa3-362a-425e-9518-3d7b787771f8" Alias="Nepal" Level="4">
  <Info>
    <Parent Key="910f8116-b3b4-42c7-aba4-ea28f0040e21">Countries</Parent>
    <Path>/Settings/System/Countries/Nepal</Path>
    <Trashed>false</Trashed>
    <ContentType>country</ContentType>
    <CreateDate>2021-01-08T18:39:03</CreateDate>
    <NodeName Default="Nepal" />
    <SortOrder>103</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <iso2Code>
      <Value><![CDATA[NP]]></Value>
    </iso2Code>
    <iso3Code>
      <Value><![CDATA[NPL]]></Value>
    </iso3Code>
    <localityOptional>
      <Value><![CDATA[]]></Value>
    </localityOptional>
    <postalCodeOptional>
      <Value><![CDATA[]]></Value>
    </postalCodeOptional>
  </Properties>
</Content>