<?xml version="1.0" encoding="utf-8"?>
<Content Key="ef9d784a-21fc-4004-ac72-9cacd41f1182" Alias="Netherlands" Level="4">
  <Info>
    <Parent Key="910f8116-b3b4-42c7-aba4-ea28f0040e21">Countries</Parent>
    <Path>/Settings/System/Countries/Netherlands</Path>
    <Trashed>false</Trashed>
    <ContentType>country</ContentType>
    <CreateDate>2021-01-08T18:39:07</CreateDate>
    <NodeName Default="Netherlands" />
    <SortOrder>104</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <iso2Code>
      <Value><![CDATA[NL]]></Value>
    </iso2Code>
    <iso3Code>
      <Value><![CDATA[NLD]]></Value>
    </iso3Code>
    <localityOptional>
      <Value><![CDATA[]]></Value>
    </localityOptional>
    <postalCodeOptional>
      <Value><![CDATA[]]></Value>
    </postalCodeOptional>
  </Properties>
</Content>