<?xml version="1.0" encoding="utf-8"?>
<Content Key="b381c8ed-8427-4ec9-b3e8-67f330dc1102" Alias="Not Found" Level="2">
  <Info>
    <Parent Key="e767a426-1115-4436-8ee3-1350c1f87550">Home</Parent>
    <Path>/Home/NotFound</Path>
    <Trashed>false</Trashed>
    <ContentType>notFoundPage</ContentType>
    <CreateDate>2022-01-01T15:51:24</CreateDate>
    <NodeName Default="Not Found" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{"version":3,"header":null,"blocks":[]}]]></Value>
    </blocks>
    <hidePage>
      <Value><![CDATA[0]]></Value>
    </hidePage>
    <titleMeta>
      <Value><![CDATA[{
  "title": "Not Found",
  "description": ""
}]]></Value>
    </titleMeta>
  </Properties>
</Content>