<?xml version="1.0" encoding="utf-8"?>
<Content Key="22ca2a95-bfe7-46a8-a800-3989bfc7dd89" Alias="Options" Level="3">
  <Info>
    <Parent Key="d8e49f8a-8e54-4623-b1c1-efaf0023ad0a">Consent</Parent>
    <Path>/Settings/Consent/Options</Path>
    <Trashed>false</Trashed>
    <ContentType>consentOptions</ContentType>
    <CreateDate>2022-01-30T09:27:15</CreateDate>
    <NodeName Default="Options" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>