<?xml version="1.0" encoding="utf-8"?>
<Content Key="e9fe0f29-f0a3-476e-b118-649e80f4f704" Alias="Pakistan" Level="5">
  <Info>
    <Parent Key="283986f7-82d6-431a-826a-0c3e8648a95b">Location</Parent>
    <Path>/Settings/Giving/FundDimensions/Location/Pakistan</Path>
    <Trashed>false</Trashed>
    <ContentType>fundDimension1Value</ContentType>
    <CreateDate>2021-01-08T18:28:04</CreateDate>
    <NodeName Default="Pakistan" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <isUnrestricted>
      <Value><![CDATA[0]]></Value>
    </isUnrestricted>
  </Properties>
</Content>