<?xml version="1.0" encoding="utf-8"?>
<Content Key="0f200dc4-3348-491a-8670-3e12d5562ee8" Alias="Palestine" Level="5">
  <Info>
    <Parent Key="283986f7-82d6-431a-826a-0c3e8648a95b">Location</Parent>
    <Path>/Settings/Giving/FundDimensions/Location/Palestine</Path>
    <Trashed>false</Trashed>
    <ContentType>fundDimension1Option</ContentType>
    <CreateDate>2021-01-08T19:07:51</CreateDate>
    <NodeName Default="Palestine" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <isUnrestricted>
      <Value><![CDATA[]]></Value>
    </isUnrestricted>
  </Properties>
</Content>