<?xml version="1.0" encoding="utf-8"?>
<Content Key="15204c18-6a83-4fff-b6c4-7344722d3f3d" Alias="Panama" Level="4">
  <Info>
    <Parent Key="910f8116-b3b4-42c7-aba4-ea28f0040e21">Countries</Parent>
    <Path>/Settings/System/Countries/Panama</Path>
    <Trashed>false</Trashed>
    <ContentType>country</ContentType>
    <CreateDate>2021-01-08T18:39:49</CreateDate>
    <NodeName Default="Panama" />
    <SortOrder>112</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <iso2Code>
      <Value><![CDATA[PA]]></Value>
    </iso2Code>
    <iso3Code>
      <Value><![CDATA[PAN]]></Value>
    </iso3Code>
    <localityOptional>
      <Value><![CDATA[]]></Value>
    </localityOptional>
    <postalCodeOptional>
      <Value><![CDATA[]]></Value>
    </postalCodeOptional>
  </Properties>
</Content>