<?xml version="1.0" encoding="utf-8"?>
<Content Key="af218e3a-75bc-4dc0-9886-31f88e465bb9" Alias="Partials" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Partials</Path>
    <Trashed>false</Trashed>
    <ContentType>partials</ContentType>
    <CreateDate>2022-01-10T15:20:25</CreateDate>
    <NodeName Default="Partials" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>