<?xml version="1.0" encoding="utf-8"?>
<Content Key="ac70c8ae-a240-4e87-9ff5-5a64466b5bfb" Alias="Payments" Level="2">
  <Info>
    <Parent Key="aa6f92e0-8445-40f2-993d-46cbdb66ac00">Settings</Parent>
    <Path>/Settings/Payments</Path>
    <Trashed>false</Trashed>
    <ContentType>paymentSettings</ContentType>
    <CreateDate>2020-11-26T12:58:56</CreateDate>
    <NodeName Default="Payments" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>