<?xml version="1.0" encoding="utf-8"?>
<Content Key="d5a37288-deca-4f59-8079-310dbea6a366" Alias="Payment Methods" Level="3">
  <Info>
    <Parent Key="973dcae0-212d-4763-b3f6-5606d4440f85">Data Entry</Parent>
    <Path>/Settings/DataEntry/PaymentMethods</Path>
    <Trashed>false</Trashed>
    <ContentType>paymentMethodDataEntrySettings</ContentType>
    <CreateDate>2025-01-16T18:50:14</CreateDate>
    <NodeName Default="Payment Methods" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <paymentMethods>
      <Value><![CDATA[]]></Value>
    </paymentMethods>
  </Properties>
</Content>