<?xml version="1.0" encoding="utf-8"?>
<Content Key="13c0064d-66aa-4bf0-af41-c1373f78b49d" Alias="PayPal" Level="3">
  <Info>
    <Parent Key="ac70c8ae-a240-4e87-9ff5-5a64466b5bfb">Payments</Parent>
    <Path>/Settings/Payments/PayPal</Path>
    <Trashed>false</Trashed>
    <ContentType>payPalSettings</ContentType>
    <CreateDate>2020-11-26T13:28:46</CreateDate>
    <NodeName Default="PayPal" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <productionAccessToken>
      <Value><![CDATA[accessToken]]></Value>
    </productionAccessToken>
    <productionClientId>
      <Value><![CDATA[clientId]]></Value>
    </productionClientId>
    <restrictCollectionDaysTo>
      <Value><![CDATA[]]></Value>
    </restrictCollectionDaysTo>
    <stagingAccessToken>
      <Value><![CDATA[accessToken]]></Value>
    </stagingAccessToken>
    <stagingClientId>
      <Value><![CDATA[clientId]]></Value>
    </stagingClientId>
    <transactionDescription>
      <Value><![CDATA[Transaction Description]]></Value>
    </transactionDescription>
    <transactionId>
      <Value><![CDATA["{Prefix}-{Reference}-{IdempotencyKey}"]]></Value>
    </transactionId>
  </Properties>
</Content>