<?xml version="1.0" encoding="utf-8"?>
<Content Key="812e8476-3d36-4b02-9952-553c0f74dee2" Alias="Phone" Level="3">
  <Info>
    <Parent Key="973dcae0-212d-4763-b3f6-5606d4440f85">Data Entry</Parent>
    <Path>/Settings/DataEntry/Phone</Path>
    <Trashed>false</Trashed>
    <ContentType>phoneDataEntrySettings</ContentType>
    <CreateDate>2020-11-26T13:36:23</CreateDate>
    <NodeName Default="Phone" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <defaultCountry>
      <Value><![CDATA[umb://document/0588c2fb516d429a9bfda54fec78853a]]></Value>
    </defaultCountry>
    <helpText>
      <Value><![CDATA[Please enter a valid phone number so we can contact you about your donation]]></Value>
    </helpText>
    <label>
      <Value><![CDATA[Telephone]]></Value>
    </label>
    <required>
      <Value><![CDATA[1]]></Value>
    </required>
    <validate>
      <Value><![CDATA[1]]></Value>
    </validate>
  </Properties>
</Content>