<?xml version="1.0" encoding="utf-8"?>
<Content Key="812e8476-3d36-4b02-9952-553c0f74dee2" Alias="Phone" Level="3">
  <Info>
    <Parent Key="973dcae0-212d-4763-b3f6-5606d4440f85">Validation</Parent>
    <Path>/Settings/Validation/Phone</Path>
    <Trashed>false</Trashed>
    <ContentType>phoneValidationSettings</ContentType>
    <CreateDate>2020-11-26T13:36:23</CreateDate>
    <NodeName Default="Phone" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <validateNumbers>
      <Value><![CDATA[1]]></Value>
    </validateNumbers>
  </Properties>
</Content>