<?xml version="1.0" encoding="utf-8"?>
<Content Key="05aff09e-6a2e-48db-af1e-1e44bf5c615b" Alias="Plaque" Level="5">
  <Info>
    <Parent Key="a759885c-8117-4267-a080-3b9648e0ff6d">Water Well</Parent>
    <Path>/Settings/Giving/Feedbacks/WaterWell/Plaque</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackCustomFieldDefinition</ContentType>
    <CreateDate>2023-05-23T07:56:34</CreateDate>
    <NodeName Default="Plaque" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fieldName>
      <Value><![CDATA[Plaque]]></Value>
    </fieldName>
    <fieldRequired>
      <Value><![CDATA[0]]></Value>
    </fieldRequired>
    <fieldTextMaxLength>
      <Value><![CDATA[50]]></Value>
    </fieldTextMaxLength>
    <fieldType>
      <Value><![CDATA[[
  "text"
]]]></Value>
    </fieldType>
  </Properties>
</Content>