<?xml version="1.0" encoding="utf-8"?>
<Content Key="89d4eafe-8a54-4cb1-9bda-39f5eb02c1f6" Alias="Presets" Level="3">
  <Info>
    <Parent Key="3a7edb74-b1ed-4b3a-8842-3c4e229a3f43">Image Processing</Parent>
    <Path>/Settings/ImageProcessing/Presets</Path>
    <Trashed>false</Trashed>
    <ContentType>imagePresets</ContentType>
    <CreateDate>2024-03-17T12:23:42</CreateDate>
    <NodeName Default="Presets" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>