<?xml version="1.0" encoding="utf-8"?>
<Content Key="a5505e46-7dd2-4862-afde-29f598e75e77" Alias="Production" Level="4">
  <Info>
    <Parent Key="3010f646-e2e8-40dd-9c87-5141aecc21c0">Environment</Parent>
    <Path>/Settings/Crowdfunding/Environment/Production</Path>
    <Trashed>false</Trashed>
    <ContentType>crowdfundingEnvironment</ContentType>
    <CreateDate>2025-01-03T09:54:14</CreateDate>
    <NodeName Default="Production" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <apiKey>
      <Value><![CDATA[apiKey]]></Value>
    </apiKey>
    <default>
      <Value><![CDATA[1]]></Value>
    </default>
    <domain>
      <Value><![CDATA[https://localhost:6001]]></Value>
    </domain>
    <environment>
      <Value><![CDATA[[
  "production"
]]]></Value>
    </environment>
  </Properties>
</Content>