<?xml version="1.0" encoding="utf-8"?>
<Content Key="47675dc4-51d8-4861-a3b9-e50a1d3fd934" Alias="Regular Giving Receipt" Level="3">
  <Info>
    <Parent Key="67102776-de7e-4c9e-ae02-ab15edbf72f2">Emails</Parent>
    <Path>/Template/Emails/RegularGivingReceipt</Path>
    <Trashed>false</Trashed>
    <ContentType>regularGivingReceiptTemplate</ContentType>
    <CreateDate>2022-02-04T21:28:56</CreateDate>
    <NodeName Default="Regular Giving Receipt" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <assets>
      <Value><![CDATA[]]></Value>
    </assets>
    <body>
      <Value><![CDATA[Body]]></Value>
    </body>
    <fromEmail>
      <Value><![CDATA[no-reply@example.com]]></Value>
    </fromEmail>
    <fromName>
      <Value><![CDATA[Demo Site]]></Value>
    </fromName>
    <subject>
      <Value><![CDATA[Subject]]></Value>
    </subject>
  </Properties>
</Content>