<?xml version="1.0" encoding="utf-8"?>
<Content Key="8ee6f0c4-5c5e-4db9-8895-91e561145100" Alias="Regular Giving" Level="3">
  <Info>
    <Parent Key="abc6c6ff-1a4b-4586-8a3c-f16e0fe9e47e">Checkout</Parent>
    <Path>/Home/Checkout/RegularGiving</Path>
    <Trashed>false</Trashed>
    <ContentType>checkoutRegularGivingPage</ContentType>
    <CreateDate>2022-03-01T15:00:26</CreateDate>
    <NodeName Default="Regular Giving" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4b0fc262-066a-4c77-a34d-c0d2fa79b45d">Page</Template>
  </Info>
  <Properties>
    <assets>
      <Value><![CDATA[]]></Value>
    </assets>
    <bodyHtml>
      <Value><![CDATA[]]></Value>
    </bodyHtml>
    <css>
      <Value><![CDATA[]]></Value>
    </css>
    <headHtml>
      <Value><![CDATA[]]></Value>
    </headHtml>
    <hidePage>
      <Value><![CDATA[1]]></Value>
    </hidePage>
    <javaScript>
      <Value><![CDATA[]]></Value>
    </javaScript>
    <titleMeta>
      <Value><![CDATA[{
  "title": "Regular Giving",
  "description": ""
}]]></Value>
    </titleMeta>
  </Properties>
</Content>