<?xml version="1.0" encoding="utf-8"?>
<Content Key="21bcccd8-f975-4000-b851-0fca769ce3d3" Alias="Sadaqa" Level="5">
  <Info>
    <Parent Key="86c48233-0daf-4b1c-8570-c52564489eb6">Stipulation</Parent>
    <Path>/Settings/Giving/FundDimensions/Stipulation/Sadaqa</Path>
    <Trashed>false</Trashed>
    <ContentType>fundDimension3Option</ContentType>
    <CreateDate>2021-01-08T19:04:00</CreateDate>
    <NodeName Default="Sadaqa" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <isUnrestricted>
      <Value><![CDATA[]]></Value>
    </isUnrestricted>
  </Properties>
</Content>