<?xml version="1.0" encoding="utf-8"?>
<Content Key="5f36c106-273d-464a-8d20-ee7fa6e50c0d" Alias="Saudi Arabia" Level="4">
  <Info>
    <Parent Key="910f8116-b3b4-42c7-aba4-ea28f0040e21">Countries</Parent>
    <Path>/Settings/System/Countries/SaudiArabia</Path>
    <Trashed>false</Trashed>
    <ContentType>country</ContentType>
    <CreateDate>2021-01-08T18:40:54</CreateDate>
    <NodeName Default="Saudi Arabia" />
    <SortOrder>124</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <iso2Code>
      <Value><![CDATA[SA]]></Value>
    </iso2Code>
    <iso3Code>
      <Value><![CDATA[SAU]]></Value>
    </iso3Code>
    <localityOptional>
      <Value><![CDATA[1]]></Value>
    </localityOptional>
    <postalCodeOptional>
      <Value><![CDATA[1]]></Value>
    </postalCodeOptional>
  </Properties>
</Content>