<?xml version="1.0" encoding="utf-8"?>
<Content Key="158165b6-29a2-4198-bb98-655296640f7f" Alias="Search" Level="2">
  <Info>
    <Parent Key="aa6f92e0-8445-40f2-993d-46cbdb66ac00">Settings</Parent>
    <Path>/Settings/Search</Path>
    <Trashed>false</Trashed>
    <ContentType>searchSettings</ContentType>
    <CreateDate>2020-11-26T12:59:43</CreateDate>
    <NodeName Default="Search" />
    <SortOrder>10</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>