<?xml version="1.0" encoding="utf-8"?>
<Content Key="429e23ba-a2ee-44c9-a36a-e1f9b90a4cdd" Alias="SearchBlock" Level="5">
  <Info>
    <Parent Key="b5e6cdfa-e775-412f-b8e9-33810a0b44b5">Blocks</Parent>
    <Path>/Settings/Localization/Text/Blocks/SearchBlock</Path>
    <Trashed>false</Trashed>
    <ContentType>textContainer</ContentType>
    <CreateDate>2022-03-01T15:01:52</CreateDate>
    <NodeName Default="SearchBlock" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <resources>
      <Value><![CDATA[[
  {
    "source": "Search",
    "custom": null
  },
  {
    "source": "Search...",
    "custom": null
  }
]]]></Value>
    </resources>
  </Properties>
</Content>