<?xml version="1.0" encoding="utf-8"?>
<Content Key="380814dd-4089-4101-b1d9-7f25020afe0d" Alias="Search" Level="2">
  <Info>
    <Parent Key="e767a426-1115-4436-8ee3-1350c1f87550">Home</Parent>
    <Path>/Home/Search</Path>
    <Trashed>false</Trashed>
    <ContentType>searchPage</ContentType>
    <CreateDate>2022-01-01T15:51:51</CreateDate>
    <NodeName Default="Search" />
    <SortOrder>10</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4b0fc262-066a-4c77-a34d-c0d2fa79b45d">Page</Template>
  </Info>
  <Properties>
    <assets>
      <Value><![CDATA[]]></Value>
    </assets>
    <blocks>
      <Value><![CDATA[{"version":3,"header":null,"blocks":[]}]]></Value>
    </blocks>
    <bodyHtml>
      <Value><![CDATA[]]></Value>
    </bodyHtml>
    <css>
      <Value><![CDATA[]]></Value>
    </css>
    <headHtml>
      <Value><![CDATA[]]></Value>
    </headHtml>
    <hidePage>
      <Value><![CDATA[0]]></Value>
    </hidePage>
    <javaScript>
      <Value><![CDATA[]]></Value>
    </javaScript>
    <titleMeta>
      <Value><![CDATA[{
  "title": "Search",
  "description": ""
}]]></Value>
    </titleMeta>
  </Properties>
</Content>