<?xml version="1.0" encoding="utf-8"?>
<Content Key="dea07d0b-46c2-4486-8c38-bf81e24c9c32" Alias="SendGrid" Level="3">
  <Info>
    <Parent Key="fd3ca9fb-f061-41aa-956c-919a3e368318">Email</Parent>
    <Path>/Settings/Email/SendGrid</Path>
    <Trashed>false</Trashed>
    <ContentType>sendGridSettings</ContentType>
    <CreateDate>2020-11-26T13:18:16</CreateDate>
    <NodeName Default="SendGrid" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <apiKey>
      <Value><![CDATA[apiKey]]></Value>
    </apiKey>
    <sandboxMode>
      <Value><![CDATA[0]]></Value>
    </sandboxMode>
  </Properties>
</Content>