<?xml version="1.0" encoding="utf-8"?>
<Content Key="387592d8-285b-4645-9283-082edfe36086" Alias="Services" Level="3">
  <Info>
    <Parent Key="23963105-efef-4026-9f29-a92710ce080f">System</Parent>
    <Path>/Settings/System/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceSettings</ContentType>
    <CreateDate>2020-11-26T13:00:18</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>