<?xml version="1.0" encoding="utf-8"?>
<Content Key="aa6f92e0-8445-40f2-993d-46cbdb66ac00" Alias="Settings" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Settings</Path>
    <Trashed>false</Trashed>
    <ContentType>settings</ContentType>
    <CreateDate>2020-11-26T12:52:20</CreateDate>
    <NodeName Default="Settings" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>