<?xml version="1.0" encoding="utf-8"?>
<Content Key="0a2e2ca8-a66b-4cad-a0c6-2d6d067446b5" Alias="Sign In Modal" Level="4">
  <Info>
    <Parent Key="073d2698-dea2-433c-9a2d-28f9335573c7">Template</Parent>
    <Path>/Settings/Crowdfunding/Template/SignInModal</Path>
    <Trashed>false</Trashed>
    <ContentType>crowdfundingSignInModalSettings</ContentType>
    <CreateDate>2024-09-13T07:20:20</CreateDate>
    <NodeName Default="Sign In Modal" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <aboveButtonText>
      <Value><![CDATA[]]></Value>
    </aboveButtonText>
    <buttonLabel>
      <Value><![CDATA[]]></Value>
    </buttonLabel>
    <items>
      <Value><![CDATA[[
  {
    "key": "dd7632a7-30b4-43aa-b9f5-a77103df1962",
    "name": "Item 1",
    "ncContentTypeAlias": "crowdfundingSignInModalItem",
    "PropType": null,
    "icon": "",
    "title": "",
    "text": ""
  },
  {
    "key": "3b4363e5-5445-4946-8db5-4986e1d9893f",
    "name": "Item 2",
    "ncContentTypeAlias": "crowdfundingSignInModalItem",
    "PropType": null,
    "icon": "",
    "title": "",
    "text": ""
  }
]]]></Value>
    </items>
    <logoSvg>
      <Value><![CDATA[]]></Value>
    </logoSvg>
    <logoText>
      <Value><![CDATA[]]></Value>
    </logoText>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
  </Properties>
</Content>