<?xml version="1.0" encoding="utf-8"?>
<Content Key="d38c79d2-1a0f-4001-916f-679230fd5ab1" Alias="Singapore" Level="4">
  <Info>
    <Parent Key="910f8116-b3b4-42c7-aba4-ea28f0040e21">Countries</Parent>
    <Path>/Settings/DataEntry/Countries/Singapore</Path>
    <Trashed>false</Trashed>
    <ContentType>country</ContentType>
    <CreateDate>2021-01-08T18:41:19</CreateDate>
    <NodeName Default="Singapore" />
    <SortOrder>128</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <diallingCode>
      <Value><![CDATA[65]]></Value>
    </diallingCode>
    <iso2Code>
      <Value><![CDATA[SG]]></Value>
    </iso2Code>
    <iso3Code>
      <Value><![CDATA[SGP]]></Value>
    </iso3Code>
    <localityOptional>
      <Value><![CDATA[1]]></Value>
    </localityOptional>
    <postalCodeOptional>
      <Value><![CDATA[1]]></Value>
    </postalCodeOptional>
  </Properties>
</Content>