<?xml version="1.0" encoding="utf-8"?>
<Content Key="cec4f34a-fb0e-45fc-b7cd-d932439561bb" Alias="Social Media" Level="2">
  <Info>
    <Parent Key="aa6f92e0-8445-40f2-993d-46cbdb66ac00">Settings</Parent>
    <Path>/Settings/SocialMedia</Path>
    <Trashed>false</Trashed>
    <ContentType>socialMediaSettings</ContentType>
    <CreateDate>2020-11-26T12:56:46</CreateDate>
    <NodeName Default="Social Media" />
    <SortOrder>14</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>