<?xml version="1.0" encoding="utf-8"?>
<Content Key="e706b045-9673-406c-a8ab-d5c7433fd5bd" Alias="Spain" Level="4">
  <Info>
    <Parent Key="910f8116-b3b4-42c7-aba4-ea28f0040e21">Countries</Parent>
    <Path>/Settings/System/Countries/Spain</Path>
    <Trashed>false</Trashed>
    <ContentType>country</ContentType>
    <CreateDate>2021-01-08T18:41:44</CreateDate>
    <NodeName Default="Spain" />
    <SortOrder>132</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <diallingCode>
      <Value><![CDATA[34]]></Value>
    </diallingCode>
    <iso2Code>
      <Value><![CDATA[ES]]></Value>
    </iso2Code>
    <iso3Code>
      <Value><![CDATA[ESP]]></Value>
    </iso3Code>
    <localityOptional>
      <Value><![CDATA[]]></Value>
    </localityOptional>
    <postalCodeOptional>
      <Value><![CDATA[]]></Value>
    </postalCodeOptional>
  </Properties>
</Content>