<?xml version="1.0" encoding="utf-8"?>
<Content Key="9e6111e7-6157-40aa-8b99-1b28df64eb9d" Alias="Sponsorships" Level="3">
  <Info>
    <Parent Key="ef4e9d05-c930-4619-9d73-694061f8b1f5">Giving</Parent>
    <Path>/Settings/Giving/Sponsorships</Path>
    <Trashed>false</Trashed>
    <ContentType>sponsorshipSchemes</ContentType>
    <CreateDate>2020-11-26T12:59:06</CreateDate>
    <NodeName Default="Sponsorships" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>