<?xml version="1.0" encoding="utf-8"?>
<Content Key="c1874e41-9cdb-4fc5-90fe-a99c672733e5" Alias="Staging" Level="2">
  <Info>
    <Parent Key="aa6f92e0-8445-40f2-993d-46cbdb66ac00">Settings</Parent>
    <Path>/Settings/Staging</Path>
    <Trashed>false</Trashed>
    <ContentType>stagingSettings</ContentType>
    <CreateDate>2022-01-18T17:26:59</CreateDate>
    <NodeName Default="Staging" />
    <SortOrder>14</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <password>
      <Value><![CDATA[password]]></Value>
    </password>
    <rules>
      <Value><![CDATA[]]></Value>
    </rules>
    <username>
      <Value><![CDATA[test]]></Value>
    </username>
  </Properties>
</Content>