<?xml version="1.0" encoding="utf-8"?>
<Content Key="de89d2aa-61c4-4595-8731-16e1070612d4" Alias="Staging" Level="4">
  <Info>
    <Parent Key="3010f646-e2e8-40dd-9c87-5141aecc21c0">Environment</Parent>
    <Path>/Settings/Crowdfunding/Environment/Staging</Path>
    <Trashed>false</Trashed>
    <ContentType>crowdfundingEnvironment</ContentType>
    <CreateDate>2025-01-03T09:54:01</CreateDate>
    <NodeName Default="Staging" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <apiKey>
      <Value><![CDATA[apiKey]]></Value>
    </apiKey>
    <default>
      <Value><![CDATA[0]]></Value>
    </default>
    <domain>
      <Value><![CDATA[https://localhost:6001]]></Value>
    </domain>
    <environment>
      <Value><![CDATA[[
  "staging"
]]]></Value>
    </environment>
  </Properties>
</Content>