<?xml version="1.0" encoding="utf-8"?>
<Content Key="86c48233-0daf-4b1c-8570-c52564489eb6" Alias="Stipulation" Level="4">
  <Info>
    <Parent Key="35717f21-c868-484c-80d9-2c6b69009797">Fund Dimensions</Parent>
    <Path>/Settings/Giving/FundDimensions/Stipulation</Path>
    <Trashed>false</Trashed>
    <ContentType>fundDimension3</ContentType>
    <CreateDate>2020-11-26T13:20:22</CreateDate>
    <NodeName Default="Stipulation" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <isActive>
      <Value><![CDATA[1]]></Value>
    </isActive>
  </Properties>
</Content>