<?xml version="1.0" encoding="utf-8"?>
<Content Key="d2bbfeed-a5a9-4099-912b-581d20080756" Alias="Stripe" Level="3">
  <Info>
    <Parent Key="ac70c8ae-a240-4e87-9ff5-5a64466b5bfb">Payments</Parent>
    <Path>/Settings/Payments/Stripe</Path>
    <Trashed>false</Trashed>
    <ContentType>stripeSettings</ContentType>
    <CreateDate>2020-11-26T13:28:53</CreateDate>
    <NodeName Default="Stripe" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <productionClientKey>
      <Value><![CDATA[clientKey]]></Value>
    </productionClientKey>
    <productionSecretKey>
      <Value><![CDATA[secretKey]]></Value>
    </productionSecretKey>
    <restrictCollectionDaysTo>
      <Value><![CDATA[]]></Value>
    </restrictCollectionDaysTo>
    <stagingClientKey>
      <Value><![CDATA[clientKey]]></Value>
    </stagingClientKey>
    <stagingSecretKey>
      <Value><![CDATA[secretKey]]></Value>
    </stagingSecretKey>
    <transactionDescription>
      <Value><![CDATA[Transaction Description]]></Value>
    </transactionDescription>
    <transactionId>
      <Value><![CDATA[{Prefix}-{Reference}-{IdempotencyKey}]]></Value>
    </transactionId>
  </Properties>
</Content>