<?xml version="1.0" encoding="utf-8"?>
<Content Key="113c951a-d4b4-443f-9c18-cf2a6ab36314" Alias="Sudan" Level="4">
  <Info>
    <Parent Key="910f8116-b3b4-42c7-aba4-ea28f0040e21">Countries</Parent>
    <Path>/Settings/System/Countries/Sudan</Path>
    <Trashed>false</Trashed>
    <ContentType>country</ContentType>
    <CreateDate>2021-01-08T18:41:57</CreateDate>
    <NodeName Default="Sudan" />
    <SortOrder>134</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <diallingCode>
      <Value><![CDATA[249]]></Value>
    </diallingCode>
    <iso2Code>
      <Value><![CDATA[SD]]></Value>
    </iso2Code>
    <iso3Code>
      <Value><![CDATA[SDN]]></Value>
    </iso3Code>
    <localityOptional>
      <Value><![CDATA[1]]></Value>
    </localityOptional>
    <postalCodeOptional>
      <Value><![CDATA[1]]></Value>
    </postalCodeOptional>
  </Properties>
</Content>