<?xml version="1.0" encoding="utf-8"?>
<Content Key="3a7d9831-91ab-4614-8633-a9731ec053c8" Alias="Switzerland" Level="4">
  <Info>
    <Parent Key="910f8116-b3b4-42c7-aba4-ea28f0040e21">Countries</Parent>
    <Path>/Settings/System/Countries/Switzerland</Path>
    <Trashed>false</Trashed>
    <ContentType>country</ContentType>
    <CreateDate>2021-01-08T18:42:17</CreateDate>
    <NodeName Default="Switzerland" />
    <SortOrder>137</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <diallingCode>
      <Value><![CDATA[41]]></Value>
    </diallingCode>
    <iso2Code>
      <Value><![CDATA[CH]]></Value>
    </iso2Code>
    <iso3Code>
      <Value><![CDATA[CHE]]></Value>
    </iso3Code>
    <localityOptional>
      <Value><![CDATA[]]></Value>
    </localityOptional>
    <postalCodeOptional>
      <Value><![CDATA[]]></Value>
    </postalCodeOptional>
  </Properties>
</Content>