<?xml version="1.0" encoding="utf-8"?>
<Content Key="f1648706-e0a2-46ec-a0d9-4fd0c9197983" Alias="Syria" Level="5">
  <Info>
    <Parent Key="283986f7-82d6-431a-826a-0c3e8648a95b">Location</Parent>
    <Path>/Settings/Giving/FundDimensions/Location/Syria</Path>
    <Trashed>false</Trashed>
    <ContentType>fundDimension1Option</ContentType>
    <CreateDate>2021-01-08T19:06:38</CreateDate>
    <NodeName Default="Syria" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <isUnrestricted>
      <Value><![CDATA[]]></Value>
    </isUnrestricted>
  </Properties>
</Content>