<?xml version="1.0" encoding="utf-8"?>
<Content Key="23963105-efef-4026-9f29-a92710ce080f" Alias="System" Level="2">
  <Info>
    <Parent Key="aa6f92e0-8445-40f2-993d-46cbdb66ac00">Settings</Parent>
    <Path>/Settings/System</Path>
    <Trashed>false</Trashed>
    <ContentType>systemSettings</ContentType>
    <CreateDate>2020-11-26T12:56:32</CreateDate>
    <NodeName Default="System" />
    <SortOrder>13</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>