<?xml version="1.0" encoding="utf-8"?>
<Content Key="fb622af3-1137-4c2d-9d46-59638c94dc05" Alias="Tag Manager" Level="3">
  <Info>
    <Parent Key="69ffb6d1-df9b-4299-96dd-25f6f4b528ca">Analytics</Parent>
    <Path>/Settings/Analytics/TagManager</Path>
    <Trashed>false</Trashed>
    <ContentType>tagManagerSettings</ContentType>
    <CreateDate>2020-11-26T13:17:57</CreateDate>
    <NodeName Default="Tag Manager" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <body>
      <Value><![CDATA[<!-- Google Tag Manager (noscript) -->
<!-- End Google Tag Manager (noscript) -->]]></Value>
    </body>
    <head>
      <Value><![CDATA[<!-- Google Tag Manager -->
<!-- End Google Tag Manager -->]]></Value>
    </head>
  </Properties>
</Content>