<?xml version="1.0" encoding="utf-8"?>
<Content Key="9051bec5-c070-49ca-a5d3-d6be7c88a5c2" Alias="Tags" Level="3">
  <Info>
    <Parent Key="2a9ab01f-aaf8-4ad0-944e-17d54f6917c8">Crowdfunding</Parent>
    <Path>/Settings/Crowdfunding/Tags</Path>
    <Trashed>false</Trashed>
    <ContentType>crowdfundingCampaignTagSettings</ContentType>
    <CreateDate>2024-08-14T19:27:50</CreateDate>
    <NodeName Default="Tags" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>