<?xml version="1.0" encoding="utf-8"?>
<Content Key="ead608f7-6d18-405d-8907-19160c71ebfd" Alias="Taiwan" Level="4">
  <Info>
    <Parent Key="910f8116-b3b4-42c7-aba4-ea28f0040e21">Countries</Parent>
    <Path>/Settings/System/Countries/Taiwan</Path>
    <Trashed>false</Trashed>
    <ContentType>country</ContentType>
    <CreateDate>2021-01-08T18:42:32</CreateDate>
    <NodeName Default="Taiwan" />
    <SortOrder>139</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <diallingCode>
      <Value><![CDATA[886]]></Value>
    </diallingCode>
    <iso2Code>
      <Value><![CDATA[TW]]></Value>
    </iso2Code>
    <iso3Code>
      <Value><![CDATA[TWN]]></Value>
    </iso3Code>
    <localityOptional>
      <Value><![CDATA[]]></Value>
    </localityOptional>
    <postalCodeOptional>
      <Value><![CDATA[]]></Value>
    </postalCodeOptional>
  </Properties>
</Content>