<?xml version="1.0" encoding="utf-8"?>
<Content Key="4d59caa6-9c62-4343-9ec0-67e37945809e" Alias="Tajikistan" Level="4">
  <Info>
    <Parent Key="910f8116-b3b4-42c7-aba4-ea28f0040e21">Countries</Parent>
    <Path>/Settings/System/Countries/Tajikistan</Path>
    <Trashed>false</Trashed>
    <ContentType>country</ContentType>
    <CreateDate>2021-01-08T18:42:39</CreateDate>
    <NodeName Default="Tajikistan" />
    <SortOrder>140</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <iso2Code>
      <Value><![CDATA[TJ]]></Value>
    </iso2Code>
    <iso3Code>
      <Value><![CDATA[TAJ]]></Value>
    </iso3Code>
    <localityOptional>
      <Value><![CDATA[0]]></Value>
    </localityOptional>
    <postalCodeOptional>
      <Value><![CDATA[0]]></Value>
    </postalCodeOptional>
  </Properties>
</Content>