<?xml version="1.0" encoding="utf-8"?>
<Content Key="76d4ff76-8614-4159-8914-7a8050f6ba11" Alias="Tax Relief" Level="2">
  <Info>
    <Parent Key="aa6f92e0-8445-40f2-993d-46cbdb66ac00">Settings</Parent>
    <Path>/Settings/TaxRelief</Path>
    <Trashed>false</Trashed>
    <ContentType>taxReliefSettings</ContentType>
    <CreateDate>2022-02-10T14:26:55</CreateDate>
    <NodeName Default="Tax Relief" />
    <SortOrder>17</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <scheme>
      <Value><![CDATA[[
  "unitedKingdom"
]]]></Value>
    </scheme>
  </Properties>
</Content>