<?xml version="1.0" encoding="utf-8"?>
<Content Key="5938c9b4-2d85-4734-a6b1-2c4a2b8fe6ed" Alias="Template" Level="4">
  <Info>
    <Parent Key="ce8cbad0-fac9-45d8-91d5-f6bc05b3f966">Text</Parent>
    <Path>/Settings/Localization/Text/Template</Path>
    <Trashed>false</Trashed>
    <ContentType>textFolder</ContentType>
    <CreateDate>2022-01-13T19:51:33</CreateDate>
    <NodeName Default="Template" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>