<?xml version="1.0" encoding="utf-8"?>
<Content Key="073d2698-dea2-433c-9a2d-28f9335573c7" Alias="Template" Level="3">
  <Info>
    <Parent Key="2a9ab01f-aaf8-4ad0-944e-17d54f6917c8">Crowdfunding</Parent>
    <Path>/Settings/Crowdfunding/Template</Path>
    <Trashed>false</Trashed>
    <ContentType>crowdfundingTemplateSettings</ContentType>
    <CreateDate>2024-09-13T07:19:41</CreateDate>
    <NodeName Default="Template" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <cssVariables>
      <Value><![CDATA[--theme-crowdfunding-font-family: Signika;
--theme-crowdfunding-primary: #334155;
--theme-crowdfunding-primary-hover: #64748b;
--theme-crowdfunding-primary-light: #cbd5e1;
--theme-crowdfunding-primary-subtle: #f1f5f9;
--theme-crowdfunding-button-text: #ffffff;
--theme-crowdfunding-button-color: #000000;
--theme-crowdfunding-border-color: #e2e8f0;
--theme-crowdfunding-panel-accent: #f8fafc;
--theme-crowdfunding-page-bg: #f8fafc;]]></Value>
    </cssVariables>
  </Properties>
</Content>