<?xml version="1.0" encoding="utf-8"?>
<Content Key="78da8a82-e8c5-41e3-95b0-66bbb715ac72" Alias="Template" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Template</Path>
    <Trashed>false</Trashed>
    <ContentType>template</ContentType>
    <CreateDate>2020-11-26T12:52:28</CreateDate>
    <NodeName Default="Template" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <titleSuffix>
      <Value><![CDATA[| Demo Site]]></Value>
    </titleSuffix>
  </Properties>
</Content>