<?xml version="1.0" encoding="utf-8"?>
<Content Key="5493d5cb-a8b1-4915-931a-3e0897a59ecd" Alias="Template" Level="4">
  <Info>
    <Parent Key="ce8cbad0-fac9-45d8-91d5-f6bc05b3f966">Text</Parent>
    <Path>/Settings/Localization/Text/Template</Path>
    <Trashed>false</Trashed>
    <ContentType>textContainerFolder</ContentType>
    <CreateDate>2022-01-18T20:54:31</CreateDate>
    <NodeName Default="Template" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>