<?xml version="1.0" encoding="utf-8"?>
<Content Key="d2cf3085-cdee-4813-8697-c021863b8810" Alias="Testing" Level="4">
  <Info>
    <Parent Key="5a3cf96f-d4bb-4b38-a623-d188135f3358">Donation Items</Parent>
    <Path>/Settings/Giving/DonationItems/Testing</Path>
    <Trashed>false</Trashed>
    <ContentType>donationItem</ContentType>
    <CreateDate>2022-03-27T14:39:39</CreateDate>
    <NodeName Default="Testing" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <allowedGivingTypes>
      <Value><![CDATA[[ 'regularGiving', 'donation' ]]]></Value>
    </allowedGivingTypes>
    <dimension1Options>
      <Value><![CDATA[umb://document/61541e9804fd44919236957b6e580bd8,umb://document/e9fe0f29f0a3476eb118649e80f4f704]]></Value>
    </dimension1Options>
    <dimension2Options>
      <Value><![CDATA[umb://document/e890b46180324b90813b705840607db3]]></Value>
    </dimension2Options>
    <dimension3Options>
      <Value><![CDATA[umb://document/c648754c2c7f4fa88d0ec308b0d3b153]]></Value>
    </dimension3Options>
    <priceAmount>
      <Value><![CDATA[5]]></Value>
    </priceAmount>
    <priceLocked>
      <Value><![CDATA[1]]></Value>
    </priceLocked>
    <priceRules>
      <Value><![CDATA[[{"key":"4f09dba4-afe3-45d6-89d8-ef5653ea323a","name":"Item 1","ncContentTypeAlias":"pricingRule","priceAmount":"10","priceLocked":"False","dimension1":"umb://document/61541e9804fd44919236957b6e580bd8","dimension2":"","dimension3":"","dimension4":""},{"key":"a6b0ab0f-3315-4515-ac89-71184191f3fe","name":"Item 2","ncContentTypeAlias":"pricingRule","priceAmount":"15","priceLocked":"True","dimension1":"umb://document/e9fe0f29f0a3476eb118649e80f4f704","dimension2":"umb://document/e890b46180324b90813b705840607db3","dimension3":"","dimension4":""}]]]></Value>
    </priceRules>
  </Properties>
</Content>