<?xml version="1.0" encoding="utf-8"?>
<Content Key="9d61dfab-b73c-4b9a-b6d9-4a94bc7eb695" Alias="Test" Level="2">
  <Info>
    <Parent Key="eb68c8c0-6f9d-4477-8d67-10d27f49ce87">Blog</Parent>
    <Path>/Blog/Test</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostsFolder</ContentType>
    <CreateDate>2022-06-03T21:05:49</CreateDate>
    <NodeName Default="Test" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>