<?xml version="1.0" encoding="utf-8"?>
<Content Key="ce8cbad0-fac9-45d8-91d5-f6bc05b3f966" Alias="Text" Level="3">
  <Info>
    <Parent Key="8e59dcd9-e5d1-4e00-b53a-6fc6d245abeb">Localization</Parent>
    <Path>/Settings/Localization/Text</Path>
    <Trashed>false</Trashed>
    <ContentType>textSettings</ContentType>
    <CreateDate>2020-11-26T13:28:34</CreateDate>
    <NodeName Default="Text" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>