<?xml version="1.0" encoding="utf-8"?>
<Content Key="b2492c81-bf6a-4765-8a1c-911b4e023237" Alias="Theme" Level="4">
  <Info>
    <Parent Key="35717f21-c868-484c-80d9-2c6b69009797">Fund Dimensions</Parent>
    <Path>/Settings/Giving/FundDimensions/Theme</Path>
    <Trashed>false</Trashed>
    <ContentType>fundDimension2</ContentType>
    <CreateDate>2020-11-26T13:20:10</CreateDate>
    <NodeName Default="Theme" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <isActive>
      <Value><![CDATA[1]]></Value>
    </isActive>
  </Properties>
</Content>