<?xml version="1.0" encoding="utf-8"?>
<Content Key="11061074-84bc-466c-8628-a7f04510dffb" Alias="Trinidad and Tobago" Level="4">
  <Info>
    <Parent Key="910f8116-b3b4-42c7-aba4-ea28f0040e21">Countries</Parent>
    <Path>/Settings/System/Countries/TrinidadAndTobago</Path>
    <Trashed>false</Trashed>
    <ContentType>country</ContentType>
    <CreateDate>2021-01-08T18:43:22</CreateDate>
    <NodeName Default="Trinidad and Tobago" />
    <SortOrder>143</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <iso2Code>
      <Value><![CDATA[TT]]></Value>
    </iso2Code>
    <iso3Code>
      <Value><![CDATA[TTO]]></Value>
    </iso3Code>
    <localityOptional>
      <Value><![CDATA[1]]></Value>
    </localityOptional>
    <postalCodeOptional>
      <Value><![CDATA[1]]></Value>
    </postalCodeOptional>
  </Properties>
</Content>