<?xml version="1.0" encoding="utf-8"?>
<Content Key="dc25b720-fd43-49d1-8403-1be2ba2ab23f" Alias="U.A.E." Level="4">
  <Info>
    <Parent Key="910f8116-b3b4-42c7-aba4-ea28f0040e21">Countries</Parent>
    <Path>/Settings/System/Countries/UAE</Path>
    <Trashed>false</Trashed>
    <ContentType>country</ContentType>
    <CreateDate>2021-01-08T18:44:33</CreateDate>
    <NodeName Default="U.A.E." />
    <SortOrder>147</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <diallingCode>
      <Value><![CDATA[971]]></Value>
    </diallingCode>
    <iso2Code>
      <Value><![CDATA[AE]]></Value>
    </iso2Code>
    <iso3Code>
      <Value><![CDATA[ARE]]></Value>
    </iso3Code>
    <localityOptional>
      <Value><![CDATA[1]]></Value>
    </localityOptional>
    <postalCodeOptional>
      <Value><![CDATA[1]]></Value>
    </postalCodeOptional>
  </Properties>
</Content>