<?xml version="1.0" encoding="utf-8"?>
<Content Key="0588c2fb-516d-429a-9bfd-a54fec78853a" Alias="United Kingdom" Level="4">
  <Info>
    <Parent Key="910f8116-b3b4-42c7-aba4-ea28f0040e21">Countries</Parent>
    <Path>/Settings/System/Countries/UnitedKingdom</Path>
    <Trashed>false</Trashed>
    <ContentType>country</ContentType>
    <CreateDate>2020-11-26T13:04:37</CreateDate>
    <NodeName Default="United Kingdom" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <iso2Code>
      <Value><![CDATA[GB]]></Value>
    </iso2Code>
    <iso3Code>
      <Value><![CDATA[GBR]]></Value>
    </iso3Code>
    <localityOptional>
      <Value><![CDATA[]]></Value>
    </localityOptional>
    <postalCodeOptional>
      <Value><![CDATA[]]></Value>
    </postalCodeOptional>
  </Properties>
</Content>