<?xml version="1.0" encoding="utf-8"?>
<Content Key="b6b066ae-a5d4-4808-9004-672c315209ae" Alias="URLs" Level="2">
  <Info>
    <Parent Key="aa6f92e0-8445-40f2-993d-46cbdb66ac00">Settings</Parent>
    <Path>/Settings/URLs</Path>
    <Trashed>false</Trashed>
    <ContentType>urlSettings</ContentType>
    <CreateDate>2022-02-06T11:52:47</CreateDate>
    <NodeName Default="URLs" />
    <SortOrder>16</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <developmentBaseUrl>
      <Value><![CDATA[https://localhost:6001/]]></Value>
    </developmentBaseUrl>
    <productionBaseUrl>
      <Value><![CDATA[https://example.com]]></Value>
    </productionBaseUrl>
    <stagingBaseUrl>
      <Value><![CDATA[https://example.com]]></Value>
    </stagingBaseUrl>
  </Properties>
</Content>