<?xml version="1.0" encoding="utf-8"?>
<Content Key="47836a5d-e932-462e-b2be-7969f3c042bf" Alias="USD" Level="4">
  <Info>
    <Parent Key="f23e9e75-f50d-4f03-8ab4-a2072f7f08c9">Currencies</Parent>
    <Path>/Settings/Giving/Currencies/USD</Path>
    <Trashed>false</Trashed>
    <ContentType>currency</ContentType>
    <CreateDate>2021-01-08T18:34:31</CreateDate>
    <NodeName Default="USD" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <isBaseCurrency>
      <Value><![CDATA[0]]></Value>
    </isBaseCurrency>
    <symbol>
      <Value><![CDATA[$]]></Value>
    </symbol>
  </Properties>
</Content>