<?xml version="1.0" encoding="utf-8"?>
<Content Key="e93c613c-2c01-42b1-9f09-b5250faa2705" Alias="Vacancies" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Vacancies</Path>
    <Trashed>false</Trashed>
    <ContentType>vacancies</ContentType>
    <CreateDate>2022-01-10T17:01:20</CreateDate>
    <NodeName Default="Vacancies" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>