<?xml version="1.0" encoding="utf-8"?>
<Content Key="9a288766-1f23-4508-bb75-629c97baa8fa" Alias="Validation" Level="4">
  <Info>
    <Parent Key="ce8cbad0-fac9-45d8-91d5-f6bc05b3f966">Text</Parent>
    <Path>/Settings/Localization/Text/Validation</Path>
    <Trashed>false</Trashed>
    <ContentType>textContainerFolder</ContentType>
    <CreateDate>2022-03-01T20:20:45</CreateDate>
    <NodeName Default="Validation" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>