<?xml version="1.0" encoding="utf-8"?>
<Content Key="973dcae0-212d-4763-b3f6-5606d4440f85" Alias="Validation" Level="2">
  <Info>
    <Parent Key="aa6f92e0-8445-40f2-993d-46cbdb66ac00">Settings</Parent>
    <Path>/Settings/Validation</Path>
    <Trashed>false</Trashed>
    <ContentType>validationSettings</ContentType>
    <CreateDate>2020-11-26T12:56:39</CreateDate>
    <NodeName Default="Validation" />
    <SortOrder>11</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>