<?xml version="1.0" encoding="utf-8"?>
<Content Key="1f6a3340-fb8a-4f36-8863-48ee0550a8c5" Alias="WASH" Level="5">
  <Info>
    <Parent Key="b2492c81-bf6a-4765-8a1c-911b4e023237">Theme</Parent>
    <Path>/Settings/Giving/FundDimensions/Theme/WASH</Path>
    <Trashed>false</Trashed>
    <ContentType>fundDimension2Value</ContentType>
    <CreateDate>2023-05-23T07:56:03</CreateDate>
    <NodeName Default="WASH" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <isUnrestricted>
      <Value><![CDATA[0]]></Value>
    </isUnrestricted>
  </Properties>
</Content>