<?xml version="1.0" encoding="utf-8"?>
<Content Key="a759885c-8117-4267-a080-3b9648e0ff6d" Alias="Water Well" Level="4">
  <Info>
    <Parent Key="cde61017-acfc-40c7-9899-b111351c1ac0">Feedbacks</Parent>
    <Path>/Settings/Giving/Feedbacks/WaterWell</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackScheme</ContentType>
    <CreateDate>2023-05-23T07:56:21</CreateDate>
    <NodeName Default="Water Well" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <allowedGivingTypes>
      <Value><![CDATA[[
  "donation",
  "regularGiving"
]]]></Value>
    </allowedGivingTypes>
    <dimension1Options>
      <Value><![CDATA[umb://document/e9fe0f29f0a3476eb118649e80f4f704,umb://document/a580c8b04f7f49778c20d36129fa2f3a]]></Value>
    </dimension1Options>
    <dimension2Options>
      <Value><![CDATA[umb://document/1f6a3340fb8a4f36886348ee0550a8c5]]></Value>
    </dimension2Options>
    <dimension3Options>
      <Value><![CDATA[umb://document/21bcccd8f9754000b8510fca769ce3d3,umb://document/c648754c2c7f4fa88d0ec308b0d3b153,umb://document/367d1c688d184251b81e93bbf126526c]]></Value>
    </dimension3Options>
    <priceAmount>
      <Value><![CDATA[500]]></Value>
    </priceAmount>
    <priceLocked>
      <Value><![CDATA[0]]></Value>
    </priceLocked>
    <priceRules>
      <Value><![CDATA[]]></Value>
    </priceRules>
  </Properties>
</Content>