<?xml version="1.0" encoding="utf-8"?>
<Content Key="e9a768f4-fb6a-4e71-aa6a-2cb9d53a2a80" Alias="Webhooks" Level="2">
  <Info>
    <Parent Key="aa6f92e0-8445-40f2-993d-46cbdb66ac00">Settings</Parent>
    <Path>/Settings/Webhooks</Path>
    <Trashed>false</Trashed>
    <ContentType>webhookSettings</ContentType>
    <CreateDate>2022-02-04T23:16:45</CreateDate>
    <NodeName Default="Webhooks" />
    <SortOrder>17</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <productionWebhooks>
      <Value><![CDATA[]]></Value>
    </productionWebhooks>
    <stagingWebhooks>
      <Value><![CDATA[]]></Value>
    </stagingWebhooks>
  </Properties>
</Content>