<?xml version="1.0" encoding="utf-8"?>
<Content Key="a580c8b0-4f7f-4977-8c20-d36129fa2f3a" Alias="Where Most Needed" Level="5">
  <Info>
    <Parent Key="283986f7-82d6-431a-826a-0c3e8648a95b">Location</Parent>
    <Path>/Settings/Giving/FundDimensions/Location/WhereMostNeeded</Path>
    <Trashed>false</Trashed>
    <ContentType>fundDimension1Option</ContentType>
    <CreateDate>2021-01-08T19:03:56</CreateDate>
    <NodeName Default="Where Most Needed" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <isUnrestricted>
      <Value><![CDATA[1]]></Value>
    </isUnrestricted>
  </Properties>
</Content>