<?xml version="1.0" encoding="utf-8"?>
<Content Key="156b3a98-d0cd-4a5c-878f-46b9be7fa984" Alias="Yemen" Level="5">
  <Info>
    <Parent Key="283986f7-82d6-431a-826a-0c3e8648a95b">Location</Parent>
    <Path>/Settings/Giving/FundDimensions/Location/Yemen</Path>
    <Trashed>false</Trashed>
    <ContentType>fundDimension1Option</ContentType>
    <CreateDate>2021-01-08T19:07:59</CreateDate>
    <NodeName Default="Yemen" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <isUnrestricted>
      <Value><![CDATA[]]></Value>
    </isUnrestricted>
  </Properties>
</Content>