<?xml version="1.0" encoding="utf-8"?>
<Content Key="18934868-20be-4366-8656-006a88cf413d" Alias="Your Details" Level="3">
  <Info>
    <Parent Key="abc6c6ff-1a4b-4586-8a3c-f16e0fe9e47e">Checkout</Parent>
    <Path>/Home/Checkout/YourDetails</Path>
    <Trashed>false</Trashed>
    <ContentType>checkoutAccountPage</ContentType>
    <CreateDate>2022-03-01T14:59:10</CreateDate>
    <NodeName Default="Your Details" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4b0fc262-066a-4c77-a34d-c0d2fa79b45d">Page</Template>
  </Info>
  <Properties>
    <assets>
      <Value><![CDATA[]]></Value>
    </assets>
    <bodyHtml>
      <Value><![CDATA[]]></Value>
    </bodyHtml>
    <css>
      <Value><![CDATA[]]></Value>
    </css>
    <headHtml>
      <Value><![CDATA[]]></Value>
    </headHtml>
    <hidePage>
      <Value><![CDATA[1]]></Value>
    </hidePage>
    <javaScript>
      <Value><![CDATA[]]></Value>
    </javaScript>
    <titleMeta>
      <Value><![CDATA[{
  "title": "Your Details",
  "description": ""
}]]></Value>
    </titleMeta>
  </Properties>
</Content>