<?xml version="1.0" encoding="utf-8"?>
<Content Key="c648754c-2c7f-4fa8-8d0e-c308b0d3b153" Alias="Zakat" Level="5">
  <Info>
    <Parent Key="86c48233-0daf-4b1c-8570-c52564489eb6">Stipulation</Parent>
    <Path>/Settings/Giving/FundDimensions/Stipulation/Zakat</Path>
    <Trashed>false</Trashed>
    <ContentType>fundDimension3Option</ContentType>
    <CreateDate>2021-01-08T19:05:37</CreateDate>
    <NodeName Default="Zakat" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <isUnrestricted>
      <Value><![CDATA[]]></Value>
    </isUnrestricted>
  </Properties>
</Content>