<?xml version="1.0" encoding="utf-8"?>
<Content Key="c26971a5-5f6f-408c-92a1-ac5ce7b28b4a" Alias="Zimbabwe" Level="4">
  <Info>
    <Parent Key="910f8116-b3b4-42c7-aba4-ea28f0040e21">Countries</Parent>
    <Path>/Settings/DataEntry/Countries/Zimbabwe</Path>
    <Trashed>false</Trashed>
    <ContentType>country</ContentType>
    <CreateDate>2021-01-08T18:48:00</CreateDate>
    <NodeName Default="Zimbabwe" />
    <SortOrder>159</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <diallingCode>
      <Value><![CDATA[263]]></Value>
    </diallingCode>
    <iso2Code>
      <Value><![CDATA[ZW]]></Value>
    </iso2Code>
    <iso3Code>
      <Value><![CDATA[ZWE]]></Value>
    </iso3Code>
    <localityOptional>
      <Value><![CDATA[1]]></Value>
    </localityOptional>
    <postalCodeOptional>
      <Value><![CDATA[1]]></Value>
    </postalCodeOptional>
  </Properties>
</Content>