<?xml version="1.0" encoding="utf-8"?>
<UserGroup Key="6c60b20e-0000-0000-0000-000000000000" Alias="uSyncBrowser">
  <Info>
    <Sections>content,media</Sections>
    <Icon>icon-browser-window</Icon>
    <Name>uSync Remote Browser</Name>
    <StartContentId>00000000-0000-0000-0000-000000000000</StartContentId>
    <StartMediaId>00000000-0000-0000-0000-000000000000</StartMediaId>
    <Permission><![CDATA[]]></Permission>
  </Info>
</UserGroup>