<div ng-controller="Workflow.Groups.Edit.Controller as vm">
    <form class="workflow" 
          name="approvalGroupForm" 
          novalidate 
          val-form-manager 
          ng-submit="vm.save()">
        <umb-editor-view>
            <umb-editor-header name="vm.group.name"
                               alias="vm.group.alias"
                               description="vm.group.description"
                               icon="vm.group.icon"
                               navigation="vm.navigation">
            </umb-editor-header>
            <umb-editor-container impersonation-banner>
                <umb-editor-sub-views
                    ng-if="vm.loaded"
                    sub-views="vm.navigation"
                    model="vm">
                </umb-editor-sub-views>
            </umb-editor-container>
            <umb-editor-footer>
                <umb-editor-footer-content-right>
                    <umb-button type="link"
                                ng-if="!vm.infiniteMode"
                                href="#/workflow/approval-groups/overview"
                                button-style="link"
                                label-key="buttons_returnToList">
                    </umb-button>
                    <umb-button type="button"
                                ng-if="vm.infiniteMode"
                                button-style="link"
                                action="vm.$scope.model.close()"
                                label-key="general_close">
                    </umb-button>
                    <umb-button type="button"
                                button-style="danger"
                                state="vm.deleteButtonState"
                                shortcut="ctrl+d"
                                label-key="workflow_deleteGroup"
                                ng-if="vm.group.groupId !== -1 && !vm.infiniteMode"
                                action="vm.delete()">
                    </umb-button>
                    <umb-button type="submit"
                                button-style="success"
                                state="vm.saveButtonState"
                                disabled="!vm.group.alias"
                                shortcut="ctrl+s"
                                label-key="workflow_saveGroup">
                    </umb-button>
                </umb-editor-footer-content-right>
            </umb-editor-footer>
        </umb-editor-view>

        <umb-load-indicator ng-if="!vm.loaded"></umb-load-indicator>

    </form>
</div>