@using N3O.Umbraco.EditorJs;
@using N3O.Umbraco.EditorJs.Models

@model EditorJsBlock<EmbedBlockData>

<div>
    <iframe title="@Model.Data.Caption" src="@Model.Data.Embed" width="@Model.Data.Width" height="@Model.Data.Height" frameborder="0" allowfullscreen></iframe>
</div>
