@model N3O.Umbraco.EditorJs.Models.EditorJsBlock<N3O.Umbraco.EditorJs.EmbedBlockData, None>

<div>
    <iframe title="@Model.Data.Caption" src="@Model.Data.Embed" width="@Model.Data.Width" height="@Model.Data.Height" frameborder="0" allowfullscreen></iframe>
</div>
