<div class="workflow" ng-controller="Workflow.UserDashboard.Controller as vm" impersonation-banner>
    <umb-box>
        <umb-box-header title-key="workflow_myTasks">
            <workflow-page-size on-change="vm.fetchApprovals(perPage)" 
                                value="vm.perPageApprovals"></workflow-page-size>
        </umb-box-header>
        <umb-box-content>
            <workflow-tasks model="vm.approvalsModel"></workflow-tasks>
        </umb-box-content>
    </umb-box>
    <umb-box>
        <umb-box-header title-key="workflow_mySubmissions">
            <workflow-page-size on-change="vm.fetchSubmissions(perPage)" 
                                value="vm.perPageSubmissions"></workflow-page-size>
        </umb-box-header>
        <umb-box-content>
            <workflow-tasks model="vm.submissionsModel"></workflow-tasks>
        </umb-box-content>
    </umb-box>
</div>
