@model N3O.Umbraco.CrowdFunding.Models.FundraisingPage.CrowdfundingPageViewModel

<div class="cta__wrapper">
    <div class="cta" id="showMoreWrapper">
        <div class="cta__title start">
            <h2>Contribute to this campaign</h2>
            <p>Select either a single option or one from each category.</p>
        </div>


        @*TODO pricehandles for each allocation*@
        <div class="ctaFund showMore big">
            <h4>Emergency Fund</h4>
            <div class="ctaFund__item">
                <input type="radio" name="emergencyFond" />
                <div class="ctaFund__item-inner">
                    <h3>£100</h3>
                    <hr />
                    <p class="subtle">Price handle description</p>
                    <svg>
                        <use xlink:href="#checkIcon"></use>
                    </svg>
                </div>
            </div>
            <div class="ctaFund__item">
                <input type="radio" name="emergencyFond" />
                <div class="ctaFund__item-inner">
                    <h3>£15</h3>
                    <hr />
                    <p class="subtle">Price handle description</p>
                    <svg>
                        <use xlink:href="#checkIcon"></use>
                    </svg>
                </div>
            </div>
            <div class="ctaFund__item">
                <input type="radio" name="emergencyFond" />
                <div class="ctaFund__item-inner">
                    <h3>£50</h3>
                    <hr />
                    <p class="subtle">Price handle description</p>
                    <svg>
                        <use xlink:href="#checkIcon"></use>
                    </svg>
                </div>
            </div>
            <div class="ctaFund__item">
                <input type="radio" name="emergencyFond" />
                <div class="ctaFund__item-inner">
                    <h3>£25</h3>
                    <hr />
                    <p class="subtle">Price handle description</p>
                    <svg>
                        <use xlink:href="#checkIcon"></use>
                    </svg>
                </div>
            </div>
            <div class="ctaFund__item">
                <input type="radio" name="emergencyFond" />
                <div class="ctaFund__item-inner">
                    <h3>£35</h3>
                    <hr />
                    <p class="subtle">Price handle description</p>
                    <svg>
                        <use xlink:href="#checkIcon"></use>
                    </svg>
                </div>
            </div>
            <div class="ctaFund__item">
                <input type="radio" name="emergencyFond" />
                <div class="ctaFund__item-inner">
                    <h3>£40</h3>
                    <hr />
                    <p class="subtle">Price handle description</p>
                    <svg>
                        <use xlink:href="#checkIcon"></use>
                    </svg>
                </div>
            </div>
            <div class="large showMoreBtn">More Options</div>
        </div>

        @*TODO for open amount*@
        <div class="cta__input">
            <label class="large" for="openAmount"> £ </label>
            <input id="openAmount" placeholder="75|" type="text" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" value="" data-type="currency">
            <div class="cta__input-select">
                <select name="currency" id="">
                    <option value="GBP">GBP</option>
                    <option value="USD">USD</option>
                </select>
            </div>
        </div>

        <div class="cta__foot">
            <button type="button" class="button primary">Donate</button>
        </div>
    </div>
</div>