@using Humanizer
@using N3O.Umbraco.Templates
@model N3O.Umbraco.CrowdFunding.Models.FundraiserViewModel

@inject IPartialText PartialText

@{
PartialText.SetPartialName("Description");
}

<div class="campaign">
    <div class="campaign__content" data-about-edit="edit-campaign-about">
        <div class="campaign__title big">
            <h2>@PartialText.Get("About This Campaign")</h2>
            <div id="about-description" data-type="textarea" data-property-alias="@nameof(Model.Content.Body).Camelize()">
                @Html.Raw(Model.Content.Body)
            </div>
        </div>
    </div>
</div>