<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="91af8b30-bc98-4e40-acbd-dd556b1c3a62" Alias="addressValidationSettings" Level="3">
  <Info>
    <Name>Address Validation Settings</Name>
    <Icon>icon-addressbook color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Settings/Validation</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>72e08e87-dd8f-45df-9c6e-fa1f1515d4f8</Key>
      <Name>Default Country</Name>
      <Alias>defaultCountry</Alias>
      <Definition>b9fc6b8e-f746-4bcc-b9a4-a11474c15f84</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>d61a8e82-35f4-46d0-801b-63827dd79ff5</Key>
      <Caption>General</Caption>
      <Alias>general</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>