<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="91af8b30-bc98-4e40-acbd-dd556b1c3a62" Alias="addressDataEntrySettings" Level="3">
  <Info>
    <Name>Address Data Entry Settings</Name>
    <Icon>icon-addressbook color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Settings/Data+Entry</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>79477631-bffd-432b-b865-7712b3b7dc5b</Key>
      <Name>Administrative Area</Name>
      <Alias>administrativeArea</Alias>
      <Definition>6f16b812-3d0f-4c83-9fb1-74113dc48c4a</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="administrativeArea">AdministrativeArea</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>48b87d0c-d9dd-4de8-9415-3fcfef83b3d5</Key>
      <Name>Country</Name>
      <Alias>country</Alias>
      <Definition>6f16b812-3d0f-4c83-9fb1-74113dc48c4a</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="country">Country</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>72e08e87-dd8f-45df-9c6e-fa1f1515d4f8</Key>
      <Name>Default</Name>
      <Alias>defaultCountry</Alias>
      <Definition>b9fc6b8e-f746-4bcc-b9a4-a11474c15f84</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="country">Country</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>67e44d17-c816-4d6b-8e77-0337f59bac80</Key>
      <Name>Line 1</Name>
      <Alias>line1</Alias>
      <Definition>6f16b812-3d0f-4c83-9fb1-74113dc48c4a</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="line1">Line 1</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3dd32911-d39f-4080-92d5-9e2a8d6496d0</Key>
      <Name>Line 2</Name>
      <Alias>line2</Alias>
      <Definition>6f16b812-3d0f-4c83-9fb1-74113dc48c4a</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="line2">Line 2</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>63d034d5-783d-4727-9fb7-39d06f8844ad</Key>
      <Name>Line 3</Name>
      <Alias>line3</Alias>
      <Definition>6f16b812-3d0f-4c83-9fb1-74113dc48c4a</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="line3">Line 3</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>483f35b3-6232-412a-9f4e-9584211b8637</Key>
      <Name>Locality</Name>
      <Alias>locality</Alias>
      <Definition>6f16b812-3d0f-4c83-9fb1-74113dc48c4a</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="locality">Locality</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b3990420-daf0-4b0c-82db-9b18c4506e31</Key>
      <Name>Postal Code</Name>
      <Alias>postalCode</Alias>
      <Definition>6f16b812-3d0f-4c83-9fb1-74113dc48c4a</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="postalCode1">Postal Code</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>0f3fc87b-6480-4ffa-a799-ed6a2b2ab13b</Key>
      <Caption>Line 3</Caption>
      <Alias>line3</Alias>
      <Type>Group</Type>
      <SortOrder>3</SortOrder>
    </Tab>
    <Tab>
      <Key>46566c1b-2fb8-4d8c-bd1e-46f72d302252</Key>
      <Caption>Postal Code</Caption>
      <Alias>postalCode1</Alias>
      <Type>Group</Type>
      <SortOrder>6</SortOrder>
    </Tab>
    <Tab>
      <Key>6d78e9ce-18d9-4817-b39d-04faac531c4e</Key>
      <Caption>Line 1</Caption>
      <Alias>line1</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>769a70bf-c200-490e-9c12-31260b07aad3</Key>
      <Caption>Line 2</Caption>
      <Alias>line2</Alias>
      <Type>Group</Type>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Key>a47d28e7-fbb8-4129-a6a4-0f7301f7e9d1</Key>
      <Caption>AdministrativeArea</Caption>
      <Alias>administrativeArea</Alias>
      <Type>Group</Type>
      <SortOrder>5</SortOrder>
    </Tab>
    <Tab>
      <Key>b2dcb4cd-3b6b-48f5-b4a0-5b36fca5848b</Key>
      <Caption>Locality</Caption>
      <Alias>locality</Alias>
      <Type>Group</Type>
      <SortOrder>4</SortOrder>
    </Tab>
    <Tab>
      <Key>d61a8e82-35f4-46d0-801b-63827dd79ff5</Key>
      <Caption>Country</Caption>
      <Alias>country</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>