<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b8a329ee-b147-4fef-a2fa-ba42d76c219e" Alias="analyticsSettings" Level="3">
  <Info>
    <Name>Analytics Settings</Name>
    <Icon>icon-chart color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Settings/Analytics</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="3de87652-aa60-4f5f-88e3-b1b03cb69893" SortOrder="1">checkoutSurvey</ContentType>
    <ContentType Key="394e7a4b-2e14-4047-bfa4-e2678ea23afe" SortOrder="2">googleAnalytics4Settings</ContentType>
    <ContentType Key="0fc3ca31-1ab5-48ba-af3c-c35df7561f8b" SortOrder="3">googleTagManagerSettings</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>