<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="24c4f0cf-e1ac-4d21-bd0f-9ba3ffe2bb81" Alias="attributionSettings" Level="3">
  <Info>
    <Name>Attribution Settings</Name>
    <Icon>icon-pie-chart color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Settings/Analytics</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>976123ac-bf1d-4d53-9b85-a020cbf410ce</Key>
      <Name>Campaign</Name>
      <Alias>utmCampaignDimensionIndex</Alias>
      <Definition>0b285643-48cd-442b-8343-48aa56f77c63</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="utmDimensions">UTM Dimensions</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>10ead921-01c5-4b5b-ae39-e25562342872</Key>
      <Name>Medium</Name>
      <Alias>utmMediumDimensionIndex</Alias>
      <Definition>0b285643-48cd-442b-8343-48aa56f77c63</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="utmDimensions">UTM Dimensions</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>bf1d5f9f-6217-4683-9ccb-131ab955bafc</Key>
      <Name>Source</Name>
      <Alias>utmSourceDimensionIndex</Alias>
      <Definition>0b285643-48cd-442b-8343-48aa56f77c63</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="utmDimensions">UTM Dimensions</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>c770fbf9-5644-479f-8e5a-c975b56f213e</Key>
      <Caption>UTM Dimensions</Caption>
      <Alias>utmDimensions</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>