<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f5c6f4e0-f960-41fb-95f1-f67a9c3481e4" Alias="authorizeNetSettings" Level="3">
  <Info>
    <Name>Authorize.net Settings</Name>
    <Icon>icon-credit-card-alt color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Settings/Payments</Folder>
    <Compositions>
      <Composition Key="49f87b5d-5223-47bb-8842-25c51fe038bc">paymentMethodSettings</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>