<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="7c97b30b-29d2-408b-b42d-d4204f0f01b7" Alias="blogPosts" Level="2">
  <Info>
    <Name>Blog Posts</Name>
    <Icon>icon-newspaper-alt color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Blog</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="9414957d-a919-4746-aba6-e3974ea67e45" SortOrder="0">blogPostsFolder</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>