<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="9414957d-a919-4746-aba6-e3974ea67e45" Alias="blogPostsFolder" Level="2">
  <Info>
    <Name>Blog Posts Folder</Name>
    <Icon>icon-folder color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Blog</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="8c79049c-4886-4e2c-a178-457bbf405548" SortOrder="0">blogPost</ContentType>
    <ContentType Key="9414957d-a919-4746-aba6-e3974ea67e45" SortOrder="1">blogPostsFolder</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>