<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b06013a0-3501-43b4-8cd5-0129ff70021d" Alias="blogCategories" Level="3">
  <Info>
    <Name>Blog Categories</Name>
    <Icon>icon-file-cabinet color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Settings/Blog</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="87446633-60be-4dfc-b761-8339d6c55906" SortOrder="0">blogCategory</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>