<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e40252c1-f2be-410b-b2a0-5ae8af7a6a18" Alias="captchaSettings" Level="3">
  <Info>
    <Name>Captcha Settings</Name>
    <Icon>icon-security-camera color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Settings/Captcha</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="d438e3eb-cc4f-41d8-851f-7da63cb6d458" SortOrder="0">captchaV3Settings</ContentType>
    <ContentType Key="5ca4b9a6-81f2-4fe1-9a7a-e7733a42eeca" SortOrder="1">captchaV2Settings</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>