<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f4ad45df-0000-0000-0000-000000000000" Alias="cartBlock" Level="3">
  <Info>
    <Name>Cart</Name>
    <Icon>icon-shopping-basket</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Blocks/Advanced</Folder>
    <Compositions>
      <Composition Key="0195c30d-0000-0000-0000-000000000000">block</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>