<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b8f33151-fa2f-42ef-bb5b-174e747da3dd" Alias="cartPage" Level="2">
  <Info>
    <Name>Cart</Name>
    <Icon>icon-shopping-basket color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="a95827a8-fe49-4299-a63f-25fe109d48ee">page</Composition>
    </Compositions>
    <DefaultTemplate>Cart</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="1e41f357-8ef0-44ee-8cd1-778889af3b27">Cart</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>