<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="20213c69-3d38-433f-9891-6202eb68b043" Alias="cdnSettings" Level="3">
  <Info>
    <Name>CDN Settings</Name>
    <Icon>icon-molecular-network color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Settings/CDN</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="5354222f-5f73-400e-963f-666b832ed45c" SortOrder="0">cloudflareSettings</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>