<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="57fa1db4-78de-4667-8fae-e7495861656e" Alias="checkoutCompletePage" Level="2">
  <Info>
    <Name>Checkout Complete</Name>
    <Icon>icon-trophy color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="a95827a8-fe49-4299-a63f-25fe109d48ee">page</Composition>
    </Compositions>
    <DefaultTemplate>Page</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="4b0fc262-066a-4c77-a34d-c0d2fa79b45d">Page</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>