<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f3e587d8-4f02-4792-b627-561198224282" Alias="checkoutTemplateEmail" Level="2">
  <Info>
    <Name>Checkout Template Email</Name>
    <Icon>icon-cash-register color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Template</Folder>
    <Compositions>
      <Composition Key="5e7733fd-d992-459f-b8f2-3ca2d3b89791">templateEmail</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>