<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="5354222f-5f73-400e-963f-666b832ed45c" Alias="cloudflareSettings" Level="3">
  <Info>
    <Name>Cloudflare Settings</Name>
    <Icon>icon-cloudy color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Settings/CDN</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>