<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="8a3abf20-bc77-4a5c-bbd7-11fa9a91d1e6" Alias="consentCategory" Level="3">
  <Info>
    <Name>Consent Category</Name>
    <Icon>icon-files color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Settings/Consent</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>