<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="6e3551c5-3766-4e6b-9aba-9e1dc3d437be" Alias="consentSettings" Level="3">
  <Info>
    <Name>Consent Settings</Name>
    <Icon>icon-script-alt color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Settings/Consent</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="88e71628-7ea8-4215-9a4e-bc485d530057" SortOrder="0">consentCategories</ContentType>
    <ContentType Key="f4ab4cb9-71b8-44e5-9c95-d2c6d1b7b32c" SortOrder="1">consentOptions</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>