<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f4ab4cb9-71b8-44e5-9c95-d2c6d1b7b32c" Alias="consentOptions" Level="3">
  <Info>
    <Name>Consent Options</Name>
    <Icon>icon-forms-flickr color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Settings/Consent</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="5c9587f9-6800-493f-9234-aa2cb368ae7e" SortOrder="0">consentOption</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>