<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="32e8241d-bec6-4601-952e-36b3c3e14c6a" Alias="countrySettings" Level="3">
  <Info>
    <Name>Country Settings</Name>
    <Icon>icon-globe color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Settings/Data+Entry</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="4f0f31c6-a758-418f-a0a0-f322e6a82198" SortOrder="0">country</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>