<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="4fb55c73-c0a5-4a39-b298-9e409dcf6e4b" Alias="crowdFundingSettings" Level="3">
  <Info>
    <Name>Crowd Funding Settings</Name>
    <Icon>icon-users-alt color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Settings/Crowd+Funding</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="ec839f43-e6b2-417e-b065-43827c171b2a" SortOrder="0">crowdFundingCampaignTags</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>