<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="add46976-16c3-493c-bb64-0e1787f83906" Alias="crowdfundingCampaignFolder" Level="3">
  <Info>
    <Name>Campaign Folder</Name>
    <Icon>icon-folder color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Crowdfunding/Campaigns</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="add46976-16c3-493c-bb64-0e1787f83906" SortOrder="0">crowdfundingCampaignFolder</ContentType>
    <ContentType Key="a5ce7c69-8147-4576-a854-bdb8111fe57c" SortOrder="1">crowdfundingCampaign</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>