<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e265d21f-0975-40aa-9465-e35f5b05f38c" Alias="crowdfundingCampaignFeedbackGoal" Level="3">
  <Info>
    <Name>Campaign Feedback Goal</Name>
    <Icon>icon-loupe color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Crowdfunding/Campaigns</Folder>
    <Compositions>
      <Composition Key="67390682-6fc1-4c33-824d-662c5e95b9e7">crowdfundingCampaignGoal</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>11209bc5-661d-4d71-b1a9-b9672b0187ed</Key>
      <Name>Scheme</Name>
      <Alias>scheme</Alias>
      <Definition>15eebff9-31c5-4eca-93ad-ef130246ebc2</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>99</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>dbb27d48-aacd-4c67-b214-5a72f1e769d3</Key>
      <Caption>General</Caption>
      <Alias>general</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>