<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b4acd03e-b11b-44a3-8376-24fb0ec2e4f3" Alias="crowdfundingTemplateSettings" Level="3">
  <Info>
    <Name>Template Settings</Name>
    <Icon>icon-imac color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Settings/Crowdfunding</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="2b2eaa24-0a16-4598-8783-d68d752f1b00" SortOrder="1">crowdfundingOurProfileSettings</ContentType>
    <ContentType Key="85d8a3a3-8efb-43d7-bc7f-0931c08eb814" SortOrder="2">crowdfundingSignInModalSettings</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>df4ec52e-78d0-4acd-a78c-65872937d27b</Key>
      <Name>CSS Variables</Name>
      <Alias>cssVariables</Alias>
      <Definition>8c99b235-1b8c-4b55-a6b5-990fa5a8e819</Definition>
      <Type>Umbraco.Community.Contentment.CodeEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>5dcdfb99-90ae-46b4-859a-13d951f76a4e</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>