<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="14375eee-761c-4840-b2b3-6f61b31cbdf7" Alias="crowdfundingPages" Level="3">
  <Info>
    <Name>Pages</Name>
    <Icon>icon-sitemap color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Crowdfunding/Pages</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="db1111ad-5cd1-4e3f-b227-ab1b2e903072" SortOrder="0">crowdfundingPageFolder</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>