<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="5a2fe1a9-5f2c-45f9-8b35-5087f732f98c" Alias="crowdfundingCampaignFeedbackGoalOption" Level="3">
  <Info>
    <Name>Campaign Feedback Goal Option</Name>
    <Icon>icon-loupe color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Crowdfunding/Campaigns</Folder>
    <Compositions>
      <Composition Key="ed0d27ee-3086-438f-aea3-72f7a1ea1086">crowdfundingCampaignGoalOption</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>88008834-19fa-4e59-b4c6-7eef2edf27ac</Key>
      <Name>Scheme</Name>
      <Alias>scheme</Alias>
      <Definition>15eebff9-31c5-4eca-93ad-ef130246ebc2</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>99</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>e4f91e59-594c-4b73-bb28-1dffd2e9b8fd</Key>
      <Caption>General</Caption>
      <Alias>general</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>