<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="8157562c-7336-404a-a00c-fb72a72e433a" Alias="crowdfundingCampaigns" Level="3">
  <Info>
    <Name>Campaigns</Name>
    <Icon>icon-temperatrure-alt color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Crowdfunding/Campaigns</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="a5ce7c69-8147-4576-a854-bdb8111fe57c" SortOrder="0">crowdfundingCampaign</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>