<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b77a004a-4864-4562-9bec-5363ef575d28" Alias="crowdfundingFundraiserFundGoal" Level="3">
  <Info>
    <Name>Fundraiser Fund Goal</Name>
    <Icon>icon-shopping-basket-alt-2 color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Crowdfunding/Fundraisers</Folder>
    <Compositions>
      <Composition Key="f5505fa9-49bb-4bfe-b8ae-95b853fac892">crowdfundingFundraiserGoal</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>a71c35a2-2992-47ad-b8df-80538cc5b6bb</Key>
      <Name>Donation Item</Name>
      <Alias>donationItem</Alias>
      <Definition>b6a79eea-5841-4326-914a-0355f0542a45</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>b443d406-a00e-4b10-8b9e-fb73ccd4aa5c</Key>
      <Caption>General</Caption>
      <Alias>general</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>