<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="4fb55c73-c0a5-4a39-b298-9e409dcf6e4b" Alias="crowdfundingSettings" Level="3">
  <Info>
    <Name>Crowdfunding Settings</Name>
    <Icon>icon-users-alt color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Settings/Crowdfunding</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="2b2eaa24-0a16-4598-8783-d68d752f1b00" SortOrder="0">crowdfundingOurProfileSettings</ContentType>
    <ContentType Key="fb2961d3-d1b2-4c92-9fd9-4860ac7ae406" SortOrder="1">crowdfundingTagSettings</ContentType>
    <ContentType Key="b4acd03e-b11b-44a3-8376-24fb0ec2e4f3" SortOrder="2">crowdfundingTemplateSettings</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>