<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a5ce7c69-8147-4576-a854-bdb8111fe57c" Alias="crowdfundingCampaign" Level="3">
  <Info>
    <Name>Campaign</Name>
    <Icon>icon-temperature color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Crowdfunding/Campaigns</Folder>
    <Compositions>
      <Composition Key="98aeaf2b-926a-4923-b04b-75f8473f7cd1">crowdfundingCrowdfunder</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="2215787c-4a0f-444c-9a13-8389a6650acc" SortOrder="0">crowdfundingFundraiser</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>96780cb6-3042-43a7-84f7-45ffe61a8a9b</Key>
      <Name>Goal Options</Name>
      <Alias>goalOptions</Alias>
      <Definition>0bea1193-7304-412e-afd5-9d0dbe7d1ec0</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="crowdfunder/allowedFundraisers">Allowed Fundraisers</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e4d9c256-fcd0-4fd1-8bff-e0135f07eca9</Key>
      <Name>Minimum Amount</Name>
      <Alias>minimumAmount</Alias>
      <Definition>ed004d84-9097-4082-85dc-a911f3c16cab</Definition>
      <Type>Umbraco.Decimal</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="crowdfunder/allowedFundraisers">Allowed Fundraisers</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>ec2d9412-ffd3-41e8-9b02-64db2f75bb19</Key>
      <Caption>Allowed Fundraisers</Caption>
      <Alias>crowdfunder/allowedFundraisers</Alias>
      <Type>Group</Type>
      <SortOrder>99</SortOrder>
    </Tab>
  </Tabs>
</ContentType>