<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="2215787c-4a0f-444c-9a13-8389a6650acc" Alias="crowdfundingFundraiser" Level="3">
  <Info>
    <Name>Fundraiser</Name>
    <Icon>icon-temperatrure-alt color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Crowdfunding/Fundraisers</Folder>
    <Compositions>
      <Composition Key="98aeaf2b-926a-4923-b04b-75f8473f7cd1">crowdfundingCrowdfunder</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="464b74a0-a54d-4a70-b389-78780c6c0cdf" SortOrder="0">crowdfundingFundraiserNotificationEmail</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>4124d4b8-77b3-4f58-b14c-52eea5b21c65</Key>
      <Name>Account Reference</Name>
      <Alias>accountReference</Alias>
      <Definition>2ce1b5d4-9f4e-45dc-ab06-14bec58c8b75</Definition>
      <Type>Umbraco.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="crowdfunder/fundraiser">Fundraiser</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a38fc82c-52df-4377-9f03-798f9afece9c</Key>
      <Name>Campaign</Name>
      <Alias>campaign</Alias>
      <Definition>80267970-bce4-461a-a76a-f74a91a45087</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="crowdfunder/fundraiser">Fundraiser</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>2c2be27a-4544-4003-82f2-2b3a14ea82b7</Key>
      <Name>Owner</Name>
      <Alias>owner</Alias>
      <Definition>11f6712e-01d5-4658-b157-5ed5ec3afa9b</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="crowdfunder/fundraiser">Fundraiser</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a57a9ed5-bb01-4aa0-89d7-73cb79dd2b5e</Key>
      <Name>Slug</Name>
      <Alias>slug</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="crowdfunder/fundraiser">Fundraiser</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>f19fb121-1fe7-44ac-87e3-cd6f4711fbe8</Key>
      <Caption>Fundraiser</Caption>
      <Alias>crowdfunder/fundraiser</Alias>
      <Type>Group</Type>
      <SortOrder>3</SortOrder>
    </Tab>
  </Tabs>
</ContentType>