<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="4fb55c73-c0a5-4a39-b298-9e409dcf6e4b" Alias="crowdfundingSettings" Level="3">
  <Info>
    <Name>Crowdfunding Settings</Name>
    <Icon>icon-users-alt color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Settings/Crowdfunding</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="fb2961d3-d1b2-4c92-9fd9-4860ac7ae406" SortOrder="1">crowdfundingTagSettings</ContentType>
    <ContentType Key="b4acd03e-b11b-44a3-8376-24fb0ec2e4f3" SortOrder="2">crowdfundingTemplateSettings</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>b6eff632-10dc-40ac-b5bc-e1e1f1dabc30</Key>
      <Name>API Key</Name>
      <Alias>apiKey</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>b3dec4b6-d57e-40fb-9d89-a12c54159f73</Key>
      <Caption>General</Caption>
      <Alias>general</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>