<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="85b237cb-dbdb-4f6b-b4c0-22da7c28c592" Alias="crowdfundingContributionReceivedTemplate" Level="3">
  <Info>
    <Name>Crowdfunding Contribution Received Template</Name>
    <Icon>icon-item-arrangement</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Crowdfunding/Emails</Folder>
    <Compositions>
      <Composition Key="f3e587d8-4f02-4792-b627-561198224282">emailTemplate</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>