<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="98aeaf2b-926a-4923-b04b-75f8473f7cd1" Alias="crowdfundingCrowdfunder" Level="3">
  <Info>
    <Name>Crowdfunder</Name>
    <Icon>icon-article color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Crowdfunding/Crowdfunder</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>2132558f-c2b5-4c03-b8ab-5e324adb8677</Key>
      <Name>Background Image</Name>
      <Alias>backgroundImage</Alias>
      <Definition>094c9351-564a-492e-9f18-15b973d5066f</Definition>
      <Type>N3O.Umbraco.Cropper</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>997a1b42-f608-45ea-89ef-aea4c17b21fd</Key>
      <Name>Body</Name>
      <Alias>body</Alias>
      <Definition>de5e64ad-1c96-4620-96f2-ca071fe7a5de</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>37324ee3-792b-48d2-b411-2b17f9187b58</Key>
      <Name>Currency</Name>
      <Alias>currency</Alias>
      <Definition>6387b5ed-727c-4a45-bacb-53e2996d1aaf</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="goals">Goals</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>417cb1a2-6265-447a-9310-aa14d7ddade5</Key>
      <Name>Description</Name>
      <Alias>description</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e70c5b2c-7a26-4c82-a39f-284cba21d8a0</Key>
      <Name>Name</Name>
      <Alias>displayName</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e420e9e4-edbd-4df8-8cdf-eed30181b518</Key>
      <Name>Goals</Name>
      <Alias>goals</Alias>
      <Definition>dabb6f1d-9a29-49ee-a7bc-bb549ab669a8</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="goals">Goals</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6470b65d-c1ea-435a-8100-5b40106d97f8</Key>
      <Name>Hero Images</Name>
      <Alias>heroImages</Alias>
      <Definition>430be086-af6f-4b22-bf72-6309725da1c9</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0d25a566-fedc-4659-9aff-1c567eec5b24</Key>
      <Name>Open Graph Image URL</Name>
      <Alias>openGraphImageUrl</Alias>
      <Definition>c03a6b19-5904-4fde-944d-ee6a1a372856</Definition>
      <Type>Umbraco.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="calculated">Calculated</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f7486903-08f1-4996-b951-c6d4c89c11de</Key>
      <Name>Status</Name>
      <Alias>status</Alias>
      <Definition>5779fdb1-34ea-4f81-8811-247aef17f35f</Definition>
      <Type>Umbraco.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="status">Status</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d9becbe7-6cf6-4bf9-810f-b37ff5235ac1</Key>
      <Name>Toggle Status</Name>
      <Alias>toggleStatus</Alias>
      <Definition>12275763-77f4-422e-af71-bf8b0918ff91</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="status">Status</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>6a2e267c-c22e-42e7-8d32-9faeb5627793</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>6f5b620c-e0ba-4278-98c6-e3fe450b925d</Key>
      <Caption>Status</Caption>
      <Alias>status</Alias>
      <Type>Group</Type>
      <SortOrder>200</SortOrder>
    </Tab>
    <Tab>
      <Key>765d684c-6f76-4d9b-af8c-9ea85d40717f</Key>
      <Caption>Calculated</Caption>
      <Alias>calculated</Alias>
      <Type>Group</Type>
      <SortOrder>201</SortOrder>
    </Tab>
    <Tab>
      <Key>914698b2-602b-4109-870d-2d401a698bfa</Key>
      <Caption>Goals</Caption>
      <Alias>goals</Alias>
      <Type>Group</Type>
      <SortOrder>2</SortOrder>
    </Tab>
  </Tabs>
</ContentType>