<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="974496c3-eea8-4c0b-9f2a-edb2a849857a" Alias="crowdfundingFeedbackPageAllocation" Level="3">
  <Info>
    <Name>Feedback Page Allocation</Name>
    <Icon>icon-loupe color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Crowdfunding/Pages</Folder>
    <Compositions>
      <Composition Key="63d0f83d-c478-4dc1-b98c-8f7cb71d66ce">crowdfundingPageAllocation</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>