<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ccb99eb8-0276-477a-b639-e9f0e4373563" Alias="crowdfundingFundraiserFeedbackGoal" Level="3">
  <Info>
    <Name>Fundraiser Feedback Goal</Name>
    <Icon>icon-loupe color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Crowdfunding/Fundraisers</Folder>
    <Compositions>
      <Composition Key="f5505fa9-49bb-4bfe-b8ae-95b853fac892">crowdfundingFundraiserGoal</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>15fd83c3-ce8e-469f-9ddf-de19ddb1b78a</Key>
      <Name>Custom Fields</Name>
      <Alias>customFields</Alias>
      <Definition>5bcf5bcf-381f-4c78-8854-56cbb12d8a2a</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>96524aae-5e14-4ee7-9914-45fe35d0abe3</Key>
      <Name>Scheme</Name>
      <Alias>scheme</Alias>
      <Definition>15eebff9-31c5-4eca-93ad-ef130246ebc2</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>58d8362d-4c3b-4f9b-8282-c832dc44af77</Key>
      <Caption>General</Caption>
      <Alias>general</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>