<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="7a87a400-748e-4e1d-a88e-ce80148ad4be" Alias="crowdfundingCampaignFundGoalOption" Level="3">
  <Info>
    <Name>Campaign Fund Goal Option</Name>
    <Icon>icon-shopping-basket-alt-2 color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Crowdfunding/Campaigns</Folder>
    <Compositions>
      <Composition Key="ed0d27ee-3086-438f-aea3-72f7a1ea1086">crowdfundingCampaignGoalOption</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>52077f07-1049-4cd5-af9f-08abc384bfc4</Key>
      <Name>Donation Item</Name>
      <Alias>donationItem</Alias>
      <Definition>b6a79eea-5841-4326-914a-0355f0542a45</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>99</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>83327821-0da7-4259-85f4-236d387b4e20</Key>
      <Caption>General</Caption>
      <Alias>general</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>