<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ec839f43-e6b2-417e-b065-43827c171b2a" Alias="crowdfundingCampaignTags" Level="3">
  <Info>
    <Name>Campaign Tags</Name>
    <Icon>icon-tags color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Settings/Crowdfunding</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="adb4ac7c-c246-4856-9b3e-9cecf4ba0a09" SortOrder="0">crowdfundingCampaignTag</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>