<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b4acd03e-b11b-44a3-8376-24fb0ec2e4f3" Alias="crowdfundingTemplateSettings" Level="3">
  <Info>
    <Name>Template Settings</Name>
    <Icon>icon-imac color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Settings/Crowdfunding</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="85d8a3a3-8efb-43d7-bc7f-0931c08eb814" SortOrder="0">signInModalSettings</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>