<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="14375eee-761c-4840-b2b3-6f61b31cbdf7" Alias="crowdfundingFundraisers" Level="3">
  <Info>
    <Name>Fundraisers</Name>
    <Icon>icon-sitemap color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Crowdfunding/Fundraisers</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="2215787c-4a0f-444c-9a13-8389a6650acc" SortOrder="0">crowdfundingFundraiser</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>