<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="63d0f83d-c478-4dc1-b98c-8f7cb71d66ce" Alias="crowdfundingFundraiserGoal" Level="3">
  <Info>
    <Name>Fundraiser Goal</Name>
    <Icon>icon-donate color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Crowdfunding/Fundraisers</Folder>
    <Compositions>
      <Composition Key="1ec04e6e-4e92-466f-92e2-c9737b923c48">crowdfundingCrowdfunderGoal</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>5a3d0332-89ed-450b-b43e-ad4e529b1655</Key>
      <Name>Campaign Goal ID</Name>
      <Alias>campaignGoalId</Alias>
      <Definition>e7e66db9-0b94-4535-99f2-cc5dfeb227c2</Definition>
      <Type>Umbraco.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>99</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>c122cc18-3401-41d9-ad18-791ceca63650</Key>
      <Caption>General</Caption>
      <Alias>general</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>