<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0edaee44-6e29-4aa4-b796-281a5fbfe03e" Alias="crowdfundingEnvironmentSettings" Level="3">
  <Info>
    <Name>Environment Settings</Name>
    <Icon>icon-settings-alt color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Settings/Crowdfunding</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="1700949b-dd3f-4ebb-9e07-486e94ceadf6" SortOrder="0">crowdfundingEnvironment</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>