<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="bc89fbeb-3d30-4b9b-aabe-d6c2f5c7d99c" Alias="crowdfundingFundPageGoalOption" Level="3">
  <Info>
    <Name>Fund Page Goal Option</Name>
    <Icon>icon-shopping-basket-alt-2 color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Crowdfunding/Campaigns</Folder>
    <Compositions>
      <Composition Key="67390682-6fc1-4c33-824d-662c5e95b9e7">crowdfundingPageGoalOption</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>6845ba5b-006e-4db6-be17-c0a45b699568</Key>
      <Name>Donation Item</Name>
      <Alias>donationItem</Alias>
      <Definition>b6a79eea-5841-4326-914a-0355f0542a45</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>6</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>682c4bf0-dcb1-40e9-80ea-4933bf8decd0</Key>
      <Caption>General</Caption>
      <Alias>general</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>