<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="974496c3-eea8-4c0b-9f2a-edb2a849857a" Alias="crowdfundingFeedbackCrowdfunderGoal" Level="3">
  <Info>
    <Name>Crowdfunder Feedback Goal</Name>
    <Icon>icon-loupe color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Crowdfunding/Crowdfunder</Folder>
    <Compositions>
      <Composition Key="1ec04e6e-4e92-466f-92e2-c9737b923c48">crowdfundingCrowdfunderGoal</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>2946b7d8-1582-43e0-ad18-1010f88df50f</Key>
      <Name>Custom Fields</Name>
      <Alias>customFields</Alias>
      <Definition>5bcf5bcf-381f-4c78-8854-56cbb12d8a2a</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>99</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e73186f0-5ada-4420-8a4d-604d00fdb3fa</Key>
      <Name>Scheme</Name>
      <Alias>scheme</Alias>
      <Definition>15eebff9-31c5-4eca-93ad-ef130246ebc2</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>98</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>77b869c7-f3ee-42e6-9a5f-c04d3b179e47</Key>
      <Caption>General</Caption>
      <Alias>general</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>