<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="fb2961d3-d1b2-4c92-9fd9-4860ac7ae406" Alias="crowdfundingCampaignTagSettings" Level="3">
  <Info>
    <Name>Campaign Tag Settings</Name>
    <Icon>icon-file-cabinet color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Settings/Crowdfunding</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="ec839f43-e6b2-417e-b065-43827c171b2a" SortOrder="0">crowdfundingCampaignTags</ContentType>
    <ContentType Key="45906f1d-6f68-492f-b4c3-7bbb04c59041" SortOrder="1">campaignTagCategories</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>