<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="67a29fe1-cdb3-439b-853f-1a1508447822" Alias="currencySettings" Level="3">
  <Info>
    <Name>Currency Settings</Name>
    <Icon>icon-bills-dollar color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Settings/Giving</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="fd04f063-2d62-41ab-95e6-96b1921c0fc3" SortOrder="0">currency</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>