<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="4097c66c-796f-4256-b521-e0e1e303c2db" Alias="dataEntrySettings" Level="3">
  <Info>
    <Name>Data Entry Settings</Name>
    <Icon>icon-check color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Settings/Data+Entry</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="91af8b30-bc98-4e40-acbd-dd556b1c3a62" SortOrder="0">addressDataEntrySettings</ContentType>
    <ContentType Key="32e8241d-bec6-4601-952e-36b3c3e14c6a" SortOrder="1">countrySettings</ContentType>
    <ContentType Key="a2ef2707-5ca9-49a3-abe6-447ac66a31bb" SortOrder="2">emailDataEntrySettings</ContentType>
    <ContentType Key="d43ee229-6584-43ef-b5f8-5b409fb6ad0d" SortOrder="3">nameDataEntrySettings</ContentType>
    <ContentType Key="581617e0-bacc-419f-a7b2-837985f52e2d" SortOrder="4">phoneDataEntrySettings</ContentType>
    <ContentType Key="bf6ae72a-4f00-4732-988f-90479d257fc4" SortOrder="5">paymentMethodDataEntrySettings</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>3600e210-72a7-4a2a-b655-c7225ac456d2</Key>
      <Name>Body</Name>
      <Alias>bodyHtml</Alias>
      <Definition>eae9cabd-d1cc-473a-9ba6-f0572600c833</Definition>
      <Type>Umbraco.Community.Contentment.CodeEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="htmL">HTML</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7d3fea50-7fd0-4d82-b5d0-122276db6332</Key>
      <Name>Inline Styles</Name>
      <Alias>css</Alias>
      <Definition>8c99b235-1b8c-4b55-a6b5-990fa5a8e819</Definition>
      <Type>Umbraco.Community.Contentment.CodeEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="csS">CSS</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>048d5937-6d16-4584-9c54-1a8746311862</Key>
      <Name>Head</Name>
      <Alias>headHtml</Alias>
      <Definition>eae9cabd-d1cc-473a-9ba6-f0572600c833</Definition>
      <Type>Umbraco.Community.Contentment.CodeEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="htmL">HTML</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ea082536-31e6-4d87-9aba-e56b61968b12</Key>
      <Name>Inline Script</Name>
      <Alias>javaScript</Alias>
      <Definition>82e6dce1-34cf-466d-b038-93b4e703660c</Definition>
      <Type>Umbraco.Community.Contentment.CodeEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="javaScript">JavaScript</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>3316858e-675b-43f1-a8b8-201e6175b12e</Key>
      <Caption>HTML</Caption>
      <Alias>htmL</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>afaf0c6d-3794-473b-9b9a-f891c8eedd7e</Key>
      <Caption>JavaScript</Caption>
      <Alias>javaScript</Alias>
      <Type>Group</Type>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Key>fe865f6a-b99c-4ee1-a6ac-7ce98265a272</Key>
      <Caption>CSS</Caption>
      <Alias>csS</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>