<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="6c877e1e-a88b-410d-963c-f4476787071b" Alias="donationItems" Level="3">
  <Info>
    <Name>Donation Items</Name>
    <Icon>icon-wallet color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Settings/Giving</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="bf8cad0c-b3d9-427f-bc24-cc3947f12759" SortOrder="0">donationItem</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>