<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f65b72be-d232-4994-b86f-6c6edc9abbd7" Alias="donationReceiptTemplate" Level="2">
  <Info>
    <Name>Donation Receipt Template</Name>
    <Icon>icon-cash-register color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Template</Folder>
    <Compositions>
      <Composition Key="f3e587d8-4f02-4792-b627-561198224282">emailTemplate</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>