<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="5782d6ef-f453-4c7b-ae98-9bef6f06af27" Alias="donationForm" Level="2">
  <Info>
    <Name>Donation Form</Name>
    <Icon>icon-receipt-dollar color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Giving</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="4cea605c-eb66-4448-8365-58fda2f5df9c" SortOrder="0">donationCampaign</ContentType>
    <ContentType Key="2813f4e0-2504-44c1-8b8c-40969ad7a5b0" SortOrder="1">feedbackDonationOption</ContentType>
    <ContentType Key="d71f2bef-b09a-4c91-b008-8a80550aceab" SortOrder="2">fundDonationOption</ContentType>
    <ContentType Key="48ded3bc-2bc3-42ca-b911-27dd8c60a209" SortOrder="3">sponsorshipDonationOption</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>3751c222-3266-4423-8ef1-3b44a92b38ab</Key>
      <Name>Title</Name>
      <Alias>title</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>86b1dc4b-7deb-4a21-b00b-f148d5460818</Key>
      <Caption>General</Caption>
      <Alias>general</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>