<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="bf8cad0c-b3d9-427f-bc24-cc3947f12759" Alias="donationItem" Level="3">
  <Info>
    <Name>Donation Item</Name>
    <Icon>icon-shopping-basket-alt-2 color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Settings/Giving</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>76fecaf5-4196-4b75-a32a-e00684db17c9</Key>
      <Name>Allow Regular Donations</Name>
      <Alias>allowRegularDonations</Alias>
      <Definition>d829c2f0-96d8-4525-860e-2a824d1bf298</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3f5c5eca-774f-4ae4-92c0-e9dc0499af03</Key>
      <Name>Allow Single Donations</Name>
      <Alias>allowSingleDonations</Alias>
      <Definition>d829c2f0-96d8-4525-860e-2a824d1bf298</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d330d12a-1b94-4a46-aa46-cb3b0d9765e7</Key>
      <Name>Locations</Name>
      <Alias>dimension1Options</Alias>
      <Definition>46ab6ad1-7a4a-45d8-8d0e-c51781e0e447</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="fundDimensions">Fund Dimensions</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>85ca3e0f-f5c5-45c5-87fa-11ca1c6f487a</Key>
      <Name>Stipulations</Name>
      <Alias>dimension3Options</Alias>
      <Definition>6f3c1e38-763a-4d82-b99a-520679d08bd5</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="fundDimensions">Fund Dimensions</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>de3431ef-9dd0-47a9-9c5b-42be725d6f64</Key>
      <Name>Free</Name>
      <Alias>free</Alias>
      <Definition>d829c2f0-96d8-4525-860e-2a824d1bf298</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>cc7f5c10-b63f-4761-b1a8-9c22c84fb1fb</Key>
      <Name>Price</Name>
      <Alias>price</Alias>
      <Definition>ed004d84-9097-4082-85dc-a911f3c16cab</Definition>
      <Type>Umbraco.Decimal</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>685cb274-1201-44c5-907b-73f38ca6e17b</Key>
      <Caption>General</Caption>
      <Alias>general</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>8d04d5f0-1309-4771-9b80-af4c8d9883c9</Key>
      <Caption>Fund Dimensions</Caption>
      <Alias>fundDimensions</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>