<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="4cea605c-eb66-4448-8365-58fda2f5df9c" Alias="donationCampaign" Level="2">
  <Info>
    <Name>Campaign</Name>
    <Icon>icon-megaphone color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Giving</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="d71f2bef-b09a-4c91-b008-8a80550aceab" SortOrder="0">fundDonationOption</ContentType>
    <ContentType Key="48ded3bc-2bc3-42ca-b911-27dd8c60a209" SortOrder="1">sponsorshipDonationOption</ContentType>
    <ContentType Key="2813f4e0-2504-44c1-8b8c-40969ad7a5b0" SortOrder="2">feedbackDonationOption</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>