<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c633f071-b4a4-40f0-a192-0e4fe5c051e8" Alias="donationFormFolder" Level="2">
  <Info>
    <Name>Donation Form Folder</Name>
    <Icon>icon-folder-close color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Giving</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="5782d6ef-f453-4c7b-ae98-9bef6f06af27" SortOrder="0">donationForm</ContentType>
    <ContentType Key="c633f071-b4a4-40f0-a192-0e4fe5c051e8" SortOrder="1">donationFormFolder</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>