<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="60fcbc14-8435-4b38-adc0-254f0f8efc7f" Alias="drawImageOperation" Level="3">
  <Info>
    <Name>Draw Image Operation</Name>
    <Icon>icon-layers color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Settings/Image+Processing</Folder>
    <Compositions>
      <Composition Key="41f49e4d-16aa-41dc-84f3-5d2c36119f4a">imageOperation</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>9ef7f683-e7b4-4e94-b7c2-9821cb57d796</Key>
      <Name>Image</Name>
      <Alias>image</Alias>
      <Definition>5c33bdad-ed42-46be-8df9-e1aa46315b56</Definition>
      <Type>N3O.Umbraco.Uploader</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>62936099-87cf-4afa-9192-c9a6ed843585</Key>
      <Caption>General</Caption>
      <Alias>general</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>