<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0525b111-d2d8-46b1-9572-d6ff73bcd254" Alias="emailTemplates" Level="2">
  <Info>
    <Name>Email Templates</Name>
    <Icon>icon-message color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Template</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="f65b72be-d232-4994-b86f-6c6edc9abbd7" SortOrder="0">donationReceiptTemplate</ContentType>
    <ContentType Key="cfb2a9eb-c0e8-42f6-bba6-e9cbdb885894" SortOrder="1">regularGivingReceiptTemplate</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>