<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="272960a8-215d-4307-b02e-360a644a43be" Alias="eventCategories" Level="3">
  <Info>
    <Name>Event Categories</Name>
    <Icon>icon-file-cabinet color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Settings/Events</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="fb95f4dc-32e5-44ed-a7cc-d2b634092a87" SortOrder="0">eventCategory</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>