<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="00ec0207-5efd-46dc-9e68-17830dc5fea4" Alias="events" Level="2">
  <Info>
    <Name>Events</Name>
    <Icon>icon-calendar color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Events</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="e54565a4-29f4-4be5-bc9c-5340f0a7c605" SortOrder="0">eventFolder</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>