<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="4ae5972d-2e93-4cce-98ea-25ea65029470" Alias="eventsSettings" Level="3">
  <Info>
    <Name>Events Settings</Name>
    <Icon>icon-calendar color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Settings/Events</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="272960a8-215d-4307-b02e-360a644a43be" SortOrder="0">eventCategories</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>