<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="fb95f4dc-32e5-44ed-a7cc-d2b634092a87" Alias="eventCategory" Level="3">
  <Info>
    <Name>Event Category</Name>
    <Icon>icon-files color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Settings/Events</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>