<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a0009ce8-51c6-4ca0-8477-f8d3496ab1ce" Alias="feedbackSchemes" Level="4">
  <Info>
    <Name>Feedback Schemes</Name>
    <Icon>icon-escape color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Settings/Giving/Feedback</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="68117506-3149-4d72-b9c7-5ef6ce1498eb" SortOrder="0">feedbackScheme</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>