<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d4223d27-dd2d-4a1d-8545-f3da94a43c0f" Alias="forexSettings" Level="3">
  <Info>
    <Name>Forex Settings</Name>
    <Icon>icon-coins-alt color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Settings/Forex</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="a55f13f5-a9b2-4984-ae4c-800ce87aa994" SortOrder="0">currencylayerSettings</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>