<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="4e0fdfcb-bf22-428e-9fca-e9c527335701" Alias="fundDimension1Value" Level="3">
  <Info>
    <Name>Fund Dimension 1 Value</Name>
    <Icon>icon-checkbox color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Settings/Giving</Folder>
    <Compositions>
      <Composition Key="b4719a3e-477d-4bec-8a7a-dc2fa60f598f">fundDimensionValue</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>