<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a7552320-f017-4ada-82a6-a49cd97a9bda" Alias="fundDimensions" Level="3">
  <Info>
    <Name>Fund Dimensions</Name>
    <Icon>icon-grid color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Settings/Giving</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="31cc3fd9-81fd-4703-9b45-c716625e34bf" SortOrder="0">fundDimension3</ContentType>
    <ContentType Key="4243b683-8d34-4a67-9829-bc6ee36bd0cb" SortOrder="1">fundDimension1</ContentType>
    <ContentType Key="84738793-e2f2-4696-bc35-e399b56b21d6" SortOrder="2">fundDimension4</ContentType>
    <ContentType Key="be848c37-b319-46e9-b6b6-934923b9d255" SortOrder="3">fundDimension2</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>