<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="17ecc9c6-d832-44d4-9fb0-6e2e2b1df984" Alias="fundAllocation" Level="2">
  <Info>
    <Name>Fund Allocation</Name>
    <Icon>icon-donate color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Giving</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>4433a9f9-c3b4-4b47-92ed-19e69829bf51</Key>
      <Name>Donation Item</Name>
      <Alias>donationItem</Alias>
      <Definition>b6a79eea-5841-4326-914a-0355f0542a45</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>97</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>aeb8d899-ecdd-4ce2-854e-0fc588ac79a7</Key>
      <Name>Location</Name>
      <Alias>fundDimension1</Alias>
      <Definition>eed05cea-de33-488c-a198-a73d8835c662</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>98</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>9031484d-ff8f-4b7b-bbfe-af6be3e60403</Key>
      <Name>Stipulation</Name>
      <Alias>fundDimension3</Alias>
      <Definition>19f337d2-91b4-4c4b-a920-8d6e89a9fb8a</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>99</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>48b5591d-2dee-4ba2-be7b-37a071a852e7</Key>
      <Caption>General</Caption>
      <Alias>general</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>