<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d71f2bef-b09a-4c91-b008-8a80550aceab" Alias="fundDonationOption" Level="2">
  <Info>
    <Name>Fund</Name>
    <Icon>icon-coin-dollar color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Giving</Folder>
    <Compositions>
      <Composition Key="51375c92-0f93-4ca3-b61c-f4e05a9edd0e">donationOption</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>27d25014-d06b-4d62-aa75-6691c48cd9c6</Key>
      <Name>Donation Item</Name>
      <Alias>donationItem</Alias>
      <Definition>b6a79eea-5841-4326-914a-0355f0542a45</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d7906a18-be24-48c9-93d4-404e3d2ed348</Key>
      <Name>Price Handles</Name>
      <Alias>donationPriceHandles</Alias>
      <Definition>8d702f9e-2bf5-4fa3-aad4-b0f4d1e9774b</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="donation">Donation</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>15ecf65b-d366-4695-b519-72feca8f2e27</Key>
      <Name>Price Handles</Name>
      <Alias>regularGivingPriceHandles</Alias>
      <Definition>8d702f9e-2bf5-4fa3-aad4-b0f4d1e9774b</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="regularGiving">Regular Giving</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>719b88a1-671d-4d5e-86ab-2e77e99c50af</Key>
      <Caption>General</Caption>
      <Alias>general</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>bf92e2ed-8b04-4f99-b2be-db1d08515a8f</Key>
      <Caption>Donation</Caption>
      <Alias>donation</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>319f14e0-2faf-4c6b-9523-f55fe1b8cba7</Key>
      <Caption>Regular Giving</Caption>
      <Alias>regularGiving</Alias>
      <Type>Group</Type>
      <SortOrder>2</SortOrder>
    </Tab>
  </Tabs>
</ContentType>