<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="fda83439-a124-4893-8e26-da00fda59a8c" Alias="getInvolvedPage" Level="2">
  <Info>
    <Name>Get Involved</Name>
    <Icon>icon-location-near-me color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="a95827a8-fe49-4299-a63f-25fe109d48ee">page</Composition>
    </Compositions>
    <DefaultTemplate>Page</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="4b0fc262-066a-4c77-a34d-c0d2fa79b45d">Page</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="b604c4a6-8bbe-4853-a681-56735e61c26c" SortOrder="0">contentPage</ContentType>
    <ContentType Key="d2a7228d-6457-4776-8be6-9a3db3b0d9ce" SortOrder="1">eventsPage</ContentType>
    <ContentType Key="775f3d42-8dce-4bd8-9e52-9371a9c19776" SortOrder="2">vacanciesPage</ContentType>
    <ContentType Key="446595ae-403a-414f-b1a9-ee24e87a567c" SortOrder="3">volunteerPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>