<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="cf2c3866-df59-4371-94b5-74fa17887c62" Alias="givingSettings" Level="3">
  <Info>
    <Name>Giving Settings</Name>
    <Icon>icon-donate color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Settings/Giving</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="67a29fe1-cdb3-439b-853f-1a1508447822" SortOrder="0">currencySettings</ContentType>
    <ContentType Key="6c877e1e-a88b-410d-963c-f4476787071b" SortOrder="1">donationItems</ContentType>
    <ContentType Key="a0009ce8-51c6-4ca0-8477-f8d3496ab1ce" SortOrder="2">feedbackSchemes</ContentType>
    <ContentType Key="a7552320-f017-4ada-82a6-a49cd97a9bda" SortOrder="3">fundDimensions</ContentType>
    <ContentType Key="a5a5cdbb-9c0a-4517-8be2-618dd3f70075" SortOrder="4">sponsorshipSchemes</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>a919099b-c1d1-4d45-b9c3-a3aeab9b1ba6</Key>
      <Name>Donation Payment Methods</Name>
      <Alias>donationPaymentMethods</Alias>
      <Definition>2f9892e2-430c-43d2-9be5-3629513cbf82</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f59ac51e-7b6d-4358-9a09-46e6a5b06de9</Key>
      <Name>Regular Giving Payment Methods</Name>
      <Alias>regularGivingPaymentMethods</Alias>
      <Definition>2f9892e2-430c-43d2-9be5-3629513cbf82</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>1b9b39cf-1736-4cb5-9f8d-5395cbbb4365</Key>
      <Caption>General</Caption>
      <Alias>general</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>