<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="cf2c3866-df59-4371-94b5-74fa17887c62" Alias="givingSettings" Level="3">
  <Info>
    <Name>Giving Settings</Name>
    <Icon>icon-donate color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Settings/Giving</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="67a29fe1-cdb3-439b-853f-1a1508447822" SortOrder="0">currencySettings</ContentType>
    <ContentType Key="6c877e1e-a88b-410d-963c-f4476787071b" SortOrder="1">donationItems</ContentType>
    <ContentType Key="a7552320-f017-4ada-82a6-a49cd97a9bda" SortOrder="2">fundDimensions</ContentType>
    <ContentType Key="a5a5cdbb-9c0a-4517-8be2-618dd3f70075" SortOrder="3">sponsorshipSchemes</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>