<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="95c16219-c6e8-4ac5-bcf3-53ea639c7375" Alias="homePage" Level="2">
  <Info>
    <Name>Home</Name>
    <Icon>icon-home color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="a95827a8-fe49-4299-a63f-25fe109d48ee">page</Composition>
    </Compositions>
    <DefaultTemplate>Page</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="4b0fc262-066a-4c77-a34d-c0d2fa79b45d">Page</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="1e3bfa04-510d-4b9b-86a9-91651708a065" SortOrder="0">aboutUsPage</ContentType>
    <ContentType Key="86e60143-391d-449f-b12e-692e5a3b038a" SortOrder="1">blogPage</ContentType>
    <ContentType Key="b8f33151-fa2f-42ef-bb5b-174e747da3dd" SortOrder="2">cartPage</ContentType>
    <ContentType Key="e63a0e1a-7100-4136-9db1-28553fc16f87" SortOrder="3">checkoutPage</ContentType>
    <ContentType Key="217e4be5-60d7-47ba-a4c2-4038c947e212" SortOrder="4">contactUsPage</ContentType>
    <ContentType Key="b604c4a6-8bbe-4853-a681-56735e61c26c" SortOrder="5">contentPage</ContentType>
    <ContentType Key="7ea5fd41-4187-481e-a8bf-d63781cd35ea" SortOrder="6">donatePage</ContentType>
    <ContentType Key="fda83439-a124-4893-8e26-da00fda59a8c" SortOrder="7">getInvolvedPage</ContentType>
    <ContentType Key="5ff66490-eb98-4457-a19c-5459afa479d9" SortOrder="8">notFoundPage</ContentType>
    <ContentType Key="331a9ab7-0461-4d33-8c56-8cbeb787c6f7" SortOrder="9">privacyPage</ContentType>
    <ContentType Key="b53ea96a-7b59-4c4a-b671-5b8914370c71" SortOrder="10">projectsPage</ContentType>
    <ContentType Key="3a7d298b-3315-4db7-acba-4f931e77cd6e" SortOrder="11">robots</ContentType>
    <ContentType Key="0c47da24-af5d-4be4-9a68-8f7c5aefb308" SortOrder="12">searchPage</ContentType>
    <ContentType Key="12bcd60b-b3aa-4f08-8a6f-b5ee85fd4d64" SortOrder="13">sitemap</ContentType>
    <ContentType Key="b64ec021-b52f-43ea-ae9d-658d264adb5f" SortOrder="14">termsPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>