<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="8102dc16-5341-4171-af49-7ddb527c55a9" Alias="imageProcessingSettings" Level="3">
  <Info>
    <Name>Image Processing Settings</Name>
    <Icon>icon-picture color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Settings/Image+Processing</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="6ae31e0e-658f-4591-98b6-9391f2e5ae95" SortOrder="0">imagePresets</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>