<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e260e7b1-e7b0-48ec-8508-e213d24e0775" Alias="imagePresetFolder" Level="3">
  <Info>
    <Name>Image Preset Folder</Name>
    <Icon>icon-folder color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Settings/Image+Processing</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="e260e7b1-e7b0-48ec-8508-e213d24e0775" SortOrder="0">imagePresetFolder</ContentType>
    <ContentType Key="8e810646-46f6-4863-bbb5-ffb509cd9168" SortOrder="1">imagePreset</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>