<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="37a450a1-9d72-48ac-ab04-5832d15e6ec3" Alias="loginPage" Level="2">
  <Info>
    <Name>Login</Name>
    <Icon>icon-logout color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>Login</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="c2345d8e-412c-4e2a-9923-24f1deaec210">Login</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>