<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="cc207c66-7a11-47fb-8132-1746a6caa334" Alias="newsletterSettings" Level="3">
  <Info>
    <Name>Newsletter Settings</Name>
    <Icon>icon-message color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Settings/Newsletters</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="da8c134d-743e-4274-8487-045fa3408269" SortOrder="0">mailchimpSettings</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>