<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a95827a8-fe49-4299-a63f-25fe109d48ee" Alias="page" Level="2">
  <Info>
    <Name>Page</Name>
    <Icon>icon-layout color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>55dc29c7-e7c2-4ede-994f-abff36f1d609</Key>
      <Name>Assets</Name>
      <Alias>assets</Alias>
      <Definition>a252c49d-a3a1-4512-83ee-06f767700455</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="assets">Assets</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>364e66d3-8ddb-49f6-87a5-0d39d014abf9</Key>
      <Name>Blocks</Name>
      <Alias>blocks</Alias>
      <Definition>bf43d871-f02a-47a0-9441-0abe0f8c26a9</Definition>
      <Type>Perplex.ContentBlocks</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="content/page">Page</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b7fa6fcd-0858-4d0c-93c7-cc5ebbf2d4af</Key>
      <Name>Body HTML</Name>
      <Alias>bodyHtml</Alias>
      <Definition>eae9cabd-d1cc-473a-9ba6-f0572600c833</Definition>
      <Type>Umbraco.Community.Contentment.CodeEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="code">Code</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7855cce0-8d69-4abe-9346-59241d7337f7</Key>
      <Name>Inline Styles</Name>
      <Alias>css</Alias>
      <Definition>8c99b235-1b8c-4b55-a6b5-990fa5a8e819</Definition>
      <Type>Umbraco.Community.Contentment.CodeEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="code">Code</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e2ab8d2c-0ee3-461c-9f17-f416d378855c</Key>
      <Name>Head HTML</Name>
      <Alias>headHtml</Alias>
      <Definition>eae9cabd-d1cc-473a-9ba6-f0572600c833</Definition>
      <Type>Umbraco.Community.Contentment.CodeEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="code">Code</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c67b9d08-b1cb-4e7b-b3b9-9196fd292540</Key>
      <Name>Hide From Search Engines</Name>
      <Alias>hidePage</Alias>
      <Definition>d829c2f0-96d8-4525-860e-2a824d1bf298</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content/page">Page</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>627f2e46-9d44-42e8-a253-ee7edff899d7</Key>
      <Name>Inline Script</Name>
      <Alias>javaScript</Alias>
      <Definition>82e6dce1-34cf-466d-b038-93b4e703660c</Definition>
      <Type>Umbraco.Community.Contentment.CodeEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="code">Code</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6b49558d-9303-4c90-86ac-4241a404bc62</Key>
      <Name>Title &amp; Meta</Name>
      <Alias>titleMeta</Alias>
      <Definition>0d1a1eaf-ae55-4966-953f-48c7a6e80f0a</Definition>
      <Type>N3O.Umbraco.SerpEditor</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content/page">Page</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>35e285b9-0918-4804-9c33-e755736e4f92</Key>
      <Caption>Assets</Caption>
      <Alias>assets</Alias>
      <Type>Tab</Type>
      <SortOrder>998</SortOrder>
    </Tab>
    <Tab>
      <Key>68b0bfbc-2bb3-4542-8db3-bd4583c433b2</Key>
      <Caption>Page</Caption>
      <Alias>content/page</Alias>
      <Type>Group</Type>
      <SortOrder>999</SortOrder>
    </Tab>
    <Tab>
      <Key>cff72398-8d82-489a-af96-37b72543f8f8</Key>
      <Caption>Code</Caption>
      <Alias>code</Alias>
      <Type>Tab</Type>
      <SortOrder>999</SortOrder>
    </Tab>
    <Tab>
      <Key>e86691be-fa73-481d-a603-2b448bddfe48</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>997</SortOrder>
    </Tab>
  </Tabs>
</ContentType>