<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="6288918f-32f6-408a-b8fa-7bc6882338aa" Alias="partials" Level="2">
  <Info>
    <Name>Partials</Name>
    <Icon>icon-brick color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Partials</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="c946a76a-d1c2-411c-a244-0a5d01147cd6" SortOrder="0">partial</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>