<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c946a76a-d1c2-411c-a244-0a5d01147cd6" Alias="partial" Level="2">
  <Info>
    <Name>Partial</Name>
    <Icon>icon-blueprint color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Partials</Folder>
    <Compositions />
    <DefaultTemplate>Page</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="4b0fc262-066a-4c77-a34d-c0d2fa79b45d">Page</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>8675ed61-cb2e-43d6-8e00-36d5fa047aaa</Key>
      <Name>Blocks</Name>
      <Alias>blocks</Alias>
      <Definition>bf43d871-f02a-47a0-9441-0abe0f8c26a9</Definition>
      <Type>Perplex.ContentBlocks</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>cc4ad25b-161a-4602-9dc7-e647cce5e9fa</Key>
      <Caption>General</Caption>
      <Alias>general</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>