<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="7328630b-bac3-468d-892a-2ebd425cf892" Alias="paymentSettings" Level="3">
  <Info>
    <Name>Payment Settings</Name>
    <Icon>icon-receipt-dollar color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Settings/Payments</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="970004de-460b-4a3f-948b-0c2606ffab7f" SortOrder="0">payPalSettings</ContentType>
    <ContentType Key="a9187045-dfe8-4042-b9b9-d97763802d6f" SortOrder="1">stripeSettings</ContentType>
    <ContentType Key="e856659d-6136-4f33-b66a-5471eb2d182d" SortOrder="2">goCardlessSettings</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>