<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="bf6ae72a-4f00-4732-988f-90479d257fc4" Alias="paymentMethodDataEntrySettings" Level="3">
  <Info>
    <Name>Payment Method Data Entry Settings</Name>
    <Icon>icon-coin-euro color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Settings/Data+Entry</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>f423dbc0-cda0-4a73-a08a-87ab247f6eca</Key>
      <Name>Payment Methods</Name>
      <Alias>paymentMethods</Alias>
      <Definition>6112f565-3a62-4c25-904d-b0f955c5218c</Definition>
      <Type>Umbraco.Community.Contentment.DataPicker</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>d6112f01-6b03-4270-b289-98a7f0f41abc</Key>
      <Caption>General</Caption>
      <Alias>general</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>