<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b53ea96a-7b59-4c4a-b671-5b8914370c71" Alias="projectsPage" Level="2">
  <Info>
    <Name>Projects</Name>
    <Icon>icon-inbox-full color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="a95827a8-fe49-4299-a63f-25fe109d48ee">page</Composition>
    </Compositions>
    <DefaultTemplate>Page</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="4b0fc262-066a-4c77-a34d-c0d2fa79b45d">Page</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="feb3c3c2-8902-4b81-b5bc-2b2cbb489e8b" SortOrder="0">projectPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>