<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="cfb2a9eb-c0e8-42f6-bba6-e9cbdb885894" Alias="regularGivingReceiptTemplate" Level="2">
  <Info>
    <Name>Regular Giving Receipt Template</Name>
    <Icon>icon-cash-register color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Template</Folder>
    <Compositions>
      <Composition Key="f3e587d8-4f02-4792-b627-561198224282">emailTemplate</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>