<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ec26e8cb-c178-49ec-b80c-65732bbcba56" Alias="searchSettings" Level="3">
  <Info>
    <Name>Search Settings</Name>
    <Icon>icon-search color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Settings/Search</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="42529fee-d608-4fb8-8442-895b3fd20004" SortOrder="0">googleSearchSettings</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>