<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0c47da24-af5d-4be4-9a68-8f7c5aefb308" Alias="searchPage" Level="2">
  <Info>
    <Name>Search</Name>
    <Icon>icon-search color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="a95827a8-fe49-4299-a63f-25fe109d48ee">page</Composition>
    </Compositions>
    <DefaultTemplate>Page</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="4b0fc262-066a-4c77-a34d-c0d2fa79b45d">Page</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>