<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="9eb58248-e692-4913-96c0-11c593879452" Alias="serviceSettings" Level="3">
  <Info>
    <Name>Service Settings</Name>
    <Icon>icon-server color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Settings/System</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="5354222f-5f73-400e-963f-666b832ed45c" SortOrder="0">cloudflareSettings</ContentType>
    <ContentType Key="99d54355-f1b1-45fb-a169-3b100749e54d" SortOrder="1">engageSettings</ContentType>
    <ContentType Key="a55f13f5-a9b2-4984-ae4c-800ce87aa994" SortOrder="2">currencylayerSettings</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>