<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="bbfae123-4d0e-4645-b046-38f538b9e4cb" Alias="settings" Level="2">
  <Info>
    <Name>Settings</Name>
    <Icon>icon-settings color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Settings</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="b8a329ee-b147-4fef-a2fa-ba42d76c219e" SortOrder="0">analyticsSettings</ContentType>
    <ContentType Key="15c3050c-b48f-48c7-bdf8-69f2d8dbcab3" SortOrder="1">blogSettings</ContentType>
    <ContentType Key="edf297f0-a5ec-4d2b-b637-cb5f6f3dc26a" SortOrder="2">emailSettings</ContentType>
    <ContentType Key="cf2c3866-df59-4371-94b5-74fa17887c62" SortOrder="3">givingSettings</ContentType>
    <ContentType Key="c4585496-0f46-4654-bc79-daa6403da752" SortOrder="4">localizationSettings</ContentType>
    <ContentType Key="cc207c66-7a11-47fb-8132-1746a6caa334" SortOrder="5">newsletterSettings</ContentType>
    <ContentType Key="7328630b-bac3-468d-892a-2ebd425cf892" SortOrder="6">paymentSettings</ContentType>
    <ContentType Key="ec26e8cb-c178-49ec-b80c-65732bbcba56" SortOrder="7">searchSettings</ContentType>
    <ContentType Key="4ae0a770-2d31-419b-992f-2bf41ecdb112" SortOrder="8">socialMediaSettings</ContentType>
    <ContentType Key="a5a5cdbb-9c0a-4517-8be2-618dd3f70075" SortOrder="9">sponsorshipSchemes</ContentType>
    <ContentType Key="20213c69-3d38-433f-9891-6202eb68b043" SortOrder="10">systemSettings</ContentType>
    <ContentType Key="4097c66c-796f-4256-b521-e0e1e303c2db" SortOrder="11">validationSettings</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>