<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="bbfae123-4d0e-4645-b046-38f538b9e4cb" Alias="settings" Level="2">
  <Info>
    <Name>Settings</Name>
    <Icon>icon-settings color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Settings</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="b8a329ee-b147-4fef-a2fa-ba42d76c219e" SortOrder="0">analyticsSettings</ContentType>
    <ContentType Key="15c3050c-b48f-48c7-bdf8-69f2d8dbcab3" SortOrder="1">blogSettings</ContentType>
    <ContentType Key="c4585496-0f46-4654-bc79-daa6403da752" SortOrder="12">localizationSettings</ContentType>
    <ContentType Key="4ae0a770-2d31-419b-992f-2bf41ecdb112" SortOrder="16">socialMediaSettings</ContentType>
    <ContentType Key="98dad18b-507e-4f46-842f-938dac685b6d" SortOrder="17">stagingSettings</ContentType>
    <ContentType Key="4258b7ed-30fd-4cb4-a231-8280378bf29c" SortOrder="19">urlSettings</ContentType>
    <ContentType Key="99d54355-f1b1-45fb-a169-3b100749e54d" SortOrder="20">webhookSettings</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>