<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="12bcd60b-b3aa-4f08-8a6f-b5ee85fd4d64" Alias="sitemap" Level="2">
  <Info>
    <Name>Sitemap</Name>
    <Icon>icon-sitemap color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Other</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>