<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="4ae0a770-2d31-419b-992f-2bf41ecdb112" Alias="socialMediaSettings" Level="3">
  <Info>
    <Name>Social Media Settings</Name>
    <Icon>icon-share-alt-2 color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Settings/Social+Media</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="eccadea7-0136-4b82-af7f-963b7b0bc1a3" SortOrder="0">facebookSettings</ContentType>
    <ContentType Key="e03a150a-a057-4e5e-ad4d-647f20ec4aa8" SortOrder="1">instagramSettings</ContentType>
    <ContentType Key="a371fce5-6c42-47d1-83a3-9246a12010ba" SortOrder="3">twitterSettings</ContentType>
    <ContentType Key="0139b958-fd72-4227-a0f2-a13ff393b83a" SortOrder="4">youTubeSettings</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>