<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="48ded3bc-2bc3-42ca-b911-27dd8c60a209" Alias="sponsorshipDonationOption" Level="2">
  <Info>
    <Name>Sponsorship</Name>
    <Icon>icon-user-female color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Giving</Folder>
    <Compositions>
      <Composition Key="51375c92-0f93-4ca3-b61c-f4e05a9edd0e">donationOption</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>cb2c08bf-3c93-4124-8d53-de360b1815e4</Key>
      <Name>Scheme</Name>
      <Alias>scheme</Alias>
      <Definition>a1e002c2-c992-4aff-bd07-170db70eaaf3</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>1da8c25f-cafa-4076-9b4f-aaacf920114d</Key>
      <Caption>General</Caption>
      <Alias>general</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>