<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="16a77ffd-7f0e-4513-98e1-89faa2e2d13d" Alias="sponsorshipScheme" Level="4">
  <Info>
    <Name>Sponsorship Scheme</Name>
    <Icon>icon-user-female color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Settings/Giving/Sponsorship</Folder>
    <Compositions>
      <Composition Key="9be53f39-7add-4635-a33d-18ba4805955e">fundDimensionOptionsMandatory</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="6b463b19-126b-4b71-944d-f0aa91fc8741" SortOrder="0">sponsorshipSchemeComponent</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>a6c6ffa4-15a9-4e87-933f-232c3b8af786</Key>
      <Name>Allowed Durations</Name>
      <Alias>allowedDurations</Alias>
      <Definition>20f6063c-c548-4648-8dc6-3df07da25134</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3ba699b1-78a1-494c-91ed-23af7c72c46c</Key>
      <Name>Allowed Giving Types</Name>
      <Alias>allowedGivingTypes</Alias>
      <Definition>861829ee-7031-467a-a0dd-498c36cac0d2</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>f36c3447-effc-49b4-9313-12d279521583</Key>
      <Caption>General</Caption>
      <Alias>general</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>