<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a5a5cdbb-9c0a-4517-8be2-618dd3f70075" Alias="sponsorshipSchemes" Level="4">
  <Info>
    <Name>Sponsorship Schemes</Name>
    <Icon>icon-users-alt color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Settings/Giving/Sponsorship</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="16a77ffd-7f0e-4513-98e1-89faa2e2d13d" SortOrder="0">sponsorshipScheme</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>