<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="20213c69-3d38-433f-9891-6202eb68b043" Alias="systemSettings" Level="3">
  <Info>
    <Name>System Settings</Name>
    <Icon>icon-umb-settings color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Settings/System</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="32e8241d-bec6-4601-952e-36b3c3e14c6a" SortOrder="0">countrySettings</ContentType>
    <ContentType Key="67a29fe1-cdb3-439b-853f-1a1508447822" SortOrder="1">currencySettings</ContentType>
    <ContentType Key="9eb58248-e692-4913-96c0-11c593879452" SortOrder="2">serviceSettings</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>