<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="70cc8bc2-95bd-47f9-961b-dd243e65d636" Alias="taxReliefSettings" Level="3">
  <Info>
    <Name>Tax Relief Settings</Name>
    <Icon>icon-diploma color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Settings/Tax+Relief</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="8ad39b47-31f6-4166-b8e5-86b7c3041d1d" SortOrder="0">giftAidSettings</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>8334537d-f912-4289-8fd1-0fde7b89a571</Key>
      <Name>Scheme</Name>
      <Alias>scheme</Alias>
      <Definition>1dbd1d2e-05fc-4ff2-9955-e876207b8f2e</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>a458889f-4271-4da8-8a0f-3e1cf76e3c4c</Key>
      <Caption>General</Caption>
      <Alias>general</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>