<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0525b111-d2d8-46b1-9572-d6ff73bcd254" Alias="templateEmails" Level="2">
  <Info>
    <Name>Template Emails</Name>
    <Icon>icon-message color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Template</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="f3e587d8-4f02-4792-b627-561198224282" SortOrder="0">checkoutTemplateEmail</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>