<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e09615ff-b7ca-46b2-8d14-bbce4adefd13" Alias="textFolder" Level="3">
  <Info>
    <Name>Text Folder</Name>
    <Icon>icon-folder color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Settings/Localization</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="d435eb9d-0146-4653-bb14-5774ee715b06" SortOrder="0">textContainer</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>