<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="bedcbcef-4ab5-4f88-bbf9-3f0a2904e2c6" Alias="titleValidationSettings" Level="3">
  <Info>
    <Name>Title Validation Settings</Name>
    <Icon>icon-users color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Settings/Validation</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="7cbe4887-a0e4-49c4-8569-48241ce89c28" SortOrder="0">title</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>