<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a371fce5-6c42-47d1-83a3-9246a12010ba" Alias="twitterSettings" Level="3">
  <Info>
    <Name>Twitter Settings</Name>
    <Icon>icon-chat-active color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Settings/Social+Media</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>4bf5d55a-72f1-4015-85e7-206c8348b3b5</Key>
      <Name>Page URL</Name>
      <Alias>pageUrl</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>b940ee53-7163-4c1a-83e8-828e9e75b92a</Key>
      <Caption>General</Caption>
      <Alias>general</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>