<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e15b7647-0a09-45ae-b117-2fc376ab2a63" Alias="vacancies" Level="2">
  <Info>
    <Name>Vacancies</Name>
    <Icon>icon-user-females-alt color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Vacancies</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="054f057c-ecb9-4f01-a11e-b4b2780e3672" SortOrder="0">vacancy</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>