<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="4097c66c-796f-4256-b521-e0e1e303c2db" Alias="validationSettings" Level="3">
  <Info>
    <Name>Validation Settings</Name>
    <Icon>icon-check color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Settings/Validation</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="581617e0-bacc-419f-a7b2-837985f52e2d" SortOrder="0">phoneValidationSettings</ContentType>
    <ContentType Key="91af8b30-bc98-4e40-acbd-dd556b1c3a62" SortOrder="1">addressValidationSettings</ContentType>
    <ContentType Key="a2ef2707-5ca9-49a3-abe6-447ac66a31bb" SortOrder="2">emailValidationSettings</ContentType>
    <ContentType Key="bedcbcef-4ab5-4f88-bbf9-3f0a2904e2c6" SortOrder="3">titleValidationSettings</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>