<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="99d54355-f1b1-45fb-a169-3b100749e54d" Alias="webhookSettings" Level="3">
  <Info>
    <Name>Webhook Settings</Name>
    <Icon>icon-ethernet color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Settings/Webhooks</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>2d440e7b-1e5a-42f7-aa07-a54a0f6d1443</Key>
      <Name>Webhooks</Name>
      <Alias>productionWebhooks</Alias>
      <Definition>df4a7588-babb-4754-9662-d59d453aef13</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="production">Production</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0fb7f8b7-02da-421c-a924-c80acdd8fd3f</Key>
      <Name>Webhooks</Name>
      <Alias>stagingWebhooks</Alias>
      <Definition>df4a7588-babb-4754-9662-d59d453aef13</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="staging">Staging</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>96d55c19-6929-4309-8a02-593507be7f0f</Key>
      <Caption>Production</Caption>
      <Alias>production</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>5d977842-5b7f-49df-b66b-6fc2f04c4119</Key>
      <Caption>Staging</Caption>
      <Alias>staging</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>