@using Microsoft.AspNetCore.Http.Extensions

@inject IPartialText PartialText

@{
    PartialText.SetPartialName("CrowdfundingShareModal");
}

<div class="modalsItem modall" id="share-modal">
    <div class="share">
        <h2>@PartialText.Get("Share This Page")</h2>
        
        <div class="share__text">
            <p class="detail">
                @PartialText.Get("Share the link below and help spread the word.")
            </p>
        </div>
        
        <div class="share__link">
            <div class="lead" id="myUrl">
                @Context.Request.GetDisplayUrl()
            </div>
            
            <button type="button" id="copyBtn">
                <svg>
                    <use xlink:href="#copyIcon"></use>
                </svg>
            </button>
        </div>
        
        <button type="button" class="button secondary">@PartialText.Get("Close")</button>
    </div>
</div>