@using Microsoft.AspNetCore.Http.Extensions

@inject IPartialText PartialText

@{
    PartialText.SetPartialName("CrowdfundingShareModal");
}

<div class="n3o-modalsItem modall" id="share-modal">
    <div class="n3o-share">
        <h2 class="n3o-h2">@PartialText.Get("Share This Page")</h2>
        
        <div class="n3o-share__text">
            <p class="n3o-p n3o-detail">
                @PartialText.Get("Share the link below and help spread the word.")
            </p>
        </div>
        
        <div class="n3o-share__link">
            <div class="n3o-lead" id="myUrl">
                @Context.Request.GetDisplayUrl()
            </div>
            
            <button type="button" id="copyBtn">
                <svg>
                    <use xlink:href="#copyIcon"></use>
                </svg>
            </button>
        </div>
        
        <button type="button" class="n3o-button secondary modallClose" data-modal="share-modal">@PartialText.Get("Close")</button>
    </div>
</div>